@model NewISE.Models.InviamiPswModel
@using System.Web.Optimization;


<link href="~/Content/css/login.css" rel="stylesheet" />

@{
    ViewBag.Title = "Inviami la Password";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int CountError = 0;
    if (ViewBag.ModelStateCount != null)
    {
        CountError = (int)ViewBag.ModelStateCount;

    }

}


<div class="login-page">
    <div class="form form-horizontal">
        <form id="frmInviamiPassword" class="login-form" action="/Account/InviamiPassword" method="post">
            @Html.AntiForgeryToken()
            <div id="Alert" class="alert alert-danger hide">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input id="matricola" name="matricola" type="text" class="form-control" placeholder="Matricola" value="@Model.matricola" />
                    @Html.ValidationMessage("matricola", new { @class = "text-danger" })
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-outline-dark">Inviami</button>
                </div>
            </div>


        </form>
    </div>
</div>

@section scripts
{

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("form").submit(function () {
                if ($("form").valid()) {
                    Blocca();
                }
            });

            if (parseInt('@CountError') > 0) {
                $("#Alert").removeClass("hide");
                $("#Alert").css("show");
            }
        });

    </script>
}
