@model NewISE.Models.loginModel

@using System.Web.Optimization;

<link href="~/Content/css/login.css" rel="stylesheet" />

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string returnUrl = (string)ViewBag.RetunUrl;
    int CountError = 0;
    if (ViewBag.ModelStateCount != null)
    {
        CountError = (int)ViewBag.ModelStateCount;

    }

    string msgGoogle = string.Empty;

    if (ViewData["msgGoogle"] != null)
    {
        msgGoogle = ViewData["msgGoogle"].ToString();
    }

}
<div class="row">
    <div class="col-xs-12">
        <div class="login-page">
            <div class="form">
                <form id="frmLogin" class="login-form" action="/Account/Login" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="@returnUrl" name="returnUrl" />

                    <div id="Alert" class="alert alert-danger hide">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @if (msgGoogle != string.Empty)
                        {
                            <span class="text-danger">@msgGoogle</span>
                        }
                    </div>

                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", placeholder = "Matricola" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    <button id="btLogin" class="button">login</button>

                    @*<div style="margin-top: 5px;">
                            <label>Ricordati di me</label>@Html.EditorFor(model => model.ricordati)
                        </div>*@

                    <p class="message">
                        Dimenticata la password? <a onclick=" Blocca(); " href="/account/InviamiPassword">Inviami la password</a>
                    </p>
                </form>
                <div>
                    <form id="LoginGoogle" action="/Account/LoginGoogle" method="post" novalidate="novalidate">
                        @Html.AntiForgeryToken()
                        <div>
                            <input type="hidden" value="@returnUrl" name="ReturnUrl" />
                            <button class="link" id="btLoginGogole" value="Accedi con Google" title="Login con utenza Google">Accedi con <img src="~/Immagini/Google_logo.jpg" width="65" /></button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts
{

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function ()
        {
            if (parseInt('@CountError') > 0)
            {
                $("#Alert").removeClass("hide");
                $("#Alert").css("show");
            }

            $("#frmLogin").submit(function ()
            {
                if ($("#frmLogin").valid())
                {
                    Blocca();
                }

            });

            $("#LoginGoogle").submit(function ()
            {
                Blocca();

            });

        });
    </script>
}