@using NewISE.Models.DBModel
@model NewISE.Models.ViewModel.ElencoFamiliariModel


@if (Model.Documenti?.Any() ?? false)
{
    if (Model.escludiPassaporto)
    {
        @*<img class="SfondoBordoImg " src="~/Immagini/IconeDocumenti/PDF-icon-Disable.png" width="30px" height="30px" disabled="disabled" />*@
    }
    else
    {
        <a href="#" onclick=" ElencoDocumenti(@Model.idFamiliare, @Convert.ToDecimal(EnumGruppiDoc.Viaggi) , @Convert.ToDecimal(Model.Documenti.First().tipoDocumento) , @Convert.ToDecimal(Model.parentela) , @Model.idMaggiorazioniFamiliari ) ">
            <img class="SfondoBordoImg" width="30px" height="30px" src="../../Immagini/IconeDocumenti/PDF-icon.png" />
        </a>
    }
}
else
{
    if (Model.escludiPassaporto)
    {
        @*<img class="SfondoBordoImg " src="~/Immagini/IconeDocumenti/PDF-icon-Disable.png" width="30px" height="30px" disabled="disabled" />*@
    }
    else
    {
        <a href="#" onclick=" ElencoDocumenti(@Model.idFamiliare, @Convert.ToDecimal(EnumGruppiDoc.Viaggi) , 13, @Convert.ToDecimal(Model.parentela) , @Model.idMaggiorazioniFamiliari ) ">
            <img class="SfondoBordoImg" src="~/Immagini/IconeDocumenti/PDF-icon-Disable.png" width="30" title="Documenti" />
        </a>
    }
}

