@using NewISE.Models.DBModel
@using NewISE.Models.ViewModel
@model IEnumerable<NewISE.Models.ViewModel.ElencoFamiliariPassaportoModel>


<div style="padding-left: 15px; padding-right: 5px; padding-top: 10px;">
    <h4>Pratiche passaporto</h4>
    <table cellspacing="0" id="tabElencoFamiliariPass">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nominativo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.codiceFiscale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dataInizio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dataFine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.parentela)
                </th>
                <th style="width: 20px;">
                    @Html.DisplayNameFor(model => model.idAltriDati)
                </th>

                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.richiedi)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: left;">
                        @Html.DisplayFor(modelItem => item.nominativo)
                    </td>
                    <td style="text-align: left;">
                        @Html.DisplayFor(modelItem => item.codiceFiscale)
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.dataInizio)
                    </td>
                    <td style="text-align: center;">
                        @if (item.dataFine != Convert.ToDateTime("31/12/9999"))
                        {
                            @Html.DisplayFor(modelItem => item.dataFine)
                        }
                    </td>
                    <td style="text-align: center;">
                        @switch (item.parentela)
                        {
                            case EnumParentela.Coniuge:
                                <span>Coniuge</span>
                                break;
                            case EnumParentela.Figlio:
                                <span>Figlio</span>
                                break;
                            case EnumParentela.Richiedente:
                                <span>Richiedente</span>
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                        }
                    </td>
                    @if (item.idAltriDati > 0)
                    {
                        switch (item.parentela)
                        {
                            case EnumParentela.Coniuge:
                                <td style="text-align: center;">
                                    <a href="#" id="linkAltriDatiFam" onclick=" AltriDatiFamiliariConiuge(@item.idAltriDati); ">
                                        <img src="~/Immagini/Plus_Green.png" title="Altri Dati Familiari" width="17" height="17" />
                                    </a>
                                </td>
                                break;
                            case EnumParentela.Figlio:
                                <td style="text-align: center;">
                                    <a href="#" id="linkAltriDatiFam" onclick=" AltriDatiFamiliariFiglio(@item.idAltriDati); ">
                                        <img src="~/Immagini/Plus_Green.png" title="Altri Dati Familiari" width="17" height="17" />
                                    </a>
                                </td>
                                break;
                            case EnumParentela.Richiedente:
                                <td></td>
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                        }
                    }
                    else
                    {
                        <td style="text-align: center;"></td>
                    }

                    <td style="text-align: center;">
                        <input id="hColElencoDocIdFamiliare" type="hidden" value="@item.idFamiliarePassaporto" />
                        <input id="hColElencoDocParentela" type="hidden" value="@Convert.ToDecimal(item.parentela)" />
                        <div id="divColElencoDoc">
                            @Html.Action("ColonnaElencoDoc", "PratichePassaporto", new { idAttivazionePassaporto = item.idAttivazionePassaporti, idFamiliarePassaporto = item.idFamiliarePassaporto, parentela = item.parentela })
                        </div>
                    </td>
                    <td style="text-align: center;">
                        @Html.Action("ChkIncludiPassaporto", "PratichePassaporto", new { idAttivitaPassaporto = item.idAttivazionePassaporti, idFamiliarePassaporto = item.idFamiliarePassaporto, parentela = item.parentela, esisteDoc = item.HasDoc.esisteDoc, includiPassaporto = item.richiedi })
                    </td>

                </tr>
            }
        </tbody>


    </table>
</div>



<script type="text/javascript">
    $("#tabElencoFamiliariPass").DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "info": false,
        "lengthChange": false,
        "pageLength": 5,
        "searching": false,
        "paging": false,
        "bJQueryUI": true,
        "sDom": 'lfrtip',
        //dom: 'Bfrtip',
        //buttons: [
        //    {
        //        text: 'Nuovo Coniuge',
        //        className: 'green',
        //        action: function (e, dt, node, config) {
        //            NuovoConiuge();
        //        }
        //    }
        //],
        //"columnDefs": [
        //    {
        //        "targets": [0],
        //        "visible": false,
        //        "searchable": false
        //    },

        //]
    });

    //function GestioneChkEscludiPassaporto() {
    //    var rotta = "/PratichePassaporto/LeggiStatusPratichePassaporto";
    //    var idPassaporto = parseInt('0');

    //    $.ajax({
    //        url: rotta,
    //        type: "POST", //Le info testuali saranno passate in POST
    //        data: { idPassaporto: idPassaporto },
    //        dataType: 'json',
    //        async: false,
    //        beforeSend: function () {
    //            //debugger;
    //            //VerificaAutenticazione();
    //            //$('#ModalPensione').modal('show');
    //            //Blocca();

    //        },
    //        success: function (result) {
    //            //debugger;
    //            if (result.err == "") {
    //                if (result.praticaConclusa == true || result.notificaRichiesta == true) {
    //                    DisabilitaCheckBox();
    //                }
    //                else {
    //                    AbilitaCheckBox();
    //                }
    //            }

    //        },
    //        complete: function () {

    //        },
    //        error: function (error) {
    //            //debugger;
    //            //Sblocca();
    //            var msg = error.responseText;
    //            ErroreElaborazioneAjax(msg);
    //        }
    //    });

    //}

    function DisabilitaCheckBox() {
        //debugger;
        var row = $("#tabElencoFamiliariPass tr");
        var objChk = row.find("#includiPassaporto");

        try {
            for (var i = 0; i < objChk.length; i++) {
                $(objChk[i]).attr("disabled", "disabled");
                $(objChk[i]).addClass("disabled");
            }
        }
        catch (e) {
            var msg = e;
            ErroreElaborazioneAjax(msg);
        }
    }

    //function AbilitaCheckBox() {
    //    debugger;
    //    var row = $("#tabElencoFamiliariPass tr");
    //    var objChk = row.find("#escludiPassaporto");

    //    try {
    //        for (var i = 0; i < objChk.length; i++) {

    //            $(objChk[i]).removeAttr("disabled");
    //            $(objChk[i]).removeClass("disabled");
    //        }
    //    }
    //    catch (e) {
    //        var msg = e;
    //        ErroreElaborazioneAjax(msg);
    //    }
    //}

    function AggiornaColElencoDoc(result, idFamiliare, parentela) {
        //debugger;
        var row = $("#tabElencoFamiliariPass tr");
        var objIdFamiliare = row.find("#hColElencoDocIdFamiliare");
        var objParentela = row.find("#hColElencoDocParentela");
        var ldiv = row.find("#divColElencoDoc");

        try {
            for (var i = 0; i < objIdFamiliare.length; i++) {
                var valIdFam = objIdFamiliare[i].value;
                var valParentela = objParentela[i].value;
                if (valIdFam == idFamiliare && valParentela == parentela) {
                    //var id = obj[i].id;
                    //var unicoId = obj[i].uniqueID;
                    var div = ldiv[i];

                    $(div).empty();
                    $(div).html(result);

                    return;
                }
            }
        }
        catch (e) {
            var msg = e;
            ErroreElaborazioneAjax(msg);
        }

    }

    function ColElencoDoc(idAttivazioniPassaporto, idFamiliare, parentela) {
        //debugger;
        var rotta = "/PratichePassaporto/ColonnaElencoDoc";
        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idAttivazionePassaporto: idAttivazioniPassaporto, idFamiliarePassaporto: idFamiliare, parentela: parentela },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$('#ModalPensione').modal('show');
                //Blocca();

            },
            success: function (result) {
                //debugger;
                AggiornaColElencoDoc(result, idFamiliare, parentela);

                //$("#divColElencoDoc").empty();
                //$("#divColElencoDoc").html(result);

            },
            complete: function () {

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });
    }


    function ConfermaIncludiEscludiPassaporto(chkEscludi, id, parentela) {
        //debugger;

        var rotta = "/PratichePassaporto/ConfermaIncludiEscludiPassaporto";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { id: id, parentela: parentela },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                if (result.err == "") {
                    chkEscludi.checked = result.chk;
                    ColElencoDoc(result.idAttivazioniPassaporto, id, parentela);
                    GestionePulsantiNotificaAndConcludiPassaporto();

                } else {
                    chkEscludi.checked = !chkEscludi.checked;
                    ErroreElaborazioneAjax(result.err);
                }
                //RicercaDocumenti();

            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });

    }


    function ElencoDocumenti(idFamiliarePassaporto, tipoDoc, idParentela) {
        //debugger;
        var rotta = "/Documenti/ElencoDocumentiPassaporto";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: {
                idFamiliarePassaporto: idFamiliarePassaporto,
                tipoDoc: tipoDoc,
                parentela: idParentela
            },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //Blocca();

                //$('#DocModal').modal('show');
            },
            success: function (result) {
                //debugger;

                $("#divPassaporto").empty();
                $("#divPassaporto").html(result);
                //GestionePulsantiNotificaAndConcludiPassaporto();
            },
            complete: function () {

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

    function AltriDatiFamiliariConiuge(idAltriDati) {
        //debugger;
        var rotta = "/AltriDatiFamiliari/AltriDatiFamiliariConiugePassaporti";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idAltriDati: idAltriDati },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$('#ModalPensione').modal('show');
                //Blocca();

            },
            success: function (result) {
                //debugger;
                //$("#viewPensione").empty();
                //$("#viewPensione").html(result);
                $("#divPassaporto").empty();
                $("#divPassaporto").html(result);

            },
            complete: function () {

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

    function AltriDatiFamiliariFiglio(idAltriDati) {
        //debugger;
        var rotta = "/AltriDatiFamiliari/AltriDatiFamiliariFiglioPassaporto";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idAltriDati: idAltriDati },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$('#ModalPensione').modal('show');
                //Blocca();

            },
            success: function (result) {
                //debugger;
                //$("#viewPensione").empty();
                //$("#viewPensione").html(result);
                $("#divPassaporto").empty();
                $("#divPassaporto").html(result);

            },
            complete: function () {

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

</script>