@using NewISE.Models.DBModel
@using NewISE.Models.ViewModel
@model IEnumerable<NewISE.Models.ViewModel.ElencoFamiliariModel>

<div style="padding-left: 15px; padding-right: 5px; padding-top: 10px;">
    <table cellspacing="0" id="tabElencoFamiliariPass">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nominativo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodiceFiscale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dataInizio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dataFine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.parentela)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idAltriDati)
                </th>

                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.escludiPassaporto)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nominativo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodiceFiscale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dataInizio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dataFine)
                    </td>
                    <td>
                        @switch (item.parentela)
                        {
                            case EnumParentela.Coniuge:
                                <span>Coniuge</span>
                                break;
                            case EnumParentela.Figlio:
                                <span>Figlio</span>
                                break;
                            case EnumParentela.Richiedente:
                                <span>Richiedente</span>
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                        }
                    </td>
                    @if (item.idAltriDati > 0)
                {
                    switch (item.parentela)
                    {
                        case EnumParentela.Coniuge:
                                <td style="text-align: center;">
                                    <a href="#" id="linkAltriDatiFam" onclick=" AltriDatiFamiliariConiuge(@item.idFamiliare); ">
                                        <img src="~/Immagini/Plus_Green.png" title="Altri Dati Familiari" width="30" />
                                    </a>
                                </td>
                                break;
                            case EnumParentela.Figlio:
                                <td style="text-align: center;">
                                    <a href="#" id="linkAltriDatiFam" onclick=" AltriDatiFamiliariFiglio(@item.idFamiliare); ">
                                        <img src="~/Immagini/Plus_Green.png" title="Altri Dati Familiari" width="30" />
                                    </a>
                                </td>
                                break;
                            case EnumParentela.Richiedente:
                                <td></td>
                                break;
                            default:
                                throw new ArgumentOutOfRangeException();
                        }
                    }
                    else
                    {
                        <td style="text-align: center;"></td>
                    }

                    <td style="text-align: center;">
                        <input id="hColElencoDoc" type="hidden" value="@item.idFamiliare" />
                        <div id="divColElencoDoc">
                            @Html.Action("ColonnaElencoDoc", "PratichePassaporto", new { idFamiliare = item.idFamiliare, parentela = item.parentela })
                        </div>
                    </td>

                    @if (item.Documenti?.Any() ?? false)
                    {
                        <td style="text-align: center;">
                            @Html.CheckBoxFor(modelItem => item.escludiPassaporto, new { @onclick = "return null;", @disabled = "disabled" })
                        </td>
                    }
                    else
                    {
                        <td style="text-align: center;">
                            @Html.CheckBoxFor(modelItem => item.escludiPassaporto, new { @onclick = "ConfermaEscludiPassaporto(this," + @item.idFamiliare + ", " + Convert.ToDecimal(item.parentela) + ");" })
                        </td>
                    }


                </tr>
            }
        </tbody>


    </table>
</div>

@*<div class="modal fade" id="ModalEscludiPassaporto" tabindex="-1" role="dialog" aria-labelledby="ModalEscludiPassaportoLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="AttivaModelLabel">Attenzione!!!</h3>
                </div>
                <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                    <p id="viewEscludiPassaporto">
                        <label id="lblTestoEscludiPassaporto">Procedere con l'esclusione del nominativo dalla richiesta di passaporto/visto?</label>
                    </p>
                    @Html.Hidden("hBoolEscludi")
                    @Html.Hidden("hId")
                    @Html.Hidden("hParentela")
                    @Html.Hidden("hidChk")
                </div>
                <div class="modal-footer">
                    <button id="btConfermaEscludi" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaEscludiPassaporto();">Procedi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>*@

<script type="text/javascript">
    $("#tabElencoFamiliariPass").DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "info": false,
        "lengthChange": false,
        "pageLength": 5,
        "searching": false,
        "paging": false,
        "bJQueryUI": true,
        "sDom": 'lfrtip',
        //dom: 'Bfrtip',
        //buttons: [
        //    {
        //        text: 'Nuovo Coniuge',
        //        className: 'green',
        //        action: function (e, dt, node, config) {
        //            NuovoConiuge();
        //        }
        //    }
        //],
        //"columnDefs": [
        //    {
        //        "targets": [0],
        //        "visible": false,
        //        "searchable": false
        //    },

        //]
    });



    function AggiornaColElencoDoc(result, idFamiliare) {
        //debugger;
        var row = $("#tabElencoFamiliariPass tr");
        var obj = row.find("#hColElencoDoc");
        var ldiv = row.find("#divColElencoDoc");

        try {
            for (var i = 0; i < obj.length - 1; i++) {
                var valore = obj[i].value;

                if (valore == idFamiliare) {
                    //var id = obj[i].id;
                    //var unicoId = obj[i].uniqueID;
                    var div = ldiv[i];

                    $(div).empty();
                    $(div).html(result);

                    return;
                }
            }
        }
        catch (e) {
            throw e;
        }

    }

    function ColElencoDoc(idFamiliare, parentela) {
        var rotta = "/PratichePassaporto/ColonnaElencoDoc";
        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idFamiliare: idFamiliare, parentela: parentela },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$('#ModalPensione').modal('show');
                //Blocca();

            },
            success: function (result) {
                //debugger;


                AggiornaColElencoDoc(result, idFamiliare);


                //$("#divColElencoDoc").empty();
                //$("#divColElencoDoc").html(result);

            },
            complete: function () {

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });
    }


    function ConfermaEscludiPassaporto(chkEscludi, id, parentela) {
        //debugger;
        //var boolEscludi = chkEscludi.checked;
        //var idFam = parseInt(id);
        //var parentela = parseInt($("#hParentela").val());
        //var idChk = $("#hidChk").val();
        //var chkEscludi = $("#" + idChk);

        var rotta = "/PratichePassaporto/ConfermaEscludiPassaporto";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { id: id, parentela: parentela },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                if (result.err == "") {
                    chkEscludi.checked = result.chk;
                    ColElencoDoc(id, parentela);

                } else {
                    chkEscludi.checked = !chkEscludi.checked;
                    ErroreElaborazioneAjax(result.err);
                }
                //RicercaDocumenti();

            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });

    }

    //function EscludiPassaporto(chkEscludi, id, parentela) {
    //    //debugger;

    //    var boolEscludi = chkEscludi.checked;
    //    $("#hBoolEscludi").val(boolEscludi);
    //    $("#hId").val(id);
    //    $("#hParentela").val(parentela);

    //    msgEscludiPassaportoModal(id, parentela, boolEscludi);


    //}

    //function msgEscludiPassaportoModal(id, parentela, boolChk) {
    //    //debugger;
    //    var rotta = "/PratichePassaporto/NominativoEscludiPassaporto";


    //    $.ajax({
    //        type: "POST",
    //        url: rotta,
    //        data: { id: id, parentela: parentela, boolChk: boolChk },
    //        dataType: 'json',
    //        beforeSend: function () {
    //            //debugger;

    //        },
    //        success: function (result) {
    //            //debugger;

    //            if (result.err == "") {
    //                var msg = result.msg;
    //                $('#lblTestoEscludiPassaporto').text(msg);
    //                $('#ModalEscludiPassaporto').modal().show();


    //            } else {
    //                ErroreElaborazioneAjax(result.err);
    //            }
    //        },
    //        complete: function () {

    //        },
    //        error: function (jqXHR, textStatus, errorThrow) {
    //            //debugger;
    //            var msg = errorThrow.err;
    //            ErroreElaborazioneAjax(msg);
    //        }

    //    });
    //}


    function ElencoDocumenti(id, gruppoDoc, tipoDoc, idParentela, idMaggiorazioniFamiliari) {
        //debugger;
        var rotta = "/Documenti/ElencoDocumenti";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: {
                id: id, gruppoDocumento: gruppoDoc, tipoDoc: tipoDoc, parentela: idParentela, idMaggiorazioniFamiliari: idMaggiorazioniFamiliari
            },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //Blocca();

                //$('#DocModal').modal('show');
            },
            success: function (result) {
                //debugger;
                //$("#viewPensione").empty();
                //$("#viewPensione").html(result);
                $("#divPassaporto").empty();
                $("#divPassaporto").html(result);
            },
            complete: function () {

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

    function AltriDatiFamiliariConiuge(idConiuge) {
        //debugger;
        var rotta = "/AltriDatiFamiliari/AltriDatiFamiliariConiugePassaporti";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idConiuge: idConiuge },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$('#ModalPensione').modal('show');
                //Blocca();

            },
            success: function (result) {
                //debugger;
                //$("#viewPensione").empty();
                //$("#viewPensione").html(result);
                $("#divPassaporto").empty();
                $("#divPassaporto").html(result);

            },
            complete: function () {

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

    function AltriDatiFamiliariFiglio(idFiglio) {
        //debugger;
        var rotta = "/AltriDatiFamiliari/AltriDatiFamiliariFiglioPassaporto";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idFiglio: idFiglio },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$('#ModalPensione').modal('show');
                //Blocca();

            },
            success: function (result) {
                //debugger;
                //$("#viewPensione").empty();
                //$("#viewPensione").html(result);
                $("#divPassaporto").empty();
                $("#divPassaporto").html(result);

            },
            complete: function () {

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

</script>