@model NewISE.Models.DBModel.AltriDatiFamFiglioModel

@{
    decimal idTitoliViaggio = Convert.ToDecimal(ViewData["idTitoliViaggio"]);
    decimal idAttivazioneTitoliViaggio = Convert.ToDecimal(ViewData["idAttivazioneTitoliViaggio"]);

}

<div style="padding-left: 15px;">
    <h4>Altri Dati Familiari Figlio</h4>
    <hr />
    <div class="table">
        <div class="row">
            <div class="col-xs-6">
                <div class="table" style="background-color:transparent" >
                    <div class="row">
                        <div class="col-xs-5 text-right" style="font-weight:bold">
                            @Html.DisplayNameFor(model => model.Figli.nominativo)
                        </div>
                        <div class="col-xs-6" style="padding-left:10px">
                            <span class="text-uppercase">@Html.DisplayFor(model => model.Figli.nominativo)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 text-right" style="font-weight:bold">
                            @Html.DisplayNameFor(model => model.dataNascita)
                        </div>
                        @if (Model.dataNascita.HasValue)
                        {
                            <div class="col-xs-6" style="padding-left:10px">
                                <span class="text-uppercase">@Model.dataNascita.Value.ToShortDateString()</span>
                            </div>
                        }
                        else
                        {
                            <div class="col-xs-6" style="padding-left:10px">
                            </div>

                        }
                    </div>
                    @*<div class="row">
                        <div class="col-xs-5 text-right" style="font-weight:bold">
                            @Html.DisplayNameFor(model => model.capNascita)
                        </div>

                        <div class="col-xs-6" style="padding-left:10px">
                            @Html.DisplayFor(model => model.capNascita)
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-xs-5 text-right" style="font-weight:bold">
                            @Html.DisplayNameFor(model => model.comuneNascita)
                        </div>
                        <div class="col-xs-6" style="padding-left:10px">
                            <span class="text-uppercase">@Html.DisplayFor(model => model.comuneNascita)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 text-right" style="font-weight:bold">
                            @Html.DisplayNameFor(model => model.provinciaNascita)
                        </div>
                        <div class="col-xs-6" style="padding-left:10px">
                            <span class="text-uppercase">@Html.DisplayFor(model => model.provinciaNascita)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 text-right" style="font-weight:bold">
                            @Html.DisplayNameFor(model => model.nazionalita)
                        </div>
                        <div class="col-xs-6" style="padding-left:10px">
                            <span class="text-uppercase">@Html.DisplayFor(model => model.nazionalita)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="table" style="background-color:transparent">
                    <div class="row">
                        <div class="col-xs-5 text-right" style="font-weight:bold">
                            @Html.DisplayNameFor(model => model.indirizzoResidenza)
                        </div>
                        <div class="col-xs-6" style="padding-left:10px">
                            <span class="text-uppercase">@Html.DisplayFor(model => model.indirizzoResidenza)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 text-right" style="font-weight:bold">
                            @Html.DisplayNameFor(model => model.capResidenza)
                        </div>
                        <div class="col-xs-6" style="padding-left:10px">
                            @Html.DisplayFor(model => model.capResidenza)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 text-right" style="font-weight:bold">
                            @Html.DisplayNameFor(model => model.comuneResidenza)
                        </div>
                        <div class="col-xs-6" style="padding-left:10px">
                            <span class="text-uppercase">@Html.DisplayFor(model => model.comuneResidenza)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 text-right" style="font-weight:bold">
                            @Html.DisplayNameFor(model => model.provinciaResidenza)
                        </div>
                        <div class="col-xs-6" style="padding-left:10px">
                            <span class="text-uppercase">@Html.DisplayFor(model => model.provinciaResidenza)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 text-right" style="font-weight:bold">
                            @Html.DisplayNameFor(model => model.residente)
                        </div>
                        <div class="col-xs-6" style="padding-left:10px">
                            <span class="text-uppercase">@Html.DisplayFor(model => model.residente)</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 text-right" style="font-weight:bold">
                            @Html.DisplayNameFor(model => model.studente)
                        </div>
                        <div class="col-xs-6" style="padding-left:10px">
                            <span class="text-uppercase">@Html.DisplayFor(model => model.studente)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>
<p style="padding-left: 15px;">
    @Ajax.ActionLink("Torna indietro", "ElencoTitoliViaggio", "TitoliViaggio", new { idTitoliViaggio = idTitoliViaggio }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divTitoliViaggio", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace })
</p>

