@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.DBModel.DocumentiModel>




@{
    TitoloViaggioModel tvm = (TitoloViaggioModel)ViewData["titoliViaggio"];
}

<div class="row">
    <div class="col-xs-6">
        <label>Upload titoli carta d'imbarco</label>
    </div>
    <div class="col-xs-1">
        @if (Model?.Any() ?? false)
        {
            <a href="#" onclick="ElencoDocumenti(@tvm.idTitoloViaggio, @Convert.ToDecimal(EnumTipoDoc.Carta_Imbarco), @Convert.ToDecimal(EnumParentela.Richiedente), @Convert.ToDecimal(EnumChiamante.Titoli_Viaggio))">
                <img class="SfondoBordoImg" width="30" height="30" src="../../Immagini/IconeDocumenti/PDF-icon.png" />
            </a>
        }
        else
        {
            <a href="#" onclick="ElencoDocumenti(@tvm.idTitoloViaggio, @Convert.ToDecimal(EnumTipoDoc.Carta_Imbarco), @Convert.ToDecimal(EnumParentela.Richiedente), @Convert.ToDecimal(EnumChiamante.Titoli_Viaggio))">
                <img class="SfondoBordoImg" src="~/Immagini/IconeDocumenti/PDF-icon-Disable.png" width="30" title="Documenti" />
            </a>
        }




    </div>
</div>

<script type="text/javascript">
    function ElencoDocumenti(id, tipoDocumento, idParentela, chiamante) {
        //debugger;
        var rotta = "/Documenti/ElencoDocumenti";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { id: id, tipoDocumento: tipoDocumento, parentela: idParentela, chiamante: chiamante },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //Blocca();

                //$('#DocModal').modal('show');
            },
            success: function (result) {
                //debugger;
                //$("#viewPensione").empty();
                //$("#viewPensione").html(result);
                $("#divUploadTitoli").empty();
                $("#divUploadTitoli").html(result);

            },
            complete: function () {

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }
</script>