@{
   ViewBag.Title = "Parametri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal idTipoContributo = ViewBag.idTipoContributo == null ? 0 : (decimal)ViewBag.idTipoContributo;
    //ViewBag.idTipoContributo
}

<link href="~/Areas/Parametri/Contenuti/CSS/Parametri.css" rel="stylesheet" />
@Html.Hidden("hiTipoContributo")
@Html.Hidden("hiIdUfficio")

<div class="form-horizontal" id="divRiga1">

    <div class="form-group">
        @Html.Label("lblParametro", "Seleziona Tabella", new { @class = "control-label col-xs-2" })
        <div id="divCombo" class="col-xs-3 ">
            <div class="select2-container select2-container--classic">
                @Html.DropDownList("idParametro", ViewBag.ParametriList as IEnumerable<SelectListItem>, new { @class = "form-control select2 select2-select", @onchange = "prelevaPartiaViewParametri();", @onclick = "prelevaPartiaViewParametri();" })
            </div>
            @Html.ValidationMessage("idParametro", "", new { @class = "text-danger" })
        </div>
        <div id="divChk" class="col-xs-5">
            <div style="display:inline-block;">
                <input type="checkbox" id="escludiAnnullati" checked="checked" value="Escludi" onclick="prelevaPartiaViewParametri();" />
            </div>
            <div style="vertical-align:middle; display:inline-block;">
                <label>Escludi annullati</label>
            </div>
        </div>

    </div>

</div>

<div id="divContentpartial" class="row">
    <div id="divPViewParametri" class="col-xs-12">
    </div>
</div>

<div id="dialog-message" title="Attenzione!!!" style="display:none;">
    <div>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
        <strong><span id="msgDialog"></span></strong>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(function () {
            $("#idParametro").select2({
                placeholder: "Seleziona il Parametro",
                allowClear: true,
                language: "it"
            });

        });

        function prelevaPartiaViewParametri() {
            //  debugger;
            var rotta = "";

            var tabParam = parseInt($("#idParametro").select2('val'));
            var chk = false;
            if ($("#escludiAnnullati").is(":checked")) {
                chk = true;
            }

            var idLivello = parseInt($("#idLivello").val());


            if (isNaN(tabParam)) {
                //AlertDialog("Selezionare una tabella dei parametri.");
                $("#divPViewParametri").empty();
                return false;
            }
           // debugger;
            idLivello = parseInt($("#hiTipoContributo").val());
            var idUfficio = $("#hiIdUfficio").val();
            //  debugger;
            switch (tabParam) {
                case 0:// Aliquote Contributive
                    rotta = "/Parametri/ParamAliquoteContr/AliquoteContributive";
                    break;
                case 1:// Coefficiente Fascia Chilometrica
                    rotta = "/Parametri/ParamCoeffFasciaKm/CoefficienteFasciaKm";
                    idLivello = parseInt($("#idFKm").select2('val'));
                    //$("#hiTipoContributo").val(idLivello);
                    idUfficio = parseInt($("#idGruppoFKm").select2('val'));
                    //  $("#hiIdUfficio").val(idUfficio);
                    break;
                case 2:// Coefficiente di Richiamo
                    rotta = "/Parametri/ParamCoeffIndRichiamo/CoeffIndRichiamo";
                    break;
                case 3: // Coefficiente di Sede
                    rotta = "/Parametri/CoefficientiSede/CoefficientiSede";
                    break;
                case 4: // Indennita di base
                    rotta = "/Parametri/ParamIndennitaBase/IndennitaBase";
                    break;
                case 5:// Indennità Primo Segretario
                    rotta = "/Parametri/ParamPrimoIndSegr/PrimoSegretario";
                    break;
                case 6:// Indennità Sistemazione
                    rotta = "/Parametri/ParamIndSistemaz/IndennitaSistemazione";
                    break;
                case 7:// Maggiorazioni Annuali
                    rotta = "/Parametri/ParamMaggAnnuali/MaggiorazioniAnnuali";
                    break;
                case 8:// Percentuale Maggiorazione Abitazione
                    rotta = "/Parametri/ParamPercMaggAbitaz/PercentualeMaggAbitazione";
                    break;
                case 9:// Percentuale Maggiorazione Coniuge
                    rotta = "/Parametri/ParamMaggConiuge/PercMaggiorazioneConiuge";
                    break;
                case 10:// Percentuale Maggiorazione Figli
                    rotta = "/Parametri/ParamMaggFigli/MaggiorazioneFigli";
                    break;
                case 11:// Riduzioni
                    rotta = "/Parametri/ParamRiduzioni/Riduzioni";
                    break;
                case 12:// TFR
                    rotta = "/Parametri/ParamTFR/TFR";
                    break;
                case 13:// Valute
                    rotta = "/Parametri/ParamValute/Valute";
                    break;
                case 14:// ValutaUfficio
                    rotta = "/Parametri/ParamValutaUfficio/ValutaUfficio";
                    break;
                case 15:// PercentualeDisagio
                    rotta = "/Parametri/ParamPercDisagio/PercentualeDisagio";
                    break;
                case 16:// PercentualeDisagio                   
                    rotta = "/Parametri/ParamPercAnticipoTe/PercAnticipoTE";
                    break;
                case 17:// PercentualeDisagio                   
                    rotta = "/Parametri/ParamPercCondivisioneMAB/PercCondivisioneMAB";
                    break;
                default:
            }

            $.ajax({
                type: "POST",
                url: rotta,
                data: { escludiAnnullati: chk, idLivello: idLivello, idUfficio: idUfficio },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();
                    //$("#DialogNewDoc").dialog("destroy");
                    //$("#divEffettoLoadAutNoDoc").show("slow");
                },
                success: function (result) {
                    //debugger;
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    $("#divPViewParametri").empty();
                    $("#divPViewParametri").html(result);

                    //RicercaDocumenti();

                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });



        }



    </script>
}