@using NewISE.Models.Tools
@model IEnumerable<NewISE.Models.DBModel.PensioneConiugeModel>

@{
    decimal idConiuge = Convert.ToDecimal(ViewData["idConiuge"]);
    decimal idAttivazioneMagFam = Convert.ToDecimal(ViewData["idAttivazioneMagFam"]);
    bool solaLettura = Convert.ToBoolean(ViewData["solaLettura"]);
}

@*<style>
        a.dt-button.green {
            color: green;
        }
    </style>*@

@Html.Hidden("hdIdImportoPensione")

<p style="margin-top: 5px; padding-left:15px;">

    @if (solaLettura)
    {
        <button class="btn btn-default disabled">Nuovo importo</button>
    }
    else
    {
        @Ajax.ActionLink("Nuovo importo", "NuovoImportoPensione", "PensioneConiuge", new { idConiuge = idConiuge, idAttivazioneMagFam = idAttivazioneMagFam }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tabConiuge", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success" })
    }

</p>
<div style="padding-left:15px; padding-right:10px;">
    <table id="TabPensioni" cellspacing="0">
        <thead>
            <tr>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.dataInizioValidita)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.dataFineValidita)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.importoPensione)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.dataInizioValidita)
                    </td>
                    @if (item.dataFineValidita != Utility.DataFineStop())
                    {
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.dataFineValidita)
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }

                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.importoPensione)
                    </td>
                    <td class="text-center">
                        @*@Ajax.ActionLink("Modifica", "ModificaPensione", new { idPensioneConiuge = item.idPensioneConiuge }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divOperazioniAttivitaTrasf", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace }) |*@
                        @if (solaLettura)
                        {
                            <a href="#" style="pointer-events: none; cursor: default; opacity: 0.6; text-decoration: none;">Elimina</a>
                        }
                        else
                        {
                            <a href="#" onclick="ModelEliminaPensione(@item.idPensioneConiuge, '@item.importoPensione');">Elimina</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p style="padding-left: 15px;">
    @Ajax.ActionLink("Torna indietro", "ElencoConiuge", "MaggiorazioniFamiliari", new { idAttivazioneMagFam = idAttivazioneMagFam }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tabConiuge", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace })
</p>

<div class="modal fade" id="ModalEliminaPensioneModal" tabindex="-1" role="dialog" aria-labelledby="ModalEliminaPensioneModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewPensione">
                    <label>Eliminare l&rsquo;importo della pensione selezionato (<span id="spanImportoPensione">0,00</span>)?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btSalvaPensione" type="button" class="btn btn-info" onclick="EliminaPensione();">Salva</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#TabPensioni').DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "info": false,
        "lengthChange": false,
        "pageLength": 5,
        "searching": false,
        "paging": true,
        "ordering": false,
        "bJQueryUI": true,
        "sDom": 'lfrtip',

    });

    function ModelEliminaPensione(idImportoPensione, importoPensione) {
        //debugger;
        $('#hdIdImportoPensione').val(idImportoPensione);
        $("#spanImportoPensione").text(number_format(importoPensione.replace(',', '.'), 2, ',', '.'));

        $('#ModalEliminaPensioneModal').modal().show();
    }

    function EliminaPensione() {
        //debugger;
        var idPensioneConiuge = $('#hdIdImportoPensione').val();
        var idConiuge = parseInt('@idConiuge');
        var idAttivazioneMagFam = parseInt('@idAttivazioneMagFam');

        var rotta = "/PensioneConiuge/EliminaPensione";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: {
                idPensione: idPensioneConiuge,
                idConiuge: idConiuge,
                idAttivazioneMagFam: idAttivazioneMagFam
            },
            dataType: 'html',
            async: true,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();

                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

            },
            success: function (result) {
                //debugger;
                //$("#viewPensione").empty();
                //$("#viewPensione").html(result);
                $("#tabConiuge").empty();
                $("#tabConiuge").html(result);

            },
            complete: function () {


            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }


</script>