@model IEnumerable<NewISE.Models.DBModel.PensioneConiugeModel>

@{
    decimal idMaggiorazioneConiuge = Convert.ToDecimal(ViewData["idMaggiorazioneConiuge"]);
}

<style>
    a.dt-button.green {
        color: green;
    }
</style>


<p style="margin-top: 5px; margin-left:-10px;">

    @Ajax.ActionLink("Nuovo importo", "NuovoImportoPensione", "PensioneConiuge", new { idMaggiorazioneConiuge = idMaggiorazioneConiuge }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divOperazioniAttivitaTrasf", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success" })
</p>
<div style="padding-right:15px; margin-left:-10px;">
    <table id="TabPensioni" cellspacing="0">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.dataInizioValidita)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dataFineValidita)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.importoPensione)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.dataInizioValidita)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dataFineValidita)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.importoPensione)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idPensioneConiuge }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idPensioneConiuge }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idPensioneConiuge })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script type="text/javascript">
    $('#TabPensioni').DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "info": false,
        "lengthChange": false,
        "pageLength": 5,
        "searching": false,
        "paging": false,


    });
</script>