@using NewISE.Models.Tools;
@model IEnumerable<NewISE.Models.DBModel.CoefficienteRichiamoModel>
@using NewISE.Areas.Parametri.Models.dtObj;

@{
    bool escludiAnnullati = (bool)ViewBag.escludiAnnullati;
    decimal idMinimoNonAnnullato = (decimal)ViewBag.idMinimoNonAnnullato;
    decimal idTipoCoeffRichiamo = (decimal)ViewBag.idTipoCoeffRichiamo;
}

<p>
    <a id="btnInsNuovoCoeffIndRichiamo" href="#" onclick="NuovoCoeffIndRichiamo();">Inserisci nuovo Coeff. Ind. Richiamo</a>
</p>


<p>
    <div class="form-group">
        @Html.Label("lblTipoCoeffRichiamo", "Tipo coefficiente", new { @class = "control-label" })
        <div id="divCombo">
            <div class="select2-container select2-container--classic">
                @Html.DropDownList("idTipoCoeffRichiamo", ViewBag.TipoCoeffRichiamoList as IEnumerable<SelectListItem>, new { @class = "form-control select2 select2-select", @onchange = "PrelevaCoefficientiRichiamo();", @onClick = "PrelevaCoefficientiRichiamo();" })
            </div>
        </div>
    </div>
</p>

<table id="tbCoeffIndRichiamo" class="display" cellspacing="0">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataInizioValidita)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataFineValidita)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.coefficienteRichiamo)
            </th>
            @*<th class="text-center">
                    @Html.DisplayNameFor(model => model.coefficienteIndBase)
                </th>*@
            <th class="text-center">
                @Html.DisplayNameFor(model => model.annullato)
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.dataInizioValidita)
                </td>
                @if (item.dataFineValidita != Utility.DataFineStop())
                {
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.dataFineValidita)
                    </td>
                }
                else
                {
                    <td></td>
                }
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.coefficienteRichiamo)
                </td>
                @*<td class="text-center">
                        @Html.DisplayFor(modelItem => item.coefficienteIndBase)
                    </td>*@
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.annullato)
                </td>
                <td style="text-align:center;">
                    @using (dtCoefficienteRichiamo dtib = new dtCoefficienteRichiamo())
                    {
                        if (dtib.CoeffIndRichiamoAnnullato(item))
                        {
                            <a href="#" class="disabled"><img alt="Elimina" src="~/Immagini/EliminazioneDisable.png" width="25" /></a>
                        }
                        else
                        {
                            if (item.idCoefIndRichiamo == idMinimoNonAnnullato)
                            {
                                <a href="#" class="disabled"><img alt="Elimina" src="~/Immagini/EliminazioneDisable.png" width="25" /></a>
                            }
                            else
                            {
                                <a href="#" onclick="EliminaCoeffIndRichiamo(@item.idCoefIndRichiamo);"><img alt="Elimina" src="~/Immagini/Eliminazione.png" width="25" /></a>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="dialog-confirm" title="Elimina coefficiente di richiamo?" class="hide">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Si vuole procedere con l'eliminazione del Coefficiente Ind Richiamo?</p>
</div>

<script type="text/javascript">
    $('.display').DataTable({
        "ordering": false,
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        }
    });

    $("#idTipoCoeffRichiamo").select2({
        placeholder: "Seleziona Tipo Coefficiente Indennità di Richiamo",
        allowClear: true,
        language: "it",
        width: '300'

    });

    $("#btnInsNuovoCoeffIndRichiamo").button();

    $("#idTipoCoeffRichiamo").val(@idTipoCoeffRichiamo);

    $("#hiIdTipoCoeffRichiamo").val(@idTipoCoeffRichiamo);

    function PrelevaCoefficientiRichiamo() {
        //debugger;
        rotta = "/Parametri/ParamCoeffIndRichiamo/CoeffTipoRichiamo";

        var idTipoCoeffRichiamo = parseInt($("#idTipoCoeffRichiamo").select2('val'));

        
        $("#hiIdTipoCoeffRichiamo").val(idTipoCoeffRichiamo);

        //if (isNaN(idRiduzioni)) {
        //    $("#divPViewParametri").empty();
        //    return false;
        //}

        var chk = false;
        if ($("#escludiAnnullati").is(":checked")) {
            chk = true;
        }

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTipoCoeffRichiamo: idTipoCoeffRichiamo, escludiAnnullati: chk },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPViewParametri").empty();
                $("#divPViewParametri").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

    function NuovoCoeffIndRichiamo() {

        var rotta = "/Parametri/ParamCoeffIndRichiamo/NuovoCoeffIndRichiamo";
        var idTipoCoeffRichiamo = parseInt($("#idTipoCoeffRichiamo").select2('val'));

        var chk = false;
        if ($("#escludiAnnullati").is(":checked")) {
            chk = true;
        }

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTipoCoeffRichiamo: idTipoCoeffRichiamo, escludiAnnullati: chk },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPViewParametri").empty();
                $("#divPViewParametri").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function EliminaCoeffIndRichiamo(id) {
        //debugger;
        var rotta = "/Parametri/ParamCoeffIndRichiamo/EliminaCoeffIndRichiamo";

        var idTipoCoeffIndRichiamo = parseInt($("#idTipoCoeffRichiamo").select2('val'));

        //if (isNaN(idRiduzioni)) {
        //    $("#divPViewParametri").empty();
        //    return false;
        //}


        var chk = false;
        if ($("#escludiAnnullati").is(":checked")) {
            chk = true;
        }

        $('#dialog-confirm').dialog({
            autoOpen: true,
            width: 400,
            buttons: [
                {
                    text: "OK",
                    click: function () {
                        $(this).dialog("close");
                        $.ajax({
                            type: "POST",
                            url: rotta,
                            data: { escludiAnnullati: chk, idCoeffIndRichiamo: id, idTipoCoeffIndRichiamo: idTipoCoeffIndRichiamo },
                            dataType: 'html',
                            beforeSend: function () {
                                //debugger;
                                //VerificaAutenticazione();
                                //$("#DialogNewDoc").dialog("destroy");
                                //$("#divEffettoLoadAutNoDoc").show("slow");

                            },
                            success: function (result) {
                                //debugger;
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                $("#divPViewParametri").empty();
                                $("#divPViewParametri").html(result);

                                //RicercaDocumenti();

                            },
                            complete: function () {
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                //                $("#Centro").getNiceScroll().resize();
                            },
                            error: function (jqXHR, textStatus, errorThrow) {
                                //debugger;
                                var msg = errorThrow.err;
                                AlertDialog(msg);
                            }
                        });
                    },
                    "class": "ui-button-danger"
                },
                {
                    text: "Annulla",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });

    }

</script>
