@using NewISE.Models.ViewModel
@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.DBModel.VariazioneDocumentiModel>

@{
    string DescrizioneTE = Convert.ToString(ViewData["DescrizioneTE"]);
    decimal idTipoDocumento = Convert.ToDecimal(ViewData["idTipoDocumento"]);
    decimal idTrasportoEffettiPartenza = Convert.ToDecimal(ViewData["idTrasportoEffettiPartenza"]);
}

<table class="table" id="tabElencoDocumentiTEInseriti">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeDocumento)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.estensione)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataInserimento)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.Modificabile)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.nomeDocumento)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.nomeDocumento)
                    </td>
                }
                @if (item.Modificabile)
                {
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.estensione)
                    </td>
                }
                else
                {
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.estensione)
                    </td>
                }


                @if (item.Modificabile)
                {
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.dataInserimento)
                    </td>
                }
                else
                {
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.dataInserimento)
                    </td>
                }

                <td class="text-center">
                    <a href="@Url.RouteUrl("LeggiDocumento", new {id = item.idDocumenti})" target="_blank"><img class="SfondoBordoImg" width="17" src="../../Immagini/IconeDocumenti/PDF-icon.png" title="Click per visualizzare @DescrizioneTE." /></a>
                </td>

                <td class="text-center">
                    @if (item.Modificabile)
                    {
                        <a href="#" onclick="EliminaDocumentoTE(@item.idDocumenti)" id="linkEliminaDocumentoTE">
                            <img class="SfondoBordoImg" width="17" src="../../Immagini/delete.png" title="Elimina @DescrizioneTE" />
                        </a>
                    }
                    else
                    {
                        <img class="SfondoBordoImg disabled" width="17" src="../../Immagini/delete_grey.png" />
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="modal fade" id="ModalEliminaDocumentoTE" tabindex="-1" role="dialog" aria-labelledby="ModalEliminaDocumentoTELabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="EliminaDocumentoTELabel">Elimina @DescrizioneTE</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <input type="hidden" id="hIdDocTE" />
                <p><label>Eliminare il documento selezionato?</label></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ConfermaEliminaDocumentoTE();">Ok</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("hIdDocumentoTE")

<script type="text/javascript">
    $("#tabElencoDocumentiTEInseriti").DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }

        },
        "info": false,
        "lengthChange": false,
        "pageLength": 4,
        "searching": false,
        "paging": true,
        "bJQueryUI": true,
        "sDom": 'lfrtip',
        "order": [[0,"desc"],[2, "desc"]]
    });

    function EliminaDocumentoTE(idDoc) {
        $("#hIdDocumentoTE").val(idDoc);
        $("#ModalEliminaDocumentoTE").modal("show");
    }

    function ConfermaEliminaDocumentoTE() {
        //debugger;
        var rotta = "/TrasportoEffetti/EliminaDocumentoTEPartenza";
        var idDocumento = parseInt($("#hIdDocumentoTE").val());
        $("#ModalEliminaDocumentoTE").modal("hide");

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idDocumento: idDocumento }, //I dati, forniti sotto forma di oggetto FormData
            dataType: 'json',
            cache: false,
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();
            },
            success: function (result) {
                //debugger;
                if (result.err != "" && result.err != undefined) {
                    ErroreElaborazioneAjax(result.err);
                }
                else {
                    //InfoElaborazioneAjax(result.msg);
                    GestionePulsantiNotificaAttivaAnnullaTrasportoEffettiPartenza();
                    ElencoDocumentiTE(@idTipoDocumento, @idTrasportoEffettiPartenza);
                }
            },
            complete: function () {
            },
            error: function (error) {
                //debugger;
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }


    $("#ModalEliminaDocumentoTE").on("hidden.bs.modal", function () {
        //debugger;
        TabElencoDocumentiTE();
    });
</script>


