@using NewISE.Models.DBModel
@using NewISE.Models.Enumeratori
@model NewISE.Models.ViewModel.TrasportoEffettiPartenzaModel

@{
    bool richiestaTE = Convert.ToBoolean(ViewData["richiestaTE"]);
    bool attivazioneTE = Convert.ToBoolean(ViewData["attivazioneTE"]);
    bool DocContributo = Convert.ToBoolean(ViewData["DocContributo"]);
    bool rinunciaTEPartenza = Convert.ToBoolean(ViewData["rinunciaTEPartenza"]);
    decimal idTrasportoEffettiPartenza = Convert.ToDecimal(ViewData["idTrasportoEffettiPartenza"]);
    decimal indennita = Convert.ToDecimal(ViewData["indennita"]);
    decimal perc_km = Convert.ToDecimal(ViewData["perc_km"]);
    decimal contributoLordo = Convert.ToDecimal(ViewData["contributoLordo"]);
}

<script src="~/Scripts/autoNumeric/autoNumeric-min.js"></script>

<div class="table col-xs-12">
    <div class="row">
        <h4>Richiesta Trasporto Effetti</h4>
        <hr>
        <div class="col-xs-12">
            <div class="col-xs-12 fa-border" style="background-color:white; border:solid;border-width:thin;margin-bottom:15px;border-radius:15px">
                <div class="row">
                    <div class="col-xs-4 text-right" style="padding-top:10px">
                        <label for="indennitaPrimaSistemazione" class="control-label">@Html.DisplayNameFor(model => model.indennitaPrimaSistemazione)</label>
                    </div>
                    <div class="col-xs-3" style="padding-top:5px">
                        <input id="valIndennitaPrimaSistemazione" class="form-control " readonly style="text-align: right" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right" style="padding-top:10px">
                        <label for="percKM" class="control-label">@Html.DisplayNameFor(model => model.percKM)</label>
                    </div>
                    <div class="col-xs-3" style="padding-top:5px">
                        <input id="valPercKM" class="form-control" style="text-align: right" readonly />
                    </div>

                    <div class="col-xs-2 text-center" style="padding-top:10px">
                        <label for="percAnticipo" class="control-label">@Html.DisplayNameFor(model => model.percAnticipo)</label>
                    </div>
                    <div class="col-xs-3 text-center" style="padding-top:10px">
                        <label for="anticipo" class="control-label">@Html.DisplayNameFor(model => model.anticipo)</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right" style="padding-top:10px">
                        <label for="contributoLordo" class="control-label">@Html.DisplayNameFor(model => model.contributoLordo)</label>
                    </div>
                    <div class="col-xs-3" style="padding-top:5px">
                        <input id="valContributoLordo" class="form-control" style="text-align: right" readonly />
                    </div>
                    <div class="col-xs-2" style="padding-top:5px">
                        <input id="percContributoLordo" class="form-control" style="text-align: right" readonly />
                    </div>
                    <div class="col-xs-3" style="padding-top:5px">
                        <input id="valAnticipo" class="form-control" style="text-align: right" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8" style="text-align:right">
                    <b>Modulo 1 - (Richiesta Contributo Fisso Omnicomprensivo - Trasferimento)</b>
                </div>
                <div class="col-xs-2" style="padding-left:10px;padding-bottom:10px">
                    @if (rinunciaTEPartenza)
                    {
                        <a id="linkElencoDocTE" disabled class="disabled">
                            <img src="~/Immagini/IconeDocumenti/PDF-icon-Grey.png" width="17" />
                        </a>
                    }
                    else
                    {
                        if (DocContributo)
                        {
                            <a href="#" onclick="ElencoDocumentiTE(@Convert.ToDecimal(@EnumTipoDoc.Contributo_Fisso_Omnicomprensivo));" id="linkElencoDocTE">
                                <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="17" title="Elenco documentazione contributo fisso omnicomprensivo" />
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="ElencoDocumentiTE(@Convert.ToDecimal(@EnumTipoDoc.Contributo_Fisso_Omnicomprensivo));" id="linkElencoDocTE">
                                <img src="~/Immagini/IconeDocumenti/PDF-icon-Disable.png" width="17" title="Elenco documentazione contributo fisso omnicomprensivo" />
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $('#valIndennitaPrimaSistemazione').autoNumeric('init',
    {
        aSep: '.',
        aDec: ',',
        aSign: '€ ',
        nSep: true
    });

    $('#valContributoLordo').autoNumeric('init',
    {
        aSep: '.',
        aDec: ',',
        aSign: '€ ',
        nSep: true
    });

    $('#valPercKM').autoNumeric('init',
    {
        aSep: '.',
        aDec: ',',
        aSign: ' %',
        pSign: 's',
        vMin: 0,
        vMax: 100,
        nSep: true
    });

    $('#percContributoLordo').autoNumeric('init',
    {
        aSep: '.',
        aDec: ',',
        aSign: ' %',
        pSign: 's',
        vMin: 0,
        vMax: 100,
        nSep: true
    });

    $('#valAnticipo').autoNumeric('init',
    {
        aSep: '.',
        aDec: ',',
        aSign: '€ ',
        nSep: true
    });


    $('#valIndennitaPrimaSistemazione').autoNumeric('set', @Model.indennitaPrimaSistemazione);
    $('#valContributoLordo').autoNumeric('set', @Model.contributoLordo);
    $('#valPercKM').autoNumeric('set', @Model.percKM);
    $('#percContributoLordo').autoNumeric('set', @Model.percAnticipo);
    $('#valAnticipo').autoNumeric('set', @Model.anticipo);


    function ElencoDocumentiTE(idTipoDocumento) {
        //debugger;
        var idTrasportoEffettiPartenza = parseInt('@idTrasportoEffettiPartenza');

        var rotta = "/TrasportoEffetti/ElencoDocumentiTEPartenza";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                idTipoDocumento: idTipoDocumento,
                idTrasportoEffettiPartenza: idTrasportoEffettiPartenza
            },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divTrasportoEffettiPartenza").empty();
                $("#divTrasportoEffettiPartenza").html(result);

                //RicercaDocumenti();

            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

</script>


