@model NewISE.Models.DBModel.DipendentiModel

@{
    bool admin = Convert.ToBoolean(ViewBag.Amministratore);
    string matricola = Convert.ToString(ViewBag.Matricola);
}

<div id="divControlliDipendenti">
    <div class="form-horizontal"> 

        <div class="form-group">
            @Html.Label("lblNominativo", "Nominativo", new { @class = "control-label col-xs-3" })
            <div id="divCombo2" class="col-xs-9">
                <div class="select2-container select2-container--classic">
                    @Html.DropDownList("matricola", ViewBag.ListDipendentiGepeNominativo as IEnumerable<SelectListItem>, new { @id = "Nominativo", @class = "form-control select2 select2-select" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="dataAssunzione" class="col-xs-3 control-label">Data assunz.</label>
            <div class="col-xs-9">
                @if (Model != null && Model.dataAssunzione > DateTime.MinValue)
                {
                    <input id="dataAssunzione" name="dataAssunzione" type="datetime" value="@Model.dataAssunzione.ToShortDateString()" class="form-control" readonly />
                }
                else
                {
                    <input id="dataAssunzione" name="dataAssunzione" type="datetime" value="" class="form-control" readonly />
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.livelloDipendenteValido.Livello.DescLivello, htmlAttributes: new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                @if (Model != null && Model.livelloDipendenteValido != null && Model.livelloDipendenteValido.Livello != null)
                {
                    <input id="livello" name="livello" type="text" value="@Model.livelloDipendenteValido.Livello.DescLivello" class="form-control" readonly />
                }
                else
                {
                    <input id="livello" name="livello" type="text" value="" class="form-control" readonly />
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.cdcGepe.descCDC, htmlAttributes: new { @class = "control-label col-xs-3" })
            <div class="col-xs-9">
                @if (Model != null && Model.cdcGepe != null)
                {
                    <input id="cdc" name="cdc" type="text" value="@Model.cdcGepe.descCDC" class="form-control" readonly />
                }
                else
                {
                    <input id="cdc" name="cdc" type="text" value="" class="form-control" readonly />
                }
            </div>
        </div>
    </div>
</div>
<div id="divElencoTrasferimento" style="margin-top: 70px;">

</div>

<script type="text/javascript">

    //debugger;

    $("#hMatricola").val($("#Nominativo").val());



    $("#Nominativo").change(function () {
        //debugger;
        $("#hidTrasferimento").val("");
        $("#hMenuInLavorazione").val("mnNuovoTrasferimento");
        FiltraDipendente();
    });

    function ElencoTrasferimento() {
        //debugger;

        var rotta = "/Trasferimento/ElencoTrasferimento";
        var matricola = $("#Nominativo").val();

        $.ajax({
            type: "POST",
            url: rotta,
            data: { matricola: matricola },
            dataType: 'html',
            beforeSend: function () {
                //debugger;

            },
            success: function (result) {
                //debugger;
                $("#divElencoTrasferimento").empty();
                $("#divElencoTrasferimento").html(result);
            },
            complete: function () {
                //GestioneMenu();
                MenuDaVisualizzare();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    //function GestioneAbilitazioneMenu(idTrasferimento) {
    //  debugger;






    $("#Nominativo").select2({
        placeholder: "Seleziona il nominativo",
        allowClear: true,
        language: "it",
        width: '300'

    });








</script>