@model NewISE.PERCENTUALEDISAGIO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PERCENTUALEDISAGIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DATAINIZIOVALIDITA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATAINIZIOVALIDITA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATAFINEVALIDITA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATAFINEVALIDITA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERCENTUALE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERCENTUALE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANNULLATO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANNULLATO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UFFICI.CODICEUFFICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UFFICI.CODICEUFFICIO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPERCENTUALEDISAGIO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
