@model IEnumerable<NewISE.Areas.Parametri.Models.CoefficientiSedeModel>



<p>
    <a id="btnInsNuovCoeff" href="#" onclick="NuovaIndennitaDiBase();">Inserisci Coefficiente di Sede</a>
</p>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table id="tbIndBase" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idCoefficientiSede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idUfficio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataInizioValidita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataFineValidita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valoreCoefficiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.annullato)
            </th>
            <th></th>
    </thead>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idCoefficientiSede)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.idUfficio)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.dataInizioValidita)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.dataFineValidita)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.valoreCoefficiente)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.annullato)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idCoefficientiSede }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idCoefficientiSede }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idCoefficientiSede })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $('.display').DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        }
    });

    $("#idLivello").select2({
        placeholder: "Seleziona il coefficiente",
        allowClear: true,
        language: "it",
        width: '150'

    });

    $("#btnInsNuovCoeff").button();

    function PrelevaPVIndBase() {
        debugger;
        rotta = "/Parametri/ParamIndennitaBase/IndennitaBaseLivello";

        var idLivello = parseInt($("#idLivello").select2('val'));
        var chk = true;

        if (isNaN(idLivello)) {
            $("#divPViewParametri").empty();
            return false;
        }

        @*if ('@escludiAnnullati' == 'true') {
            chk = false;
        }*@

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idLivello: idLivello, escludiAnnullati: chk },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPViewParametri").empty();
                $("#divPViewParametri").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

    function NuovaIndennitaDiBase() {
        debugger;

        var rotta = "/Parametri/ParamIndennitaBase/NuovaIndennitaBase";
        var idLivello = parseInt($("#idLivello").select2('val'));
        var chk = true;

        if (isNaN(idLivello)) {
            //$("#divPViewParametri").empty();
            AlertDialog("Selezionare un livello per procedere.");
            return false;
        }



        $.ajax({
            type: "POST",
            url: rotta,
            data: { idLivello: idLivello },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPViewParametri").empty();
                $("#divPViewParametri").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }
</script>