@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.DBModel.EmailSecondarieDipModel>
@{
    ViewBag.Title = "Lista email secondarie Dipendenti";
    bool admin = Convert.ToBoolean(ViewBag.Amministratore);
    var errori = ViewData.ModelState;
    string emailPrincipale = ViewBag.emailPrincipale;
    decimal idDipendente = (decimal)ViewBag.idDipendente;
}
<input type="hidden" id="Amministratore" value="@admin.ToString()" />
<div style="padding-left: 15px; padding-right: 5px; padding-top: 10px;">
    <div>
        <h2 style="text-align:center; color:darkblue">Email principale: @emailPrincipale</h2>
        <p class="text-center"><a href="#" onclick="RicaricaDip();">Torna all'elenco delle Utenze</a></p>
    </div>
    <hr />
   
    <div class="text-center">
        
        @*<input type="text" name="newmail" id="newmail" />*@
        <button type="button" class="btn btn-default" onclick="AggiungiMail2(@idDipendente)"><b>Aggiungi email secondaria a '@emailPrincipale'</b></button>
    </div>

     @*<h3 style="text-align:center; color:darkblue">Elenco email secondarie:</h3>*@
        <table id="tbelencoEmail" class="table">
            <thead style="background-color:forestgreen;color:white">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Attiva)
                    </th>
                    <th class="text-center">
                        Elimina email
                    </th>
                    <th class="text-center">
                        Attiva/Disattiva Email
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ var rowColor = "#ffffff"; }
                @foreach (var item in Model)
                {
                    <tr style="background-color:@rowColor;">
                        <td class="text-center">
                            <span class="text-uppercase">@Html.DisplayFor(modelItem => item.Email)</span>
                        </td>
                        <td class="text-center">
                            <span class="text-uppercase">@Html.DisplayFor(modelItem => item.Attiva)</span>
                        </td>
                        <td class="text-center">
                           @*<a href="#" onclick="EliminaEmail(@item.idEmailSecDip,@idDipendente);"><img alt="Elimina" src="~/Immagini/Eliminazione.png" width="25" />*@
                            <a href="#" onclick="EliminaEmailUtenze2(@item.idEmailSecDip);">
                                <img alt="Elimina" src="~/Immagini/Eliminazione.png" width="25" />
                            </a>
                         </td>
                        <td class="text-center">
                            <a href="#" onclick="VisualizzaModificaStatoEmailSecondaria(@item.idEmailSecDip);"><img alt="Elimina" src="~/Immagini/edit.png" width="17" height="17" /></a>
                        </td>
                    </tr>
                    if (@rowColor.Equals("#ffffff"))
                    {
                        rowColor = "#D9E6C4";
                    }
                    else
                    {
                        rowColor = "#ffffff";
                    }
                }
            </tbody>
        </table>

    </div>


<div class="modal fade" id="inviaUtenzeModal2" tabindex="-1" role="dialog" aria-labelledby="inviaDocModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                        <div id="viewUtenzeMail2">
                            <img src="~/Immagini/Loading/ajax-loader (1).gif" />
                        </div>
                    </div>
                    <div class="modal-footer" style="background-color:white;text-align:center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    </div>
                 </div>
            </div>
    </div>


<div id="dago3" title="Inserisci Nuova Email Secondaria" hidden>
    <p>
        <input type="text" name="newmail2" id="newmail2" />
        <input type="button" name="newbutto" id="newbutton" onclick="resaho()" />
    </p>
</div>

<div id="dialog-confirm-Utenze" title="Conferma eliminazione Email ?" class="hide">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Elimina email secondaria ?<br />
    </p>
</div>

<script type="text/javascript">
    //   DocumentoModal();
  ///  debugger;
 //   $("#inviaUtenzeModalNewMail").modal('hide');

    function resaho()
    {
        var newmail = $("#newmail2").val();
        alert(newmail);
    }

    $("#tbelencoEmail").DataTable({
            "ordering": false,            
            "language": {
                "sEmptyTable": "Nessun dato presente nella tabella",
                "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
                "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
                "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Visualizza _MENU_ elementi",
                "sLoadingRecords": "Caricamento...",
                "sProcessing": "Elaborazione...",
                "sSearch": "Cerca:",
                "sZeroRecords": "La ricerca non ha portato alcun risultato.",
                "oPaginate": {
                    "sFirst": "Inizio",
                    "sPrevious": "Precedente",
                    "sNext": "Successivo",
                    "sLast": "Fine"
                },
                "oAria": {
                    "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                    "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                }
            }
        });



        $("#btModifica").click(function () {
            //debugger;
            $("#formEditTrasf").submit();
        });

        function CloseTimeModal() {
            setTimeout(CloseModalFile, 2000);
            //CloseModalFile();
        }

        function CloseModalFile() {
            $('#inviaDocModal').modal('hide');
            //RicaricaModificaTrasferimento();
            setTimeout(RicaricaModificaTrasferimento, 1000);
        }

        function VisualizzaModificaStatoEmailSecondaria(id) {
            // debugger;
            // $(".anchorModifica").click(function () {
            var idDipendente=@idDipendente;
            var rotta = "/UtenzeDipendenti/VisualizzaEmailSecondaria";
            //    var $buttonClicked = $(this);
            //   var idf = $buttonClicked.attr('id_fe');
            //  var idd = $buttonClicked.attr('id_dip');
            $.ajax({
                url: rotta,
                type: "POST",
                data: {"idEmailSec": id,idDipendente:idDipendente },
                dataType: 'html',
                async: false,
                beforeSend: function () {
                    // debugger;
                    $('#inviaModificaModalEmail').modal('show');
                    // $('#dialog-confirm-Utenze').modal('show');
                    //Blocca();
                },
                success: function (result) {
                    // debugger;
                    $("#viewDocumentoModificaEmail").empty();
                    $("#viewDocumentoModificaEmail").html(result);
                    
                },                    
                error: function (error) {
                    //debugger;
                    //Sblocca();
                    var msg = error.responseText;
                    ErroreElaborazioneAjax(msg);
                }
            });
            // });
        }


        function DialogInfo(response) {
            $("#msgModalInfo").text(response);
            $('#myModalInfo').modal('toggle');
        }

        
        
        function EliminaEmailUtenze2(idmail) {
              //  debugger;
            var rotta = "/UtenzeDipendenti/EliminaEmail";
            var idd = @idDipendente;
           
            $('#dialog-confirm-Utenze').dialog({
                autoOpen: true,
                width: 400,
                buttons: [
                    {
                        text: "OK",
                        click: function () {
                            $(this).dialog("close");
                            $.ajax({
                                type: "POST",
                                url: rotta,
                                data: { idEmailSec: idmail, idd: idd },
                                dataType: 'html',
                                beforeSend: function () {
                                    //debugger;
                                    //VerificaAutenticazione();
                                //    $("#viewUtenzeMail").dialog("destroy");
                                  // $("#viewUtenzeMail2").show("slow");

                                },
                                success: function (result) {
                                    //debugger;                                   
                                    $("#divPanelUtenzeDip").empty();
                                    $("#divPanelUtenzeDip").html(result);
                                },
                                complete: function () {
                                   
                                },
                                error: function (jqXHR, textStatus, errorThrow) {
                                    //debugger;
                                    var msg = errorThrow.err;
                                    AlertDialog(msg);
                                }

                            });
                        },
                        "class": "ui-button-danger"
                    },
                    {
                        text: "Annulla",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
            //setInterval(function(){
            //    $("#viewUtenzeMail").load().fadeIn("slow");
            //},1000);
        }

      

        function AggiungiMail2(id) {
           // debugger;
            var rotta = "/UtenzeDipendenti/NuovaEmail";
           // var newmail = $("#newmail").val();         
           $.ajax({
                type: "POST",
                url: rotta,
                data: {idd: id },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();                  
                    //$("#inviaUtenzeModalNewMail").modal('show');     
                    $("#inviaUtenzeModalNewMail").modal('show'); 
                },
                success: function (result) {
                  //  debugger;
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    $("#viewUtenzeMail").empty();
                    $("#viewUtenzeMail").html(result);
                    //RicercaDocumenti();

                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                    //$("#inviaUtenzeModal").modal('hide');
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }
            });
           
        }

        

        
      
</script>



