@model IEnumerable<NewISE.Models.ViewModel.ElencoFamiliariModel>

@{
    decimal idTrasferimento = Convert.ToDecimal(ViewBag.idTrasferimento);
}
<style>
    a.dt-button.green {
        color: green;
    }
</style>

<div style="padding-right:5px; padding-top:10px;">
    <table class="TabellaDataTable " cellspacing="0">
        <thead>
            <tr>
                <th style="width:0px;">
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nominativo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodiceFiscale)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.dataInizio)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.dataFine)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.HasPensione)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.idAltriDati)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.idDocumento)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.id)
                        @Html.HiddenFor(modelItem => item.idTrasferimento)
                        @Html.HiddenFor(modelItem => item.idFamiliare)
                        @Html.HiddenFor(modelItem => item.idAltriDati)
                        @Html.HiddenFor(modelItem => item.idDocumento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nominativo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodiceFiscale)
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.dataInizio)
                    </td>
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.dataFine)
                    </td>
                    @if (item.HasPensione)
                    {
                        <td style="text-align:center;">
                            <a href="#" onclick="Pensione(@item.id);"><img src='~/Immagini/Simbolo semplice Euro Green.png' width='30' /></a>
                        </td>
                    }
                    else
                    {
                        <td style="text-align:center;">
                            <a href="#" onclick="Pensione(@item.id);"><img src="~/Immagini/Simbolo semplice Euro Red.png" width="30" /></a>
                        </td>
                    }

                    <td style="text-align:center;">
                        <img src="~/Immagini/Plus_Red.png" width="20" />
                    </td>
                    @if (item.idDocumento > 0)
                    {
                        <td style="text-align:center;">
                            <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
                        </td>
                    }
                    else
                    {
                        <td style="text-align:center;">
                            <img src="~/Immagini/IconeDocumenti/PDF-icon-Disable.png" width="30" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>



<script type="text/javascript">
    $('.TabellaDataTable').DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "info": false,
        "lengthChange": false,
        "pageLength": 5,
        "searching": false,
        "paging": false,
        dom: 'Bfrtip',
        buttons: [
            {
                text: 'Nuovo Coniuge',
                className: 'green',
                action: function (e, dt, node, config) {
                    NuovoConiuge();
                }
            }
        ],
        "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            },

        ]
    });

    function NuovoConiuge() {
        //debugger;
        var rotta = "/MaggiorazioniFamiliari/NuovoConiuge";
        var idTrasferimento = parseInt($("#idTrasferimento").val());

        $.ajax({
            url: rotta,
            type: "POST",
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$('#inviaDocModal').modal('show');
                //Blocca();

            },
            success: function (result) {
                //debugger;
                $("#divOperazioniAttivitaTrasf").empty();
                $("#divOperazioniAttivitaTrasf").html(result);

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

    function Pensione(idMagConiuge) {
        //debugger;
        var rotta = "/PensioneConiuge/ElencoPensioniConiuge";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idMaggiorazioneConiuge: idMagConiuge },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$('#ModalPensione').modal('show');
                //Blocca();

            },
            success: function (result) {
                //debugger;
                //$("#viewPensione").empty();
                //$("#viewPensione").html(result);
                $("#divOperazioniAttivitaTrasf").empty();
                $("#divOperazioniAttivitaTrasf").html(result);

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }
</script>