@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.DBModel.DocumentiModel>
<style>
    .BordoRosso {
        border-style: double;
        border-color: red;
        border-width: 1px;
        display: inline-block;
    }

    #imgElencoFormulari:hover {
        cursor: pointer;
    }
</style>

@{
    decimal idMaggiorazioniFamiliari = (decimal)ViewData["idMaggiorazioniFamiliari"];
}

<div class="form-group">

    @if (Model?.Any() ?? false)
    {
        <div class="col-xs-1">
            <img id="imgElencoFormulari" class="SfondoBordoImg" width="30" height="30" onclick="ElencoDocumentiMF(@idMaggiorazioniFamiliari, @Convert.ToDecimal(EnumTipoDoc.Formulario_Maggiorazioni_Familiari) , @Convert.ToDecimal(EnumParentela.Richiedente) , @Convert.ToDecimal(EnumChiamante.Maggiorazioni_Familiari) ); " src="../../Immagini/IconeDocumenti/PDF-icon.png" title="Click per visualizzare l'elenco formulari." />
        </div>
    }
    else
    {
        <div class="col-xs-1">
            <img id="imgElencoFormulari" class="SfondoBordoImg" width="30" height="30" onclick="ElencoDocumentiMF(@idMaggiorazioniFamiliari, @Convert.ToDecimal(EnumTipoDoc.Formulario_Maggiorazioni_Familiari) , @Convert.ToDecimal(EnumParentela.Richiedente) , @Convert.ToDecimal(EnumChiamante.Maggiorazioni_Familiari) ); " src="../../Immagini/IconeDocumenti/PDF-icon-Disable.png" title="Click per visualizzare l'elenco formulari." />
        </div>
    }

</div>

<div class="modal fade" id="ModalElencoFormulari" tabindex="-1" role="dialog" aria-labelledby="ModalElencoFormulariLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="ModalElencoFormulariLabel">Formulari Maggiorazioni Familiari</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <div id="divModalElencoFormulari">
                    @*@Html.Action("ElencoFormulariInseriti", "MaggiorazioniFamiliari", new {idMaggiorazioniFamiliari = @idMaggiorazioniFamiliari})*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalElencoFormulariPS" tabindex="-1" role="dialog" aria-labelledby="ModalElencoFormulariPSLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="ModalElencoFormulariPSLabel">Formulari Provvidenze Scolastiche</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <div id="divModalElencoFormulariPS">
                    @*@Html.Action("ElencoFormulariInseriti", "MaggiorazioniFamiliari", new {idMaggiorazioniFamiliari = @idMaggiorazioniFamiliari})*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">


    function ElencoDocumentiMF(id, tipoDoc, idParentela, chiamante) {
        //debugger;
        var rotta = "/Documenti/ElencoDocumenti";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { id: id, tipoDoc: tipoDoc, parentela: idParentela, chiamante: chiamante },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //Blocca();

                //$('#DocModal').modal('show');
            },
            success: function (result) {
                //debugger;
                //$("#viewPensione").empty();
                //$("#viewPensione").html(result);
                $("#divModalElencoFormulari").empty();
                $("#divModalElencoFormulari").html(result);
                $('#ModalElencoFormulari').modal().show();

            },
            complete: function () {
                PulsantiNotificaAttivaMagFam();
            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }


    function ElencoDocumentiMF_PS(id, tipoDoc, idParentela, chiamante) {
        //debugger;
        var rotta = "/Documenti/ElencoDocumenti";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { id: id, tipoDoc: tipoDoc, parentela: idParentela, chiamante: chiamante },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //Blocca();

                //$('#DocModal').modal('show');
            },
            success: function (result) {
                //debugger;
                //$("#viewPensione").empty();
                //$("#viewPensione").html(result);
                $("#divModalElencoFormulariPS").empty();
                $("#divModalElencoFormulariPS").html(result);
                $('#ModalElencoFormulariPS').modal().show();

            },
            complete: function () {
                PulsantiNotificaAttivaMagFam();
            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }




    //$("#inviaFormularioMFModal").on('hide.bs.modal', function () {
    //    $('.modal-backdrop').hide();
    //});

</script>