@using NewISE.Models.Tools
@model NewISE.Models.ViewModel.DatiTrasferimentoDipendenteModel
<div class="row">
    <div class="col-xs-12">
        <div class="text-center">
            <H3>@Model.Dipendente</H3>
        </div>
    </div>
</div>
<hr />
<div class="form-group">
    <div class="col-xs-3">
        <label class="control-label">Tipo trasf.: </label>
        <label class="control-label text-uppercase text-info">@Model.TipoTrasferimento</label>
    </div>
    <div class="col-xs-3">
        <label class="control-label">Ufficio: </label>
        <label class="control-label text-uppercase text-info">@Model.Ufficio</label>
    </div>

    <div class="col-xs-3">
        <label class="control-label">Data ini.: </label>
        <label class="control-label text-uppercase text-info"> @Model.DataPartenza</label>
    </div>
    <div class="col-xs-3">
        <label class="control-label">Data fine trasf.: </label>
        <label class="control-label text-uppercase text-info">@Model.DataRientro</label>
        

    </div>
</div>
<div class="form-group">
    <div class="col-xs-3">
        <label class="control-label">Livello: </label>
        <label class="control-label text-uppercase text-info">@Model.Livello</label>
    </div>
    <div class="col-xs-3">
        <label class="control-label">Ruolo: </label>
        <label class="control-label text-uppercase text-info">@Model.Ruolo</label>
    </div>

    <div class="col-xs-3">
        <label class="control-label">Coan: </label>
        <label class="control-label text-uppercase text-info"> @Model.Coan</label>
    </div>
    <div class="col-xs-3">
        <label class="control-label">Fascia KM P.: </label>
        <label class="control-label text-uppercase text-info">@Model.FasciaKM_P</label>

    </div>
</div>
<div class="form-group">
    <div class="col-xs-3">
        <label class="control-label">Fascia KM R. </label>
        <label class="control-label text-uppercase text-info">@Model.FasciaKM_R</label>
    </div>
    @*<div class="col-xs-3">
        <label class="control-label">Ruolo: </label>
        <label class="control-label text-uppercase text-info">@Model.Ruolo</label>
    </div>

    <div class="col-xs-3">
        <label class="control-label">Coan: </label>
        <label class="control-label text-uppercase text-info"> @Model.Coan</label>
    </div>
    <div class="col-xs-3">
        <label class="control-label">Fascia KM P.: </label>
        <label class="control-label text-uppercase text-info">@Model.FasciaKM_P</label>

    </div>*@
</div>

<div class="form-group">

</div>

