@model IEnumerable<NewISE.Models.ViewModel.ElencoDipendentiDaCalcolareModel>
<div class="row">
    <div class="col-xs-12">
        <table id="TabElencoDipDaElaborare" cellspacing="0" class="table DimensioneFontTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.matricola)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nominativo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dataInizioRicalcoli)
                    </th>
                    <th class="no-sort">
                        @Html.CheckBox("selectTuttiDipElab", false, new { @onclick = "SelezionaTutti(this.checked);" })

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => item.idDipendente)
                            @Html.DisplayFor(modelItem => item.matricola)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nominativo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dataInizioRicalcoli)
                        </td>
                        <td>
                            @Html.EditorFor(modelItem => item.SelezionaDipendenteDaElaborare)
                        </td>

                    </tr>
                }
            </tbody>


        </table>


    </div>
</div>

<div class="row ">
    <div class="col-xs-offset-8 col-xs-3">
        <div class="margineTop15px">
            <input type="button" class="btn btn-default" value="Calcola" onclick="Calcola();" />
        </div>

    </div>
</div>

<script type="text/javascript">
    $("#TabElencoDipDaElaborare").DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }

        },
        "info": false,
        "lengthChange": false,
        "pageLength": 5,
        "searching": true,
        "paging": false,
        "bJQueryUI": true,
        "sDom": 'lfrtip',
        "scrollY": 450,
        "scrollCollapse": true,
        "columnDefs": [
                {
                    "targets": 'no-sort',
                    "orderable": false,

                }
        ],
        //"order": [[0,"desc"],[2, "desc"]]
    });

    function SelezionaTutti(checked) {
        //debugger;

        var lCheck = $('#TabElencoDipDaElaborare > tbody > tr > td > :checkbox');

        for (var ck in lCheck) {
            if (is_numeric(ck)) {
                lCheck[parseInt(ck)].checked = checked;
            }
        }
    }

    function Calcola() {
        debugger;

        var rotta = "/Elaborazioni/CalcolaElaborazioneMensile";

        var lCheck = $('#TabElencoDipDaElaborare > tbody > tr > td > :checkbox');
        var lidDip = $('#TabElencoDipDaElaborare > tbody > tr > td > #item_idDipendente');
        var lDip = new Array();

        var valore = $("#mesiAnniElaborati").val();

        for (var ck in lCheck) {
            if (is_numeric(ck)) {
                if (lCheck[parseInt(ck)].checked) {
                    var dip = lidDip[parseInt(ck)].value;
                    lDip.push(dip);
                }
            }
        }

        debugger;

        if (lDip.length > 0) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { dipendenti: lDip, idAnnoMeseElaborato: valore },
                dataType: 'html',
                traditional: true,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();
                    //$("#DialogNewDoc").dialog("destroy");
                    //$("#divEffettoLoadAutNoDoc").show("slow");

                },
                success: function (result) {
                    debugger;
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    $("#ContElencoElaborazioniMensili").empty();
                    $("#ContElencoElaborazioniMensili").html(result);

                    //RicercaDocumenti();

                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    ErroreElaborazioneAjax(msg);
                }

            });
        }


    }




</script>