@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.DBModel.VariazioneElencoFamiliariModel>

@{
    decimal idMaggiorazioniFamiliari = Convert.ToDecimal(ViewData["idMaggiorazioniFamiliari"]);
    bool solaLettura = Convert.ToBoolean(ViewData["solaLettura"]);
    bool trasfSolaLettura = Convert.ToBoolean(ViewData["trasfSolaLettura"]);
    bool check_nuovo_coniuge = Convert.ToBoolean(ViewData["check_nuovo_coniuge"]);
    bool check_nuovo_figlio = Convert.ToBoolean(ViewData["check_nuovo_figlio"]);
}

@Html.Hidden("hiEliminaConiuge")
@Html.Hidden("hiEliminaFiglio")

<p style="padding-left: 15px; margin-top: 10px; padding-right:25px">
    @if (solaLettura || trasfSolaLettura)
    {
        <button href="#" class="btn btn-default disabled" disabled="disabled">Nuovo Coniuge</button>
    }
    else
    {
        if (check_nuovo_coniuge)
        {
            @Ajax.ActionLink("Nuovo Coniuge", "NuovoConiuge", "VariazioneMaggiorazioniFamiliari", new { idMaggiorazioniFamiliari = idMaggiorazioniFamiliari }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tabFamiliari", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success", @title = "Inserisci nuovo coniuge", @id = "linkEditConiuge" })
        }
        else
        {
            <button href="#" class="btn btn-default disabled" disabled="disabled">Nuovo Coniuge</button>
        }
    }

    @if (solaLettura || trasfSolaLettura)
    {
        <button href="#" class="btn btn-default disabled" disabled="disabled">Nuovo Figlio</button>
    }
    else
    {
        @Ajax.ActionLink("Nuovo Figlio", "NuovoFiglio", "VariazioneMaggiorazioniFamiliari", new { idMaggiorazioniFamiliari = idMaggiorazioniFamiliari }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tabFamiliari", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success", @title = "Inserisci nuovo figlio", @id = "linkEditFiglio" })
    }

</p>

<div style="padding-left: 15px; padding-right: 35px; padding-top: 10px;">
    <table id="tabElencoFamiliari" class="table-striped" cellspacing="0">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.parentela)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nominativo)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.CodiceFiscale)
                </th>
                <th style="text-align: center;">
                    @Html.DisplayNameFor(model => model.dataInizio)
                </th>
                <th style="text-align: center;">
                    @Html.DisplayNameFor(model => model.dataFine)
                </th>
                <th style="text-align: center;">
                    Pensione
                </th>
                <th style="text-align: center;">
                    Altri dati
                </th>
                <th style="text-align: center;">
                    Doc.
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span class="text-uppercase">@Html.DisplayFor(modelItem => item.parentela)</span>
                    </td>
                    <td>
                        <span class="text-uppercase">@Html.DisplayFor(modelItem => item.Nominativo)</span>
                    </td>
                    <td>
                        <span class="text-uppercase">@Html.DisplayFor(modelItem => item.CodiceFiscale)</span>
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.dataInizio)
                    </td>
                    @if (item.dataFine.HasValue && item.dataFine.Value < Convert.ToDateTime("31/12/9999"))
                    {
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.dataFine)
                        </td>
                    }
                    else
                    {
                        <td style="text-align: center;"></td>
                    }
                    <td style="text-align: center;">
                    @if (item.parentela == EnumParentela.Coniuge)
                    {
                        if (item.HasPensione)
                        {
                            <a href="#" onclick="Pensione(@item.idFamiliare);" id="linkPensione">
                                <img src='~/Immagini/Simbolo semplice Euro Green.png' width='17' title="Pensione" />
                            </a>
                        }
                        else
                        {
                            <a href="#" onclick="Pensione(@item.idFamiliare);" id="linkPensione">
                                <img src="~/Immagini/Simbolo semplice Euro Red.png" width="17" title="Pensione" />
                            </a>
                        }
                    }
                    </td>
                    @if (item.idAltriDati > 0)
                    {
                        if (item.parentela == EnumParentela.Coniuge)
                        {
                            <td style="text-align: center;">
                                <a href="#" onclick="AltriDatiFamiliariConiuge(@item.idFamiliare,@idMaggiorazioniFamiliari);" id="linkAltriDatiFam">
                                    <img src="~/Immagini/Plus_Green.png" width="17" title="Altri Dati @Html.DisplayFor(modelItem => item.parentela)" />
                                </a>
                            </td>
                        }
                        if (item.parentela == EnumParentela.Figlio)
                        {
                            <td style="text-align: center;">
                                <a href="#" onclick="AltriDatiFamiliariFiglio(@item.idFamiliare,@idMaggiorazioniFamiliari);" id="linkAltriDatiFam">
                                    <img src="~/Immagini/Plus_Green.png" width="17" title="Altri Dati @Html.DisplayFor(modelItem => item.parentela)" />
                                </a>
                            </td>
                        }
                    }
                    else
                    {
                        if (item.parentela == EnumParentela.Coniuge)
                        {
                            <td style="text-align: center;">
                                <a href="#" onclick="AltriDatiFamiliariConiuge(@item.idFamiliare,@idMaggiorazioniFamiliari);" id="linkAltriDatiFam">
                                    <img  src="~/Immagini/Plus_Red.png" width="17" title="Altri Dati @Html.DisplayFor(modelItem => item.parentela)" />
                                </a>
                            </td>
                        }
                        if (item.parentela == EnumParentela.Figlio)
                        {
                            <td style="text-align: center;">
                                <a href="#" onclick="AltriDatiFamiliariFiglio(@item.idFamiliare,@idMaggiorazioniFamiliari);" id="linkAltriDatiFam">
                                    <img src="~/Immagini/Plus_Red.png" width="17" title="Altri Dati @Html.DisplayFor(modelItem => item.parentela)" />
                                </a>
                            </td>
                        }
                    }

                    @if (item.Documenti.Any())
                    {
                        <td style="text-align: center;">
                            <a href="#" onclick="ElencoDocumentiFamiliare(@item.idFamiliare, @Convert.ToDecimal(item.Documenti.First().tipoDocumento) , @Convert.ToDecimal(item.parentela) , @Convert.ToDecimal(EnumChiamante.Variazione_Maggiorazioni_Familiari ),@idMaggiorazioniFamiliari ) ">
                                <img width="17" src="../../Immagini/IconeDocumenti/PDF-icon.png" />
                            </a>
                        </td>
                    }
                    else
                    {
                        <td style="text-align: center;">
                            <a href="#" onclick="ElencoDocumentiFamiliare(@item.idFamiliare, 10, @Convert.ToDecimal(item.parentela) ,@Convert.ToDecimal(EnumChiamante.Variazione_Maggiorazioni_Familiari),@idMaggiorazioniFamiliari) ">
                                <img src="~/Immagini/IconeDocumenti/PDF-icon-Disable.png" width="17" title="Documenti" />
                            </a>
                        </td>
                    }
                    <td style="text-align: center;">
                    @if (!trasfSolaLettura)
                    {
                        if (!solaLettura)
                        {
                            if (item.parentela == EnumParentela.Coniuge)
                            {
                                <a href="#" onclick="ModificaConiuge(@item.idFamiliare); ">
                                    <img width="17" src="../../Immagini/edit.png" title="Modifica&nbsp;Coniuge" /> 
                                </a>
                            }
                            if (item.parentela == EnumParentela.Figlio)
                            {
                                <a href="#" onclick="ModificaFiglio(@item.idFamiliare); ">
                                    <img width="17" src="../../Immagini/edit.png" title="Modifica&nbsp;Figlio" />
                                </a>
                            }
                        }
                    }
                    </td>
                    <td style="text-align: center;">
                    @if (!trasfSolaLettura)
                    {
                        if (!solaLettura)
                        {
                            if (item.eliminabile)
                            {
                                if (item.parentela == EnumParentela.Coniuge)
                                {
                                    <a href="#" onclick="EliminaConiuge(@item.idFamiliare);">
                                        <img width="17" src="../../Immagini/delete.png" title="Elimina&nbsp;Coniuge" />
                                    </a>

                                }
                                if (item.parentela == EnumParentela.Figlio)
                                {
                                    <a href="#" onclick="EliminaFiglio(@item.idFamiliare);">
                                        <img width="17" src="../../Immagini/delete.png" title="Elimina&nbsp;Figlio" />
                                    </a>
                                }
                            }
                            else
                            {
                                <img class="SfondoBordoImg disabled" width="17" src="../../Immagini/delete_grey.png" />
                            }

                        }
                    }
                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="modal fade " id="DelConiugeModal" tabindex="-2" role="dialog" aria-labelledby="DelConiugeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="DelnotificaModelLabel">ATTENZIONE!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="DelViewConiuge">
                    Procedere con l'eliminazione del coniuge?
                </p>
            </div>
            <div class="modal-footer">
                <button id="btEliminaConiuge" type="button" class="btn btn-info" onclick="ConfermaEliminaConiuge();">Procedere</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="DelFiglioModal" tabindex="-2" role="dialog" aria-labelledby="DelFiglioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="DelnotificaModelLabel">ATTENZIONE!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="DelViewFiglio">
                    Procedere con l'eliminazione del figlio?
                </p>
            </div>
            <div class="modal-footer">
                <button id="btEliminaFiglio" type="button" class="btn btn-info" onclick="ConfermaEliminaFiglio();">Procedere</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $("#tabElencoFamiliari").DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "info": false,
        "lengthChange": false,
        "pageLength": 5,
        "searching": false,
        "paging": false,
        "bJQueryUI": true,
        "sDom": 'lfrtip',
      });


    PulsantiNotificaAttivaMagFam();

    function EliminaConiuge(idConiuge) {
        $('#DelConiugeModal').modal('show');
        $('#hiEliminaConiuge').val(idConiuge);
    }

    function EliminaFiglio(idFiglio) {
        $('#DelFiglioModal').modal('show');
        $('#hiEliminaFiglio').val(idFiglio);
    }



    function Pensione(idConiuge) {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/ElencoPensioniConiuge";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: {idConiuge:idConiuge},
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();

            },
            success: function (result) {
                //debugger;
                $("#tabFamiliari").empty();
                $("#tabFamiliari").html(result);
            },
            complete: function () {
                PulsantiNotificaAttivaMagFam();
                Sblocca();
            },
            error: function (error) {
                //debugger;
                Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

    function AltriDatiFamiliariConiuge(idConiuge, idMaggiorazioniFamiliari) {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/AltriDatiFamiliariConiuge";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idConiuge: idConiuge, idMaggiorazioniFamiliari: idMaggiorazioniFamiliari },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();

            },
            success: function (result) {
                //debugger;
                $("#tabFamiliari").empty();
                $("#tabFamiliari").html(result);
            },
            complete: function () {
                PulsantiNotificaAttivaMagFam();
                Sblocca();
            },
            error: function (error) {
                //debugger;
                Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

    function AltriDatiFamiliariFiglio(idFiglio, idMaggiorazioniFamiliari) {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/AltriDatiFamiliariFiglio";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idFiglio: idFiglio, idMaggiorazioniFamiliari: idMaggiorazioniFamiliari },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();

            },
            success: function (result) {
                //debugger;
                $("#tabFamiliari").empty();
                $("#tabFamiliari").html(result);
            },
            complete: function () {
                PulsantiNotificaAttivaMagFam();
                Sblocca();
            },
            error: function (error) {
                //debugger;
                Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }


    function ElencoDocumentiFamiliare(idFamiliare, tipoDoc, idParentela, chiamante, idMaggiorazioniFamiliari) {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/ElencoDocumenti";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: {
                idFamiliare: idFamiliare,
                tipoDoc: tipoDoc,
                parentela: idParentela,
                chiamante: chiamante,
                idMaggiorazioniFamiliari: idMaggiorazioniFamiliari
            },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();
            },
            success: function (result) {
                //debugger;
                $("#tabFamiliari").empty();
                $("#tabFamiliari").html(result);

            },
            complete: function () {
                PulsantiNotificaAttivaMagFam();
                Sblocca();
            },
            error: function (error) {
                //debugger;
                Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

    function ModificaConiuge(idFamiliare) {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/ModificaConiuge";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: {
                idConiuge: idFamiliare
            },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();
            },
            success: function (result) {
                //debugger;
                $("#tabFamiliari").empty();
                $("#tabFamiliari").html(result);

            },
            complete: function () {
                PulsantiNotificaAttivaMagFam();
                Sblocca();
            },
            error: function (error) {
                //debugger;
                Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }
    function ModificaFiglio(idFamiliare) {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/ModificaFiglio";

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: {
                idFiglio: idFamiliare
            },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();
            },
            success: function (result) {
                //debugger;
                $("#tabFamiliari").empty();
                $("#tabFamiliari").html(result);

            },
            complete: function () {
                PulsantiNotificaAttivaMagFam();
                Sblocca();
            },
            error: function (error) {
                //debugger;
                Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

    function ConfermaEliminaConiuge() {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/ConfermaEliminaConiuge";
        var idConiuge = parseInt($("#hiEliminaConiuge").val());


        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: {
                idConiuge: idConiuge
                //idMaggiorazioniFamiliari: idMaggiorazioniFamiliari,
                //solaLettura: solaLettura,
                //check_nuovo_coniuge: check_nuovo_coniuge
            },
            dataType: 'json',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();
            },
            success: function (result) {
                //debugger;
                if (result.errore === "") {
                    $('#DelConiugeModal').modal('hide');
                    PulsantiNotificaAttivaMagFam();
                } else {
                    ErroreElaborazioneAjax(result.msg);
                }
                //$("#tabFamiliari").empty();
                //$("#tabFamiliari").html(result);

            },
            complete: function () {
                //PulsantiNotificaAttivaMagFam();
                Sblocca();
            },
            error: function (error) {
                //debugger;
                Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

    function ConfermaEliminaFiglio() {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/ConfermaEliminaFiglio";
        var idFiglio = parseInt($("#hiEliminaFiglio").val());

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idFiglio: idFiglio },
            dataType: 'json',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();
            },
            success: function (result) {
                //debugger;
                if (result.errore === "") {
                    $('#DelFiglioModal').modal('hide');
                    PulsantiNotificaAttivaMagFam();
                } else {
                    ErroreElaborazioneAjax(result.msg);
                }
                //$("#tabFamiliari").empty();
                //$("#tabFamiliari").html(result);

            },
            complete: function () {
                //PulsantiNotificaAttivaMagFam();
                Sblocca();
            },
            error: function (error) {
                //debugger;
                Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }

    $('#DelConiugeModal').on('hidden.bs.modal', function (e) {
        //debugger;
        ElencoFamiliari();
    });

    $('#DelFiglioModal').on('hidden.bs.modal', function (e) {
        //debugger;
        ElencoFamiliari();
    });







</script>
