@using NewISE.Models.Tools
@using NewISE.Models.Enumeratori

@model IEnumerable<NewISE.Models.DBModel.PensioneConiugeModel>

@{
    decimal idConiuge = Convert.ToDecimal(ViewData["idConiuge"]);
    decimal idMaggiorazioniFamiliari = Convert.ToDecimal(ViewData["idMaggiorazioniFamiliari"]);
    bool solaLettura = Convert.ToBoolean(ViewData["solaLettura"]);
    bool trasfSolaLettura = Convert.ToBoolean(ViewData["trasfSolaLettura"]);
    string nominativo = Convert.ToString(ViewData["nominativo"]);
    bool pensioniModificate = Convert.ToBoolean(ViewData["pensioniModificate"]);
    bool esistonoPensioni = Convert.ToBoolean(ViewData["esistonoPensioni"]);
}

@Html.Hidden("hdIdImportoPensione")
@Html.Hidden("hdNominativo",nominativo)

<p style="margin-top: 5px; padding-left:15px;">
    @if (solaLettura || trasfSolaLettura) 
    {
        <button class="btn btn-default disabled">
            <i class="fas fa-euro-sign"></i>
            &nbsp;Nuovo Importo
        </button>
    }
    else
    {
        <button class="btn btn-success" id="btAnnullaModifichePensioni" onclick="NuovoImportoPensione(@idConiuge);">
            <i class="fas fa-euro-sign"></i>
            &nbsp;Nuovo Importo
        </button>
    }
</p>
<div style="padding-left:15px; padding-right:10px;">
    <table id="TabPensioni" cellspacing="0">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.dataInizioValidita)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.dataFineValidita)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.importoPensione)
                </th>
                @*<th>
                </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.dataInizioValidita)
                    </td>
                    @if (item.dataFineValidita != Utility.DataFineStop())
                    {
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.dataFineValidita)
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }

                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.importoPensione)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p style="padding-left: 15px;">
    @if (solaLettura || trasfSolaLettura || pensioniModificate==false)
    {
        <button class="btn btn-default disabled">
            <i class="fas fa-undo-alt"></i>
            Annulla Modifiche  
        </button>
    }
    else
    {
        <button class="btn btn-success" id="btAnnullaModifichePensioni" onclick="AnnullaModifichePensioneModal(@idConiuge);">
            <i class="fas fa-undo-alt"></i>
            Annulla Modifiche
        </button>
    }
    @if (solaLettura || trasfSolaLettura || esistonoPensioni==false)
    {
        <button class="btn btn-default disabled">
            <i class="fab fa-creative-commons-nc-eu"></i>
            &nbsp;Cessazione
        </button>

    }
    else
    {
        <button class="btn btn-success" id="btCessazionePensioni" onclick="CessazionePensione(@idConiuge);">
            <i class="fab fa-creative-commons-nc-eu"></i>
            &nbsp;Cessazione
        </button>
    }
    |
    @Ajax.ActionLink("Torna indietro", "ElencoFamiliari", "VariazioneMaggiorazioniFamiliari", new { idMaggiorazioniFamiliari = idMaggiorazioniFamiliari }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tabFamiliari", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace })
</p>




<script type="text/javascript">
    
    PulsantiNotificaAttivaMagFam();

    $('#TabPensioni').DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "info": false,
        "lengthChange": false,
        "pageLength": 5,
        "searching": false,
        "paging": true,
        "ordering": false,
        "bJQueryUI": true,
        "sDom": 'lfrtip',

    });

    

    function CessazionePensione(idConiuge) {
        //debugger;
        $("#divValidazioneCessazione").hide();
        $('#hi_idConiuge').val(idConiuge);
        $('#dataCessazionePensione').val('');
        $('#CessazionePensioneModal').modal().show();
    }

    $('#CessazionePensioneModal').on('hidden.bs.modal', function (e) {
        //debugger;
        $("#divValidazioneCessazione").hide();
        //$(this).remove();
    });

    function AnnullaModifichePensioneModal(idConiuge) {
        //debugger;
        var nominativo = $('#hdNominativo').val();
        $('#hi_idConiuge').val(idConiuge);
        $("#spanAnnullaModifichePensione").text(nominativo);
        $('#AnnullaModifichePensioneModal').modal().show();
    }

       $('#dataCessazionePensione').datepicker({
        //showButtonPanel: true,
        showAnim: "slide",
        changeMonth: true,
        changeYear: true,
    });

    function NuovoImportoPensione(idConiuge) {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/NuovoImportoPensione";
        var idConiuge = parseInt('@idConiuge');

        $.ajax({
            type: "POST",
            url: rotta,

            data: {idConiuge: idConiuge},
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();

            },
            success: function (result) {
                //debugger;
                $("#tabFamiliari").empty();
                $("#tabFamiliari").html(result);
            },
            complete: function () {
                PulsantiNotificaAttivaMagFam();
                Sblocca();
            },
            error: function (error) {
                //debugger;
                Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

</script>
