@model NewISE.Models.DBModel.VariazioneAdfFigliModel

@{
    //decimal idMaggiorazioniFamiliari = Convert.ToDecimal(ViewData["idMaggiorazioniFamiliari"]);
    //string tipologiaFiglio = Convert.ToString(ViewData["tipologiaFiglio"]);
    //bool solaLettura = Convert.ToBoolean(ViewData["solaLettura"]);

}

<div style="padding-left: 15px;padding-right:50px">
    <div class="form-horizontal">
        <table style="width:100%">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.dataNascita )
                            </td>
                            <td style="padding-left:10px @Model.ev_datanascita">
                                <span class="text-uppercase">@Html.DisplayFor(model => model.dataNascita )</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.capNascita )
                            </td>
                            <td style="padding-left:10px @Model.ev_capnascita ">
                                <span class="text-uppercase">@Html.DisplayFor(model => model.capNascita    ) </span>
                            </td>
                        </tr>                        
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.comuneNascita )
                            </td>
                            <td style="padding-left:10px @Model.ev_comunenascita ">
                                <span class="text-uppercase">@Html.DisplayFor(model => model.comuneNascita )</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.provinciaNascita )
                            </td>
                            <td style="padding-left:10px @Model.ev_provincianascita ">
                                @Html.DisplayFor(model => model.provinciaNascita )
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.nazionalita )
                            </td>
                            <td style="padding-left:10px @Model.ev_nazionalita ">
                                @Html.DisplayFor(model => model.nazionalita)
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.indirizzoResidenza)
                            </td>
                            <td style="padding-left:10px @Model.ev_indirizzoresidenza ">
                                @Html.DisplayFor(model => model.indirizzoResidenza)
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.capResidenza )
                            </td>
                            <td style="padding-left:10px @Model.ev_capresidenza ">
                                @Html.DisplayFor(model => model.capResidenza)
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.comuneResidenza )
                            </td>
                            <td style="padding-left:10px @Model.ev_comuneresidenza ">
                                @Html.DisplayFor(model => model.comuneResidenza)
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.provinciaResidenza )
                            </td>
                            <td style="padding-left:10px @Model.ev_provinciaresidenza ">
                                @Html.DisplayFor(model => model.provinciaResidenza)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>
<hr />


<script type="text/javascript">
 



</script>

