@model NewISE.Models.DBModel.ConiugeModel
@{
//decimal idMaggiorazioniFamiliari = Convert.ToDecimal(ViewData["idMaggiorazioniFamiliari"]);
//bool solaLettura = Convert.ToBoolean(ViewData["solaLettura"]);
}

<div style="padding-left: 15px;padding-right:50px">
    <div class="form-horizontal">
        <table style="width:100%">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.nominativo)
                            </td>
                            <td style="padding-left:10px">
                                <span class="text-uppercase">@Html.DisplayFor(model => model.nominativo)</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.nominativo)
                            </td>
                            <td style="padding-left:10px">
                                <span class="text-uppercase">@Html.DisplayFor(model => model.nominativo)</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.codiceFiscale)
                            </td>
                            <td style="padding-left:10px">
                                <span class="text-uppercase">@Html.DisplayFor(model => model.codiceFiscale)</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                               @* @Html.DisplayNameFor(model => model.residente)*@
                            </td>
                            <td style="padding-left:10px">
                               @* <span class="text-uppercase">@Html.DisplayFor(model => model.residente)</span>*@
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                             @*   @Html.DisplayNameFor(model => model.ulterioreMagConiuge)*@
                            </td>
                            <td style="padding-left:10px">
                                @*<span class="text-uppercase">@Html.DisplayFor(model => model.ulterioreMagConiuge)</span>*@
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.dataInizio)
                            </td>
                            <td style="padding-left:10px">
                                <span class="text-uppercase">@Html.DisplayFor(model => model.dataInizio)</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                                @Html.DisplayNameFor(model => model.dataFine)
                            </td>
                            <td style="padding-left:10px">
                                @Html.DisplayFor(model => model.dataFine)
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                                @*@Html.DisplayNameFor(model => model.comuneResidenza)*@
                            </td>
                            <td style="padding-left:10px">
                               @* <span class="text-uppercase">@Html.DisplayFor(model => model.comuneResidenza)</span>*@
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">
                             @*   @Html.DisplayNameFor(model => model.provinciaResidenza)*@
                            </td>
                            <td style="padding-left:10px">
                                @*<span class="text-uppercase">@Html.DisplayFor(model => model.provinciaResidenza)</span>*@
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>

    </div>
</div>
<hr />


<script type="text/javascript">
 



</script>

