@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.DBModel.CalendarioEventiModel>
@{
    ViewBag.Title = "Dettagli Calendario Evento";
    bool admin = Convert.ToBoolean(ViewBag.Amministratore);
    var errori = ViewData.ModelState;
}
<div style="padding-left: 15px; padding-right: 5px; padding-top: 10px; font-size:12px">
    <div align="center"><h3 style="text-align:center; color:darkblue">Numero elementi: @Model.Count()</h3></div>
    <table id="tbelencocal" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DataInizioEvento)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.DataScadenza)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.Completato)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCompletato)
                </th>               
                <th>
                    @Html.DisplayNameFor(model => model.Annullato)
                </th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr style="background-color:darkblue;color:white">                       
                        @if (item.DataInizioEvento != null && item.DataInizioEvento < Convert.ToDateTime("31/12/9999"))
                        {
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.DataInizioEvento)
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center;"></td>
                        }
                        @if (item.DataScadenza != null && item.DataScadenza < Convert.ToDateTime("31/12/9999"))
                        {
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.DataScadenza)
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center;"></td>
                        }
                        <td>
                            <span class="text-uppercase">@Html.DisplayFor(modelItem => item.Completato)</span>
                        </td>
                        @if (item.DataCompletato != null && item.DataCompletato < Convert.ToDateTime("31/12/9999")
                            && item.DataCompletato != Convert.ToDateTime("01/01/0001"))
                        {
                            <td style="text-align: center;">
                                @Html.DisplayFor(modelItem => item.DataCompletato)
                            </td>
                        }
                        else
                        {
                            <td style="text-align: center;"></td>
                        }
                        <td>
                            <span class="text-uppercase">@Html.DisplayFor(modelItem => item.Annullato)</span>
                        </td>
                    </tr>               
            }

        </tbody>
    </table>
</div>