@model IEnumerable<NewISE.Areas.Parametri.Models.MaggiorazioneConiugeModel>
@using NewISE.Areas.Parametri.Models.dtObj;

<p>
    <a id="btnInsNuovaMaggConiuge" href="#" onclick="NuovoMaggiorazioneAnnuale();">Inserisci Maggiorazioni Coniuge</a>
</p>
<table id="tbMaggConiuge" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idMaggiorazioneConiuge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idTipologiaConiuge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipologiaConiuge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.percentualeConiuge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataInizioValidita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataFineValidita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.annullato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idMaggiorazioneConiuge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idTipologiaConiuge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipologiaConiuge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.percentualeConiuge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataInizioValidita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataFineValidita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.annullato)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idMaggiorazioneConiuge }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idMaggiorazioneConiuge }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idMaggiorazioneConiuge })
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $('.display').DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        }
    });

    
    $("#idLivello").select2({
        placeholder: "Seleziona il ",
        allowClear: true,
        language: "it",
        width: '150'

    });

    $("#btnInsNuovaMaggConiuge").button();

</script>