@model IEnumerable<NewISE.Models.DBModel.PercentualeMagConiugeModel>
@using NewISE.Areas.Parametri.Models.dtObj;
@using NewISE.Models.Tools;
@{
    bool escludiAnnullati = (bool)ViewBag.escludiAnnullati;
    decimal idMinimoNonAnnullato = (decimal)ViewBag.idMinimoNonAnnullato;
}
<p>
    <a id="btnInsNuovaMaggConiuge" href="#" onclick="NuovaMaggiorazioneConiuge();">Inserisci Percentuale Maggiorazione Coniuge</a>
</p>

<p>
    <div class="form-group">
        @Html.Label("lblTipologiaConiuge0", "Seleziona Tipologia Coniuge", new { @class = "control-label" })
        <div id="divCombo">
            <div class="select2-container select2-container--classic">
                @Html.DropDownList("idTipologiaConiuge", ViewBag.LivelliList as IEnumerable<SelectListItem>, new { @class = "form-control select2 select2-select", @onchange = "PrelevaPVMaggConiuge();", @onClick = "PrelevaPVMaggConiuge();" })
            </div>
        </div>
    </div>
</p>
<table id="tbIndBase" class="display" cellspacing="0">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataInizioValidita)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataFineValidita)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.percentualeConiuge)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataAggiornamento)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.annullato)
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.dataInizioValidita)
                </td>
                    @if (item.dataFineValidita != Utility.DataFineStop())
                    {
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.dataFineValidita)
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.percentualeConiuge) %
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.dataAggiornamento)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.annullato)
                </td>
                <td style="text-align:center;">
                    @using (dtParMaggConiuge dtib = new dtParMaggConiuge())
                    {
                        if (dtib.PercMaggiorazioneConiugeAnnullato(item))
                        {
                            <a href="#" class="disabled"><img alt="Elimina" src="~/Immagini/EliminazioneDisable.png" width="25" /></a>
                        }
                        else
                        {                        
                            if (item.idPercentualeConiuge == idMinimoNonAnnullato)
                            {
                                <a href="#" class="disabled"><img alt="Elimina" src="~/Immagini/EliminazioneDisable.png" width="25" /></a>
                            }
                            else
                            {
                               <a href="#" onclick="EliminaMaggiorazioneConiuge(@item.idPercentualeConiuge );"><img alt="Elimina" src="~/Immagini/Eliminazione.png" width="25" /></a>
                            }                           
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="dialog-confirm" title="Elimina maggiorazione coniuge?" class="hide">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Si vuole procedere con l'eliminazione della maggiorazione coniuge?</p>
</div>

<script type="text/javascript">
    $('.display').DataTable({
        "ordering":false,
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        }
    });

    $("#idTipologiaConiuge").select2({
        placeholder: "Seleziona la Tipologia Coniuge ",
        allowClear: true,
        language: "it",
        width: '150'

    });

    $("#btnInsNuovaMaggConiuge").button();

    function PrelevaPVMaggConiuge() {
        //debugger;
        rotta = "/Parametri/ParamMaggConiuge/PercMaggiorazioneConiugeLivello";

        var idTipologiaConiuge = parseInt($("#idTipologiaConiuge").select2('val'));
        $("#hiTipoContributo").val(idTipologiaConiuge);


        if (isNaN(idTipologiaConiuge)) {
            $("#divPViewParametri").empty();
            return false;
        }

      var chk = false;
            if ($("#escludiAnnullati").is(":checked")) {
                chk = true;
            }

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTipologiaConiuge: idTipologiaConiuge, escludiAnnullati: chk },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPViewParametri").empty();
                $("#divPViewParametri").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

    function NuovaMaggiorazioneConiuge() {
        //debugger;

        var rotta = "/Parametri/ParamMaggConiuge/NuovaPercMaggiorazioneConiuge";
        var idTipologiaConiuge = parseInt($("#idTipologiaConiuge").select2('val'));


        if (isNaN(idTipologiaConiuge)) {
            //$("#divPViewParametri").empty();
            AlertDialog("Selezionare la tipologia coniuge per procedere.");
            return false;
        }

        var chk = false;
            if ($("#escludiAnnullati").is(":checked")) {
                chk = true;
            }

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTipologiaConiuge: idTipologiaConiuge, escludiAnnullati: chk },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPViewParametri").empty();
                $("#divPViewParametri").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

    function EliminaMaggiorazioneConiuge(id) {
       // debugger;
        var rotta = "/Parametri/ParamMaggConiuge/EliminaPercMaggiorazioneConiuge";

        var idTipologiaConiuge = parseInt($("#idTipologiaConiuge").select2('val'));


        if (isNaN(idTipologiaConiuge)) {
            $("#divPViewParametri").empty();
            return false;
        }
        var chk = false;
            if ($("#escludiAnnullati").is(":checked")) {
                chk = true;
            }
        $('#dialog-confirm').dialog({
            autoOpen: true,
            width: 400,
            buttons: [
                {
                    text: "OK",
                    click: function () {
                        $(this).dialog("close");
                        $.ajax({
                            type: "POST",
                            url: rotta,
                            data: { escludiAnnullati: chk, idTipologiaConiuge: idTipologiaConiuge, idMaggConiuge: id },
                            dataType: 'html',
                            beforeSend: function () {
                                //debugger;
                                //VerificaAutenticazione();
                                //$("#DialogNewDoc").dialog("destroy");
                                //$("#divEffettoLoadAutNoDoc").show("slow");

                            },
                            success: function (result) {
                                //debugger;
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                $("#divPViewParametri").empty();
                                $("#divPViewParametri").html(result);

                                //RicercaDocumenti();

                            },
                            complete: function () {
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                //                $("#Centro").getNiceScroll().resize();
                            },
                            error: function (jqXHR, textStatus, errorThrow) {
                                //debugger;
                                var msg = errorThrow.err;
                                AlertDialog(msg);
                            }

                        });
                    },
                    "class": "ui-button-danger"
                },
                {
                    text: "Annulla",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });

    }
</script>