@model IEnumerable<NewISE.Areas.Parametri.Models.AliquoteContributiveModel>
@using NewISE.Areas.Parametri.Models.dtObj;


<p>
    <a id="btnInsNuoveAliquoteContr" href="#" onclick="NuoveAliquoteContributive();">Inserisci Aliquote Contributive</a>
</p>



<table id="tbAliquoteContr" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idAliqContr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataInizioValidita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataFineValidita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aliquota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.annullato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idAliqContr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descrizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataInizioValidita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aliquota)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.annullato)
                </td>
                <td style="text-align:center;">
                    <a href="#" onclick=""><img alt="Elimina" src="~/Immagini/Eliminazione.png" width="25" /></a>
                </td>
            </tr>
        }
</tbody>
</table>

<script type="text/javascript">
    $('.display').DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        }
    });

    $("#idLivello").select2({
        placeholder: "Seleziona il ...??",
        allowClear: true,
        language: "it",
        width: '150'

    });

    $("#btnInsNuoveAliquoteContr").button();
</script>