@model IEnumerable<NewISE.Models.DBModel.RiepilogoVociModel>
<link href="~/Areas/Statistiche/Content/NoScroller.css" rel="stylesheet" />

@using NewISE.Models.DBModel

@{
    decimal idTrasferimento = (decimal)ViewData["idTrasferimento"];
 }

@Html.Hidden("hidTrasferimento")


<div id="dialog" title=""></div>


<div class="row">
    <div class="col-md-12">
        <div style="padding-bottom:10px;border-bottom:solid;border-width:1px;border-color:limegreen;margin-bottom:15px">
            <h4>Elenco Riepilogo Voci</h4>
        </div>
    </div>
</div>

<table id="DtRiepilogoVoci" cellspacing="0" class="table">
    <thead>
        <tr>            
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiornoMeseAnnoElaborato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeseAnnoElaborato)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.descrizione)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TipoMovimento.DescMovimento)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Voci.codiceVoce)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TipoVoce.descrizione)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.TipoLiquidazione.descrizione)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MeseAnnoRiferimento)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.importo)
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idTeorici)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiornoMeseAnnoElaborato)
                </td>
                <td style="text-align:center;">
                    @*@Html.HiddenFor(modelItem => item.idTeorici)*@
                    @Html.DisplayFor(modelItem => item.MeseAnnoElaborato)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.descrizione)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.TipoMovimento.DescMovimento)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.Voci.codiceVoce)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.TipoVoce.descrizione)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.TipoLiquidazione.descrizione)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.MeseAnnoRiferimento)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.importo)
                </td>                    
            </tr>            
        }
    </tbody>

</table>

<div class="row">
    <div class="pull-right" style="margin-top: 10px; margin-bottom: 10px;margin-right:35px ">
        <button class="btn btn-default btn-sm" id="opener">
            <i aria-hidden="true" class="fa fa-2x fa-print"></i>
            Stampa
        </button>
    </div>
</div>

<div class="modal fade modal-fullscreen force-fullscreen" id="ModalReport" tabindex="-1" role="dialog" aria-labelledby="ModalReportLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:980px; align-content:center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="DownloadReportLabel">Riepilogo Voci</h3>
            </div>
            <div class="modal-body">
                <div id="divRiepilogoVoci">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var myTable = $("#DtRiepilogoVoci").DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "info": true,
        "lengthChange": false,
        //"pageLength": 10,
        "searching": true,
        "paging": true,
        "bJQueryUI": true,
        "sDom": 'lfrtip',
        "scrollY": 350, 
        "columnDefs": [
                    { "targets": [1], "type": 'date-euro' },
                    { "targets": [0, 1], "visible": false },
                    { "targets": [2, 8, 9], "orderable": false },
                    { "targets": [9], "type": 'numeric-comma' },
        ],
        "order": [[0, "desc"],[2, "asc"]]
    });

    function DownloadReport() {
        $('#ModalReport').modal().show();
    }

    var windowWidth = $(window).width();
    var windowHeight = $(window).height();

    $(function () {
        $("#dialog").dialog({
            autoOpen: false,
            show: {
                //effect: "blind",
                //duration: 1000
            },
            hide: {
                //effect: "explode",
                //duration: 1000
            },
            close: function (event, ui) {
                $('.container').removeClass("NoOverflow");
            },
            height: windowHeight, width: windowWidth


        });

        $("#opener").on("click", function () {
           
            debugger;
            var rotta = "/RiepilogoVoci/RptRiepilogoVoci";

            var idTrasferimento = $("#hidTrasferimento").val();

            var lidTeorici = new Array();

            //var lTeorici = $('#DtRiepilogoVoci > tbody > tr > td > #item_idTeorici');

            myTable.column(0,{search:'applied'}).data().each(function(value, index){
                lidTeorici.push(value);
            });

            //for (var i = 0; i < lTeorici.length; i++) {
            //    var idTeorico = lTeorici[parseInt(i)].value;
            //    lidTeorici.push(idTeorico);
            //}

            if (lidTeorici.length >0) {
                $('.container').addClass("NoOverflow");

                $("#dialog").dialog("open");
                $("#dialog").css("background-color", "#ffffff");

                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: { idTrasferimento: idTrasferimento, Teorici: lidTeorici },
                    dataType: 'html',
                    beforeSend: function () {
                        //debugger;
                        $("#dialog").empty();

                    },
                    success: function (result) {
                        //debugger;
                        $("#dialog").html(result);


                    },
                    complete: function () {
                        //$("#divEffettoLoadAutNoDoc").hide("slow");
                        //                $("#Centro").getNiceScroll().resize();
                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }

                });
            }
            else {
                InfoElaborazioneAjax("Non sono presenti dati per la stampa.")
            }

        });
    });

</script>