@model IEnumerable<NewISE.Models.DBModel.IndennitaBaseModel>
@using NewISE.Areas.Parametri.Models.dtObj;
@using NewISE.Models.Tools;
@{
    bool escludiAnnullati = (bool)ViewBag.escludiAnnullati;
   // decimal idLivello = ViewBag.idLivello==null?0: (decimal)ViewBag.idLivello;
    IEnumerable<SelectListItem> Gruppo = (IEnumerable<SelectListItem>)ViewBag.LivelliList;
    string idLivello = Gruppo.Where(x => x.Selected).FirstOrDefault().Value;
    
    decimal idMinimoNonAnnullato = (decimal)ViewBag.idMinimoNonAnnullato;
}

<p>
    <a id="btnInsNuovaInd" href="#" onclick="NuovaIndennitaDiBase();">Inserisci Indennita di Base</a>
</p>

<p>
    <div class="form-group">
        @Html.Label("lblLivello0", "Seleziona Livello", new { @class = "control-label" })
        <div id="divCombo">
            <div class="select2-container select2-container--classic">
                @Html.DropDownList("idLivello", ViewBag.LivelliList  as IEnumerable<SelectListItem>
               , new { @class = "form-control select2 select2-select", @onchange = "PrelevaPVIndBase();", @onClick = "PrelevaPVIndBase();" })
            </div>
        </div>
    </div>
</p>
<table id="tbIndBase" class="display" cellspacing="0">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Livello.DescLivello)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataInizioValidita)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataFineValidita)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.valore)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.valoreResponsabile)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.annullato)
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.Livello.DescLivello)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.dataInizioValidita)
                </td>
                    @if (item.dataFineValidita != Utility.DataFineStop())
                    {
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.dataFineValidita)
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.valore)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.valoreResponsabile)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.annullato)
                </td>
                <td style="text-align:center;">
                    
                    @using (dtParIndennitaBase dtib = new dtParIndennitaBase())
                    {
                        if (dtib.IndennitaBaseAnnullato(item))
                        {
                            <a href="#" class="disabled"><img alt="Elimina" src="~/Immagini/EliminazioneDisable.png" width="25" /></a>
                        }
                        else
                        {
                            if (item.idIndennitaBase == idMinimoNonAnnullato)
                            {
                                <a href="#" class="disabled"><img alt="Elimina" src="~/Immagini/EliminazioneDisable.png" width="25" /></a>
                            }
                            else
                            {
                                <a href="#" onclick="EliminaIndbase(@item.idIndennitaBase);"><img alt="Elimina" src="~/Immagini/Eliminazione.png" width="25" /></a>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="dialog-confirm" title="Elimina indennità di base?" class="hide">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Si vuole procedere con l'eliminazione dell'indennità di base?</p>
</div>

<script type="text/javascript">
    $('.display').DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "columnDefs": [
                    { "targets": [1, 2], "type": 'date-euro' },
                    { "targets": [3,4], "type": 'numeric-comma' },
                    { "targets": [5, 6], "orderable": false },
        ],
    });

    $("#idLivello").select2({
        placeholder: "Seleziona il livello",
        allowClear: true,
        language: "it",
        width: '150'

    });

    $('#idLivello').val(@idLivello);




    $("#btnInsNuovaInd").button();

    function PrelevaPVIndBase() {
      // debugger;
        rotta = "/Parametri/ParamIndennitaBase/IndennitaBaseLivello";
        var idLivello = parseInt($("#idLivello").select2('val'));
        
        $("#hiTipoContributo").val(idLivello);

        if (isNaN(idLivello)) {
            $("#divPViewParametri").empty();
            return false;
        }
        var chk = false;
        if ($("#escludiAnnullati").is(":checked")) {
            chk = true;
        }

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idLivello: idLivello, escludiAnnullati: chk },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPViewParametri").empty();
                $("#divPViewParametri").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

    function NuovaIndennitaDiBase() {
     //  debugger;

        var rotta = "/Parametri/ParamIndennitaBase/NuovaIndennitaBase";
        var idLivello = parseInt($("#idLivello").select2('val'));
      
        if (isNaN(idLivello)) {
            idLivello = parseInt($("#hiTipoContributo").val());
        }

        if (isNaN(idLivello)) {
            idLivello = parseInt('@idLivello');
        }
        
        if (isNaN(idLivello)) {
            //$("#divPViewParametri").empty();
            AlertDialog("Selezionare un livello per procedere.");
            return false;
        }

        var chk = false;
        if ($("#escludiAnnullati").is(":checked")) {
            chk = true;
        }

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idLivello: idLivello, escludiAnnullati: chk },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPViewParametri").empty();
                $("#divPViewParametri").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

    function EliminaIndbase(id) {
    //    debugger;
        var rotta = "/Parametri/ParamIndennitaBase/EliminaIndennitaBase";

        var idLivello = parseInt($("#idLivello").select2('val'));
        if (isNaN(idLivello)) {
            idLivello = parseInt($("#hiTipoContributo").val());
        }


        if (isNaN(idLivello)) {
            $("#divPViewParametri").empty();
            return false;
        }

        var chk = false;
            if ($("#escludiAnnullati").is(":checked")) {
                chk = true;
            }

        $('#dialog-confirm').dialog({
            autoOpen: true,
            width: 400,
            buttons: [
                {
                    text: "OK",
                    click: function () {
                        $(this).dialog("close");
                        $.ajax({
                            type: "POST",
                            url: rotta,
                            data: { escludiAnnullati: chk, idLivello: idLivello, idIndBase: id },
                            dataType: 'html',
                            beforeSend: function () {
                                //debugger;
                                //VerificaAutenticazione();
                                //$("#DialogNewDoc").dialog("destroy");
                                //$("#divEffettoLoadAutNoDoc").show("slow");

                            },
                            success: function (result) {
                                //debugger;
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                $("#divPViewParametri").empty();
                                $("#divPViewParametri").html(result);

                                //RicercaDocumenti();

                            },
                            complete: function () {
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                //                $("#Centro").getNiceScroll().resize();
                            },
                            error: function (jqXHR, textStatus, errorThrow) {
                                //debugger;
                                var msg = errorThrow.err;
                                AlertDialog(msg);
                            }

                        });
                    },
                    "class": "ui-button-danger"
                },
                {
                    text: "Annulla",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });

    }
</script>