@using NewISE.Models.DBModel
@using NewISE.Models.ViewModel

@model IEnumerable<NewISE.Models.ViewModel.MaggiorazioneAbitazioneViewModel>

@{
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    decimal idAttivazioneMAB = Convert.ToDecimal(ViewData["idAttivazioneMAB"]);
    decimal idMAB = Convert.ToDecimal(ViewData["idMAB"]);
    decimal NumAttivazioni = Convert.ToDecimal(ViewData["NumAttivazioni"]);
    bool soloLettura = Convert.ToBoolean(ViewData["soloLettura"]);
    bool siDati = Convert.ToBoolean(ViewData["siDati"]);
    decimal ValsoloLettura = Convert.ToDecimal(ViewData["soloLettura"]);
}


<h4>Maggiorazione Abitazione</h4>
<hr />
<div style="padding-right: 10px;">

    @if (idMAB > 0)
    {
        @Ajax.ActionLink("Modifica", "ModificaMAB", "MaggiorazioneAbitazione", new { idTrasferimento = idTrasferimento }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divMaggiorazioneAbitazione", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success", @title = "Modifica Maggiorazione Abitazione", @id = "linkNuovaMAB" })
    }
    else
    {
        @Ajax.ActionLink("Inserisci", "InserisciMAB", "MaggiorazioneAbitazione", new { idTrasferimento = idTrasferimento }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divMaggiorazioneAbitazione", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success", @title = "Inserisci Maggiorazione Abitazione", @id = "linkEditMAB" })
    }


    <table id="tabMAB" class="table table-striped">
        <thead>
            <tr>
                <th>
                    Tipo Anticipo
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.descrizioneValuta )
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CanoneMAB.ImportoCanone )
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dataInizioMAB )
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dataFineMAB)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (siDati)
                        {
                            if (item.AnticipoAnnuale)
                            {
                                <span class="text-uppercase">ANNUALE</span>
                            }
                            else
                            {
                                <span class="text-uppercase">SEMESTRALE</span>
                            }
                        }
                        else
                        {
                            <span class="text-uppercase"></span>
                        }
                    </td>
                    <td>
                        <span class="text-uppercase">@Html.DisplayFor(modelItem => item.descrizioneValuta)</span>
                    </td>
                    <td>
                        <span class="text-uppercase">@Html.DisplayFor(modelItem => item.CanoneMAB.ImportoCanone)</span>
                    </td>
                    <td>
                        <span class="text-uppercase">@Html.DisplayFor(modelItem => item.dataInizioMAB)</span>
                    </td>
                    <td>
                        <span class="text-uppercase">@Html.DisplayFor(modelItem => item.dataFineMAB)</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script type="text/javascript">

    

    //$('#ValImportoPercepito').autoNumeric('init',
    //{
    //    aSep: '.',
    //    aDec: ',',
    //    aSign: '€ ',
    //    nSep: true
    //});



    @*//$('#ValImportoPrevisto').autoNumeric('set', @Model.ImportoPrevisto);*@

    

</script>
