
@model NewISE.Models.DBModel.MaggiorazioneAbitazioneModel

@{
    decimal idAttivitaAnticipi = Convert.ToDecimal(ViewData["idAttivitaAnticipi"]);
    decimal NumAttivazioni = Convert.ToDecimal(ViewData["NumAttivazioni"]);
    bool soloLettura = Convert.ToBoolean(ViewData["soloLettura"]);
    decimal ValsoloLettura = Convert.ToDecimal(ViewData["soloLettura"]);
    string txtReadOnly = "";
    if (soloLettura)
    {
        txtReadOnly = "readonly";
    }
}

@Html.Hidden("hiPercentualeRichiesta")
@Html.Hidden("hiPercentualeAnticipoRichiesto")

<div style="padding-right: 10px;">
    <h4>Richiesta Anticipi</h4>
    <hr />
    <div class="table col-xs-12">
        <div class="row">
            <div class="col-xs-3">
            </div>

            <div class="col-xs-3 text-center" style="font-weight:bold">
                @Html.DisplayNameFor(model => model.ImportoPrevisto)
            </div>
            <div class="col-xs-2 text-center" style="font-weight:bold">
                @Html.DisplayNameFor(model => model.PercentualeAnticipoRichiesto)
            </div>
            <div class="col-xs-3 text-center" style="font-weight:bold">
                @Html.DisplayNameFor(model => model.ImportoPercepito)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 text-right" style="padding-right:15px;font-weight:bold;padding-top:5px">
                Indennità di Prima Sistemazione
            </div>
            <div class="col-xs-3">
                <input type="text" id="ValImportoPrevisto" class="form-control " readonly style="text-align: right" />
            </div>
            <div class="col-xs-2">
                <input type="text" maxlength="3" onkeyup="CalcolaAnticipo(@idAttivitaAnticipi,@ValsoloLettura);" id="PercentualeAnticipoRichiesto" value="@Model.PercentualeAnticipoRichiesto" class="form-control " @txtReadOnly style="text-align: right" />
            </div>
            <div>
                <div id="divLoader" class="col-xs-3" hidden>
                    <img src="~/Immagini/Loading/loader.gif" style="width:100%" height="30" />
                </div>
                <div id="divImportoPercepito" class="col-xs-3">
                    <input type="text" id="ValImportoPercepito" value="@Model.ImportoPercepito" class="form-control " readonly style="text-align: right" />
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    

    $('#ValImportoPercepito').autoNumeric('init',
    {
        aSep: '.',
        aDec: ',',
        aSign: '€ ',
        nSep: true
    });



    $('#ValImportoPrevisto').autoNumeric('set', @Model.ImportoPrevisto);

    

</script>
