@{
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    decimal idMab = Convert.ToDecimal(ViewData["idMab"]);
    bool solaLettura = Convert.ToBoolean(ViewData["solaLettura"]);
}

@Html.Hidden("hdIdMab", idMab)

<div class="row">
    <div class="col-xs-3">
        <div style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">
            <button class="btn btn-default btn-sm" onclick="DownloadFormularioMAB_var();">
                <i aria-hidden="true" class="fa fa-2x fa-file-pdf-o"></i>
                Download formulario
            </button>
        </div>
    </div>
    <div class="col-xs-3">
        <div style="margin-top: 10px; margin-bottom: 10px;">
            @if (solaLettura)
            {
                <button class="btn btn-default btn-sm disabled" disabled="disabled">
                    <i aria-hidden="true" class="fa fa-2x fa-file-pdf-o"></i>
                    Inserisci formulario
                </button>
            }
            else
            {
                <button class="btn btn-default btn-sm" onclick="NuovoFormularioMAB(@idMab);">
                    <i aria-hidden="true" class="fa fa-2x fa-file-pdf-o"></i>
                    Inserisci formulario
                </button>
            }
        </div>
    </div>
    <div id="divCombo" class="col-xs-6">
        <div style="margin-top: 10px; margin-bottom: 10px;">
            @Html.Label("Data Attivazione", htmlAttributes: new { @class = "control-label" })
            <div class="select2-container select2-container--classic">
                @Html.DropDownList("lDataAttivazione", ViewBag.lDataAttivazione as IEnumerable<SelectListItem>, new { @id = "idAttivazioneMAB", @class = "form-control select2 select2-select", @onchange = "FiltraElencoFormularioMAB();" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="divTabElencoFormulariMAB_Var">
            @Html.Action("TabFormulariMABInseriti", "VariazioneMaggiorazioneAbitazione", new { idMab=idMab })
        </div>
    </div>
</div>

<p style="padding-left: 15px;">
    @Ajax.ActionLink("Torna indietro", "AttivitaMAB_var", "VariazioneMaggiorazioneAbitazione", new { idTrasferimento = idTrasferimento }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tabAttivitaMAB_var", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace })
</p>

<div class="modal fade" id="ModalEliminaFormularioMAB" tabindex="-1" role="dialog" aria-labelledby="ModalEliminaFormularioMABLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="EliminaFormularioMABLabel">Eliminazione Formulario Maggiorazione Abitazione</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <input type="hidden" id="hIdDocFormularioMAB" />
                <p><label>Eliminare il formulario selezionato?</label></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="ConfermaEliminaFormularioMAB();">Ok</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    function DownloadFormularioMAB_var() {
        $('#ModalDownloadFormularioMAB_var').modal().show();
    }
    function FiltraElencoFormularioMAB() {
        //debugger
        var idAttivazioneMAB = $("#idAttivazioneMAB").val();
        FiltraFormulariMAB(@idMab, idAttivazioneMAB);
    }

    $("#idAttivazione").select2({
        placeholder: "Seleziona la data attivazione",
        allowClear: true,
        language: "it",
        width: '250',
        allowClear: false
    });


    //$("#ModalNuovoFormularioMAB_Var").on("hidden.bs.modal", function () {
    //    //debugger;
    //    ElencoFormulariMABInseriti();
    //});

</script>


