@using System.Web.Optimization;

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - ISE (Indennità sede estera)</title>

    @Styles.Render("~/Content/jqueryuiCSS")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/DataTablesCSS")
    @Styles.Render("~/Content/css/select2CSS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/Content/DataTablesJS")
    @Scripts.Render("~/Scripts/select2")
    @Scripts.Render("~/bundles/jqueryBlock")


    <link href="~/Content/css/SystemCSS.css" rel="stylesheet" />

    <link href="~/Content/cbavota-Gridiculous-998d44e/gridiculous.css" rel="stylesheet" />


    @{
        bool reale = false;
    }


    <script type="text/javascript">
        $(document).tooltip();
    </script>

</head>
<body>
    <div id="intestazioneLayout" class="contenitore">


        <div class="row">
            <div class="col6">
                <a id="LinklogoIce" href="@Url.RouteUrl("Home")" title="Home page ISE"><img src="~/Immagini/Logo ISE.png" alt="Logo ISE" /></a>
            </div>
            <div class="end">
                <a href="http://www.ice.gov.it" target="_blank" title="Agenzia ICE"><img src="~/Immagini/logo_ITA_rgb (1).jpg" height="50px" alt="Logo ICE" /></a>
            </div>
        </div>


    </div>
    <div id="RealeSimulazione" class="contenitore intestazioneRealeSimulazione">
        @*@RenderSection("RealeSimulazione", false)*@
        <div class="row">
            <div class="col3">
                @if (reale)
                {
                    <span>Reale</span>
                }
                else
                {
                    <span>Simulazione</span>
                }
            </div>
            <div class="end">
                @if (reale)
                {
                    <span>Il sistema è in fase reale</span>
                }
                else
                {
                    <span>Il sistema è in fase simulazione</span>
                }                
            </div>
        </div>
    </div>
    <div id="menuIse" class="contenitore">
        <div class="row">
            <div class="col4">
                Utente:
            </div>
            <div class="col8">

            </div>
        </div>
    </div>
    <div id="sottoMenu" class="contenitore">
        @RenderSection("subMenuIse", false)
    </div>
    <div id="CorpoPagina" class="contenitore">
        @RenderBody()
    </div>

</body>
</html>
