@using System.Web.Optimization;

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - ISE (Indennità sede estera)</title>

    @Styles.Render("~/Content/jqueryuiCSS")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/DataTablesCSS")
    @Styles.Render("~/Content/css/select2CSS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/Content/DataTablesJS")
    @Scripts.Render("~/Scripts/select2")
    @Scripts.Render("~/bundles/jqueryBlock")


    <link href="~/Content/css/SystemCSS.css" rel="stylesheet" />



</head>
<body>
    <div id="RealeSimulazione" class="Contenitore">
        @RenderSection("RealeSimulazione", false)
    </div>
    <div id="MenuIse" class="Contenitore">
        @RenderSection("MenuIse", false)
    </div>
    <div id="CorpoPagina" class="Contenitore">
        @RenderBody()
    </div>
</body>
</html>
