@using System.Web.Optimization;
@using System.Security.Claims;

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - ISE (Indennità sede estera)</title>

    @Styles.Render("~/Content/jqueryuiCSS")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/DataTablesCSS")
    @Styles.Render("~/Content/css/select2CSS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/Content/DataTablesJS")
    @Scripts.Render("~/Scripts/select2")
    @Scripts.Render("~/bundles/jqueryBlock")

    <link href="~/Content/css/SystemCSS.css" rel="stylesheet" />

    <script src="~/Scripts/MyJs.js"></script>

    @{
        bool reale = false;


        ClaimsPrincipal currentClaimsPrincipal = ClaimsPrincipal.Current;
        AntiForgeryConfig.UniqueClaimTypeIdentifier = ClaimTypes.NameIdentifier;
        decimal idUtente = 0;
        string nome = string.Empty;
        string cognome = string.Empty;
        string matricola = string.Empty;
        string nominativo = string.Empty;


        if (currentClaimsPrincipal.Identity.IsAuthenticated)
        {
            foreach (Claim claim in currentClaimsPrincipal.Claims)
            {
                if (claim.Type == ClaimTypes.NameIdentifier)
                {
                    idUtente = Convert.ToDecimal(claim.Value);
                }
                else if (claim.Type == ClaimTypes.Name)
                {
                    nome = claim.Value;
                }
                else if (claim.Type == ClaimTypes.Surname)
                {
                    cognome = claim.Value;
                }
                else if (claim.Type == ClaimTypes.GivenName)
                {
                    matricola = claim.Value;
                }
            }
        }


        if (!string.IsNullOrWhiteSpace(cognome) && !string.IsNullOrWhiteSpace(nome))
        {
            nominativo = cognome + " " + nome + " (" + matricola + ")";
        }
        


    }

    <script type="text/javascript">
        $(document).tooltip();
    </script>
</head>
<body>
    <div id="intestazioneLayout" class="row">
        <div class="col6">
            <a id="LinklogoIce" href="@Url.RouteUrl("Home")" title="Home page ISE"><img src="~/Immagini/Logo ISE.png" alt="Logo ISE" height="5%" /></a>
        </div>
        <div class="end">
            <a href="http://www.ice.gov.it" target="_blank" title="Agenzia ICE"><img src="~/Immagini/logo_ITA_rgb (1).jpg" height="50px" alt="Logo ICE" /></a>
        </div>
    </div>
    <div id="RealeSimulazione" class="row">
        <div class="col3">
            @if (reale)
            {
                <span>Reale</span>
            }
            else
            {
                <span>Simulazione</span>
            }
        </div>
        <div class="end">
            @if (reale)
            {
                <span>Il sistema è in modalità reale</span>
            }
            else
            {
                <span>Il sistema è in modalità simulazione</span>
            }
        </div>
    </div>
    <div id="menuIse" class="row">
        <div class="col4">
            @if (nominativo == string.Empty)
            {
                <span>Utente: </span><span>Anonimo</span>
            }
            else
            {
                <span>Utente: </span><span>@nominativo</span>
            }
        </div>
        <div class="end">
            <a>Dipendente</a> | <a>Parametri</a> | <a>Elaborazioni</a> | <a>Statistiche</a> | <a>Calendario</a> | <a>Notifiche</a> | <a>Utenze</a>
        </div>
    </div>
    <div class="contenitore">
        <div id="CorpoPagina" class="row">
            <div class="col12">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col2">
                <a href="http://www.ritspa.it" target="_blank" title="Retitalia Internazionale S.p.A."><img src="~/Immagini/Logo rit.jpg" alt="Logo Retitalia internazionale S.p.A." height="25px" /></a>
            </div>
            <div class="col8">
            </div>
            <div class="end">
                <a onclick="Blocca();" href="@Url.RouteUrl("Logout")"><img src="~/Immagini/LogOut.png" height="4%" alt="Logout (Disconnetti dall'applicazione)" title="Disconnettersi" /></a>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function PosizioneFooter() {
            var f = $("footer");

        }
    </script>
</body>

</html>