@using System.Web.Optimization;
@using System.Security.Claims;
@using NewISE.Models;
@using NewISE.Models.Tools;

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@

    <title>@ViewBag.Title - ISE (Indennità sede estera)</title>


    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/css/select2CSS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/moment")

    @Scripts.Render("~/Scripts/select2")
    @Scripts.Render("~/bundles/jqueryBlock")

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/Content/jquery-ui-bootstrap-jquery-ui-bootstrap-71f2e47/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <script src="~/Content/jquery-ui-bootstrap-jquery-ui-bootstrap-71f2e47/assets/js/jquery-ui-1.10.0.custom.min.js"></script>
    <link href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/datepicker-it.js"></script>

    <link href="~/Content/DataTables-1.10.13/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.13/media/css/jquery.dataTables_themeroller.css" rel="stylesheet" />

    <link href="~/Content/DataTables-1.10.13/extensions/AutoFill/css/autoFill.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.13/extensions/AutoFill/css/autoFill.jqueryui.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables-1.10.13/extensions/Buttons/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.13/extensions/Buttons/css/buttons.jqueryui.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables-1.10.13/extensions/ColReorder/css/colReorder.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.13/extensions/ColReorder/css/colReorder.jqueryui.css" rel="stylesheet" />

    <link href="~/Content/DataTables-1.10.13/extensions/FixedColumns/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.13/extensions/FixedColumns/css/fixedColumns.jqueryui.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables-1.10.13/extensions/FixedHeader/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.13/extensions/FixedHeader/css/fixedHeader.jqueryui.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables-1.10.13/extensions/KeyTable/css/keyTable.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.13/extensions/KeyTable/css/keyTable.jqueryui.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables-1.10.13/extensions/RowReorder/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.13/extensions/RowReorder/css/rowReorder.jqueryui.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables-1.10.13/extensions/Scroller/css/scroller.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.13/extensions/Scroller/css/scroller.jqueryui.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables-1.10.13/extensions/Select/css/select.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.13/extensions/Select/css/select.jqueryui.min.css" rel="stylesheet" />

    <script src="~/Content/DataTables-1.10.13/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/DataTables-1.10.13/media/js/dataTables.jqueryui.min.js"></script>

    <script src="~/Content/DataTables-1.10.13/extensions/AutoFill/js/dataTables.autoFill.min.js"></script>
    <script src="~/Content/DataTables-1.10.13/extensions/AutoFill/js/autoFill.jqueryui.min.js"></script>

    <script src="~/Content/DataTables-1.10.13/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/DataTables-1.10.13/extensions/Buttons/js/buttons.jqueryui.min.js"></script>

    <script src="~/Content/DataTables-1.10.13/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>

    <script src="~/Content/DataTables-1.10.13/extensions/FixedColumns/js/dataTables.fixedColumns.min.js"></script>

    <script src="~/Content/DataTables-1.10.13/extensions/FixedHeader/js/dataTables.fixedHeader.min.js"></script>

    <script src="~/Content/DataTables-1.10.13/extensions/KeyTable/js/dataTables.keyTable.min.js"></script>

    <script src="~/Content/DataTables-1.10.13/extensions/RowReorder/js/dataTables.rowReorder.min.js"></script>

    <script src="~/Content/DataTables-1.10.13/extensions/Scroller/js/dataTables.scroller.min.js"></script>

    <script src="~/Content/DataTables-1.10.13/extensions/Select/js/dataTables.select.min.js"></script>

    <script src="~/Componenti/bootstrap-checkbox-1.4.0/dist/js/bootstrap-checkbox.min.js"></script>
    <script src="~/Componenti/bootstrap-checkbox-1.4.0/dist/js/i18n/it.js"></script>

    <script src="~/Scripts/autoNumeric/autoNumeric-min.js"></script>

    <link href="~/Content/css/SystemCSS.css" rel="stylesheet" />

    <link href="~/Content/css/OverrideBootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/MyJs.js"></script>

    @{
        bool reale = false;
        AccountModel ac = new AccountModel();
        AntiForgeryConfig.UniqueClaimTypeIdentifier = ClaimTypes.NameIdentifier;
        string nominativo = string.Empty;

        ac = Utility.UtenteAutorizzato();

        if (ac != null && ac.idUtenteAutorizzato > 0)
        {
            nominativo = ac.nominativo + " (" + ac.utente + ")";
        }

        //if (currentClaimsPrincipal.Identity.IsAuthenticated)
        //{
        //    foreach (Claim claim in currentClaimsPrincipal.Claims)
        //    {
        //        if (claim.Type == ClaimTypes.NameIdentifier)
        //        {
        //            idUtente = Convert.ToDecimal(claim.Value);
        //        }
        //        else if (claim.Type == ClaimTypes.Name)
        //        {
        //            nome = claim.Value;
        //        }
        //        else if (claim.Type == ClaimTypes.Surname)
        //        {
        //            cognome = claim.Value;
        //        }
        //        else if (claim.Type == ClaimTypes.GivenName)
        //        {
        //            matricola = claim.Value;
        //        }
        //    }
        //}

        //if (!string.IsNullOrWhiteSpace(cognome) && !string.IsNullOrWhiteSpace(nome))
        //{
        //    nominativo = cognome + " " + nome + " (" + matricola + ")";
        //}

    }

    <script type="text/javascript">
        $(document).tooltip();
        $("input[type=submit]").button();
        $("input[type=button]").button();
    </script>
</head>
<body>

    <div>

        <div id="intestazioneLayout" class="row">
            <div class="col-xs-6">
                <a id="LinklogoIce" href="@Url.RouteUrl("Home")" title="Home page ISE"><img src="~/Immagini/Logo ISE.png" alt="Logo ISE" height="5%" /></a>
            </div>
            <div class="col-lg-6 text-right">
                <a href="http://www.ice.gov.it" target="_blank" title="Agenzia ICE"><img src="~/Immagini/logo_ITA_rgb (1).jpg" height="50px" alt="Logo ICE" /></a>
            </div>
        </div>
        <div id="RealeSimulazione" class="row">
            <div class="col-xs-3">
                @if (reale)
            {
                    <span>Reale</span>
                }
                else
                {
                    <span>Simulazione</span>
                }
            </div>
            <div class="col-xs-9 text-right">
                @if (reale)
            {
                    <span>Il sistema è in modalità reale</span>
                }
                else
                {
                    <span>Il sistema è in modalità simulazione</span>
                }
            </div>
        </div>
        <div id="menuIse" class="row">
            <div class="col-xs-4">
                @if (nominativo == string.Empty)
            {
                    <span>Utente: </span><span>Anonimo</span>
                }
                else
                {
                    <span>Utente: </span><span>@nominativo</span>
                }
            </div>
            <div class="col-xs-8 text-right ">
                <a class="btn_link" onclick="Blocca();" href="@Url.RouteUrl("Dipendenti")">Dipendente</a> | <a class="btn_link" onclick="Blocca();" href="@Url.RouteUrl("Parametri")">Parametri</a> | <a class="btn_link">Elaborazioni</a> | <a class="btn_link">Statistiche</a> | <a class="btn_link">Calendario</a> | <a class="btn_link">Notifiche</a> | <a class="btn_link">Utenze</a>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <div class="row">
            <div class="col-xs-2">
                <a href="http://www.ritspa.it" target="_blank" title="Retitalia Internazionale S.p.A."><img src="~/Immagini/Logo rit.jpg" alt="Logo Retitalia internazionale S.p.A." height="25px" /></a>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2 text-right">
                <a onclick="Blocca();" href="@Url.RouteUrl("Logout")"><img src="~/Immagini/LogOut.png" height="40" alt="Logout (Disconnetti dall'applicazione)" title="Disconnettersi" /></a>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="myModalError" tabindex="-4" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title alert alert-danger text-danger" id="myModalLabel">Attenzione!!!</h4>
                </div>
                <div class="modal-body alert alert-danger text-danger">
                    <p id="msgModalError" class="text-danger"></p>
                </div>
                <div class="modal-footer">
                    <button id="btProcedi" type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">



        function PosizioneFooter() {
            var f = $("footer");

        }

        function AltezzaCentro() {
            //debugger;
            var mFoo = jQuery("footer");
            //var AltezzaBoby = $(document.body).height();
            var AltezzaFooter = mFoo.outerHeight();
            //var AltezzaDocumento = $(document).height();
            //var AltezzaScreen = window.screen.availHeight;
            var intestazioneLayout = $("#intestazioneLayout").height();
            //var AltezzabarraExplorer = AltezzaBoby - AltezzaBoby;
            //var AltezzaWindows = $(window).height();
            var RealeSimulazione = $("#RealeSimulazione").height();

            var menuIse = $("#menuIse").height();

            //var AltezzaIntestazioneCentro = $("#IntestazioneCentro").height();

            var winWidth = 0, winHeight = 0;
            if (typeof (window.innerWidth) == 'number') {
                //Non-IE
                winWidth = window.innerWidth;
                winHeight = window.innerHeight;
            } else if (document.documentElement && (document.documentElement.clientWidth || document.documentElement.clientHeight)) {
                //IE 6+ in 'standards compliant mode'
                winWidth = document.documentElement.clientWidth;
                winHeight = document.documentElement.clientHeight;
            } else if (document.body && (document.body.clientWidth || document.body.clientHeight)) {
                //IE 4 compatible
                winWidth = document.body.clientWidth;
                winHeight = document.body.clientHeight;
            }

            var Altezzacentro = (((((winHeight - intestazioneLayout) - RealeSimulazione) - menuIse)) - AltezzaFooter) - 50;

            $(".container").height(Altezzacentro);

            //$("#CorpoPagina").height(winHeight - 50);
            return Altezzacentro;

        }

        $(window).resize(function () {
            AltezzaCentro();
        });

        $(window).load(function () {
            AltezzaCentro();
        });

        $(window).focus(function () {
            AltezzaCentro();
        });
        $(document.body).focus(function () {
            AltezzaCentro();
        });
        $("#Centro").focus(function () {
            AltezzaCentro();

        });

        function AlertDialog(msg) {
            $("#msgDialog").empty();
            $("#msgDialog").html(msg);
            $("#dialog-message").dialog({
                resizable: false,
                autoOpen: true,
                height: 200,
                width: 500,
                modal: true,
                show: {
                    effect: "shake",
                    duration: 1000
                },
                hide: {
                    effect: "clip",
                    duration: 1000
                },
                buttons: {
                    "OK": function () {

                        $(this).dialog("close");
                    }
                }
            });

        }

        function VerificaAutenticazione() {
            $.ajax({
                type: "POST",
                url: "/Account/isAutenticated",
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (!result.Autenticato) {
                        window.location.href = "/Account/Login";
                    }

                }
            });
        }

        function ErroreElaborazioneAjax(messaggio) {
            //debugger;
            var msg = "Errore nell'elaborazione.";
            try {
                if (messaggio != undefined && messaggio != "") {
                    msg = messaggio;
                }
            }
            catch (e) {

            }

            $("#msgModalError").text(msg);
            $('#myModalError').modal('toggle');
        }

        function number_format(number, decimals, dec_point, thousands_sep) {
            // Strip all characters but numerical ones.
            number = (number + '').replace(/[^0-9+\-Ee.]/g, '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }
    </script>
</body>
</html>