@model NewISE.Models.DBModel.RichiamoModel

@using System.Web.Optimization
@using NewISE.Models.DBModel

@{

    decimal idTrasferimento = (decimal)ViewData["idTrasferimento"];
    
}

<div class="form-horizontal">
    @using (@Ajax.BeginForm("InserisciRichiamo", "Richiamo", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tabRichiamo", OnFailure = "ErroreElaborazioneAjax" }, new { id = "formRichiamo" }))
    {
        <div class="form-horizontal">
            <h4>Richiamo</h4>
            <hr />

            @Html.Hidden("idTrasferimento", idTrasferimento)

            <div class="row">
                <div class="col-xs-5" style="padding-top:5px; padding-bottom:5px">

                    <div class="form-group">
                        @Html.LabelFor(model => model.DataAggiornamento, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.DataAggiornamento, "{0:dd/MM/yyyy}", new { @readonly = "readonly", @class = "form-control col-xs-4" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.DataRientro, htmlAttributes: new { @class = "control-label col-xs-4" })
                        <div class="col-xs-8">
                            @Html.TextBoxFor(model => model.DataRientro, "{0:dd/MM/yyyy}", new { @class = "form-control col-xs-4" })
                        </div>
                    </div>

                </div>

                @*<div class="form-group">
                    <div class="col-xs-offset-4 col-xs-10">
                        <input type="submit" value="Salva" class="btn btn-default" />
                    </div>
                </div>
                <br /><br />*@
            </div>


        </div>
    }

    <div class="form-group ">
        <div class="col-xs-offset-8 col-xs-1">
            <button class="btn btn-default btn-sm" onclick="inserisci();" id="btSalva">
                <i class="fa fa-2x fa-floppy-o" aria-hidden="true"></i>
                Salva
            </button>
        </div>
        @*<div class="col-xs-1">
            <button class="btn btn-default btn-sm disabled" disabled id="btNotifica">
                <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
                Notifica
            </button>
        </div>*@

    </div>
</div>

<div class="modal fade" id="myModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title alert alert-info text-info" id="myModalLabel">Info!!!</h4>
            </div>
            <div class="modal-body alert alert-info text-info">
                <p id="msgModalInfo" class="text-info"></p>
            </div>
            <div class="modal-footer">
                <button id="btProcedi" type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
    $('#DataRientro').datepicker({
        showButtonPanel: true,
        showAnim: "slide",
    });

    function inserisci() {
        //debugger;
        $("#formRichiamo").submit();
    }
</script>