@using NewISE.Models.DBModel
@model NewISE.Models.DBModel.RichiamoModel
 @{
     decimal idTrasferimento = (decimal)ViewData["idTrasferimento"];
     decimal idRichiamo = ViewData["idRichiamo"]==null?0:(decimal)ViewData["idRichiamo"];
     decimal idFKm = (decimal)ViewData["idFKm"];
     DateTime dataPartenza=Convert.ToDateTime(ViewData["dataPartenza"]);
     string dataRichiamo = ViewData["dataRichiamo"]==null?"?":(Convert.ToDateTime(ViewData["dataRichiamo"])).ToString("dd/MM/yyyy");
     string dataRientro = ViewData["dataRientro"] == null ? "?" : (Convert.ToDateTime(ViewData["dataRientro"])).ToString("dd/MM/yyyy");
     string errore = ViewData["errore"] == null ? "" : ViewData["errore"].ToString();
     bool admin = Convert.ToBoolean(ViewBag.Amministratore);
     List<SelectListItem> FKMText = (List<SelectListItem>)ViewBag.FasciaKM;
     var coef = FKMText.Where(a => a.Selected == true).First();
     string txtFKM = coef.Text.Trim()==""?"?": coef.Text.Trim();
     string ValFkm= coef.Value == "" ? "0" : coef.Value;
 }
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@Html.Hidden("hiddenCoefficenteFasciaKM_Nuovo")
@Html.Hidden("hiddenidDataRichiamo_Nuovo")
@Html.Hidden("idGruppoFKmRichiamo")

@Html.Hidden("hiddenErroreInserimento",errore.ToString().Trim())
<div class="form-horizontal" id="DivRichiamoMain">    
    <br />   
    @Html.Hidden("hiddenCoefficenteFasciaKM")
    <div class="form-group">
        @Html.Label("lblDataPartenzaRichiamo", "Data Partenza", new { @class = "control-label col-xs-4" })
        <div class="col-xs-2">
            <input id="idDataPartenzaRichiamo" name="idDataPartenzaRichiamo" type="text" value="@dataPartenza.ToString("dd/MM/yyyy")" class="form-control" readonly />
        </div>
        @Html.Label("lblDataRientroRichiamo", "Data Rientro", new { @class = "control-label col-xs-2" })
        <div class="col-xs-2">
            <input id="idDataRientroRichiamo" name="idDataRientroRichiamo" type="text" value="@dataRientro" class="form-control" readonly />
        </div>
    </div>
   
    <div class="form-group">
        @Html.Label("lblCoeffFasciakM", "Coefficente Fascia KM", new { @class = "control-label col-xs-4" })
        <div class="col-xs-2">
            <input id="idCoeffKm" name="idCoeffKm" type="text" value="@txtFKM" class="form-control" readonly />
        </div>
        @Html.Label("lblDataRichiamo", "Data Richiamo", new { @class = "control-label col-xs-2" })
        <div class="col-xs-2">
            <input id="idDataRichiamo" name="idDataRichiamo" type="text" value="@dataRichiamo" class="form-control" readonly />
        </div>
    </div>

    <div class="form-group"> 
         @Html.Label("lblDataRich_iamo", "     ", new { @class = "control-label col-xs-4" })
        <div class="col-xs-2 text-right">
            @if (admin)
            {
                if (idRichiamo != 0)
                {
                    <input id="btnModificaRichiamo" name="btnModificaRichiamo" type="button" value="Modifica" onclick="Mostra_Modal_ModificaRichiamo();" class="form-control" />
                }
                else
                {
                    <input id="btnInsertRichiamo" name="btnInsertRichiamo" type="button" value="Inserisci" onclick="Mostra_Modal_InserisciRichiamo();" class="form-control" />
                }
            }
        </div> 
        @Html.Label("lblDa_taRichiamo", "", new { @class = "control-label col-xs-4" })      
        <div class="col-xs-2">
        </div>
    </div>

</div>


<div class="modal fade" id="ModalInserisciRichiamo" tabindex="-1" role="dialog" aria-labelledby="ModalInserisciRichiamoLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="annullaModelLabel">Nuovo Richiamo</h3>
                <div id="contenutomsg" style="width:860px">
                    <p id="viewMessaggioInserisciRichiamo"></p>
                </div>
                <div id="idControllaContenutoMsgVC____" class="text-danger" style="display:none">Messaggio obbligatorio</div>
            </div>            
            <div class="modal-footer">
                <button id="btConfermaInserisciRichiamo" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaInserisciRichiamo();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalModificaRichiamo" tabindex="-1" role="dialog" aria-labelledby="ModalModificaRichiamoLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="annulla_ModelLabel">Modifica Richiamo</h3>
                <div id="contenutomsg" style="width:860px">
                    <p id="viewMessaggioModificaRichiamo"></p>
                </div>
                <div id="idControlla__ContenutoMsgVC____" class="text-danger" style="display:none">Messaggio obbligatorio</div>
            </div>
            <div class="modal-footer">
                <button id="btConfermaModificaRichiamo" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaModificaRichiamo();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-confirm-Richiamo" title="Dati per l'inserimento non validi" class="hide">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Dati non inseriti correttamente</p>
</div>

<div id="dialog-confirm-Richiamo-Modifica" title="Dati per la modifica non validi" class="hide">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Dati non inseriti correttamente</p>
</div>



<script type="text/javascript">
    // $("#idGruppoFKmRichiamo").attr("disabled", true);

    //$("#idGruppoFKmRichiamo").select2({
    //    placeholder: "Seleziona Percentua Km",
    //    allowClear: true,
    //    language: "it",
    //    width: '150'
    //});

    //   $("#idGruppoFKmRichiamo").attr("disabled", true);


    function VerificaSeAbilitaoNon(abilita) {
        if (parseInt(abilita) == 0) {
            $("#btnModificaRichiamo").prop("disabled", true);
        }
        else
            $("#btnModificaRichiamo").prop("disabled", false);
    }

    function PrelevaPVCoeffFasciaKm() {
        //  debugger;
        rotta = "/Richiamo/Richiamo";
        var idRichiamo = parseInt('@idRichiamo');
        var idFKm = parseInt($("#idGruppoFKmRichiamo").select2('val'));
        $("#idGruppoFKmRichiamo_Nuovo").val(idFKm);
        var dataRichiamo = $("#hiddenidDataRichiamo_Nuovo").val();
        var nuovo = 0;

        var idTrasferimento = parseInt('@idTrasferimento');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento, idFKm: idFKm, dataRichiamo: dataRichiamo, nuovo: nuovo },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                // debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //$("#tabElencoRichiamo").empty();
                //$("#tabElencoRichiamo").html(result);
                $("#DivRichiamoMain").empty();
                $("#DivRichiamoMain").html(result);
                //
                //RicercaDocumenti();
                //    VerificaSeAbilitaoNonSelect2(idFKm);
            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function Mostra_Modal_InserisciRichiamo() {
        //  debugger;

        var xx = $("#hiddenidDataRichiamo_Nuovo").val();
        $("#idDataRichiamo_Nuovo").val(xx);
        MessaggioInserisciRichiamo(parseInt('@idTrasferimento'), xx);

        $('#ModalInserisciRichiamo').modal({ backdrop: 'static', keyboard: false }).show();
    }
    function Mostra_Modal_ModificaRichiamo() {
      //  debugger;
        $("#hiddenidDataRichiamo_Nuovo").val($("#idDataRichiamo").val());
        var xx = $("#hiddenidDataRichiamo_Nuovo").val();
        $("#idDataRichiamo_Modifica").val(xx);
        MessaggioModificaRichiamo(parseInt('@idTrasferimento'), xx);

        $('#ModalModificaRichiamo').modal({ backdrop: 'static', keyboard: false }).show();
    }



    function ConfermaInserisciRichiamo() {

      //  debugger;
        //  VisualizzaErrore();

        rotta = "/Richiamo/ConfermaInserisciRichiamo";
        //  var errori = $("#hiddenErroreInserimento").val();
        //
        // var idFasciaFKM = parseInt('@ValFkm');
        var idFasciaFKM = $("#idGruppoFKmRichiamo").val();
        $("#hiddenCoefficenteFasciaKM_Nuovo").val(idFasciaFKM);
        $("#hiddenCoefficenteFasciaKM").val(idFasciaFKM);
        var dataRichiamo = $("#idDataRichiamo_Nuovo").val();

        $("#hiddenidDataRichiamo_Nuovo").val(dataRichiamo);

        var idTrasferimento = parseInt('@idTrasferimento');
        if (ValidazioneRichiamo()) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento, idFasciaFKM: idFasciaFKM, dataRichiamo: dataRichiamo },
                dataType: 'json',
                beforeSend: function () {

                },
                success: function (result) {
                    //  debugger;
                    if (result.err == "") {
                        callRichiamo();
                        var list = result.list;
                        $("#ElencolistaTrasferimento").select2();
                        $('#ElencolistaTrasferimento').html('');
                        $.each(list, function (key, val) {
                            $('#ElencolistaTrasferimento').append('<option value="' + val.Value + '">' + val.Text + '</option>');
                        })
                    }
                    else {
                        ErroreElaborazioneAjax(result.err);
                    }
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }
            });
        }
        else {
            Check();
        }
    }

    function ConfermaModificaRichiamo() {
        // debugger;
        
        //if ($("#idGruppoFKmRichiamo").val() == 9999)
        //{
        //    CheckModifica();
        //    return;
        //}
        rotta = "/Richiamo/ConfermaModificaRichiamo";
        //  var errori = $("#hiddenErroreInserimento").val();
        var idRichiamo = parseInt('@idRichiamo');
        var idFasciaFKM = parseInt($("#idGruppoFKmRichiamo_Modifica").select2('val'));
        $("#hiddenCoefficenteFasciaKM_Nuovo").val(idFasciaFKM);
        $("#hiddenCoefficenteFasciaKM").val(idFasciaFKM);
        var dataRichiamo = $("#idDataRichiamo_Modifica").val();

        $("#hiddenidDataRichiamo_Nuovo").val(dataRichiamo);

        var idTrasferimento = parseInt('@idTrasferimento');
        if (ValidazioneRichiamoModifica()) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento, idFasciaFKM: idFasciaFKM, dataRichiamo: dataRichiamo, idRichiamo: idRichiamo },
                dataType: 'json',
                beforeSend: function () {

                },
                success: function (result) {
                    if (result.err == "") {
                        // debugger;
                        // ElencoTrasferimento();
                        callRichiamo();
                        var list = result.list;
                        $("#ElencolistaTrasferimento").select2();
                        $('#ElencolistaTrasferimento').html('');
                        $.each(list, function (key, val) {
                            $('#ElencolistaTrasferimento').append('<option value="' + val.Value + '">' + val.Text + '</option>');
                        })
                    }
                    else {
                        ErroreElaborazioneAjax(result.err);
                    }
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }
            });
        }
        else {
            CheckModifica();
        }
    }

    function MessaggioInserisciRichiamo(idTrasferimento, xx) {
    //    debugger;
        var rotta = "/Richiamo/MessaggioInserisciRichiamo";
        //  var idFKm = $("#idGruppoFKmRichiamo").val();
        var idFKm = parseInt('@ValFkm');

        //var idTrasportoEffettiPartenza = 0;@*// parseInt('@idTrasportoEffettiPartenza');*@
        var idRichiamo = parseInt('@idRichiamo');
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento, idFKm: idFKm, dataInserita: xx },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //  debugger;
                $("#viewMessaggioInserisciRichiamo").empty();
                $("#viewMessaggioInserisciRichiamo").html(result);
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }
    function MessaggioModificaRichiamo(idTrasferimento, xx) {
    //    debugger;
        var rotta = "/Richiamo/MessaggioModificaRichiamo";
        var idFKm = parseInt('@ValFkm');
        var idRichiamo = parseInt('@idRichiamo');
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento, idFKm: idFKm, dataInserita: xx, idRichiamo: idRichiamo },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //  debugger;
                $("#viewMessaggioModificaRichiamo").empty();
                $("#viewMessaggioModificaRichiamo").html(result);
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }
    function ValidazioneRichiamo() {
      //  debugger;
        var ret = false;
        var c1 = false;
        var c2 = false;

        var idTrasferimento = parseInt($("#idTrasferimento").val());
        var DataRichiamo = $("#idDataRichiamo_Nuovo").val();
        var DataPartenza = $("#idDataPartenzaRichiamo_Nuovo").val();
        var idFasciaFKM = parseInt($("#idGruppoFKmRichiamo").val());// parseInt($("#idGruppoFKmRichiamo").select2('val'));
        //  var file = $("#file").val();

        if (idTrasferimento > 0) {
            if (DataRichiamo != "" && DataRichiamo != undefined) {
                c1 = true;
            }
            else {
                c1 = false;
            }
            if (DataPartenza != "" && DataPartenza != undefined) {
                c2 = true;
            }
            else {
                c2 = false;
            }
            if (c1 && c2) {
                ret = true;
            }
            else {
                ret = false;
            }
            ret = isValidDate(DataRichiamo, "dd/MM/yyyy")
            if (idFasciaFKM == '0' || idFasciaFKM == '' || idFasciaFKM == undefined)
                ret = false;
        }
        return ret;
    }
    //
    function ValidazioneRichiamoModifica() {
        //  debugger;
        var ret = false;
        var c1 = false;
        var c2 = false;

        var idTrasferimento = parseInt($("#idTrasferimento").val());
        var DataRichiamo = $("#idDataRichiamo_Modifica").val();
        var DataPartenza = $("#idDataPartenzaRichiamo_Modifica").val();
        var idFasciaFKM = parseInt($("#idGruppoFKmRichiamo_Modifica").select2('val'));

        //  var file = $("#file").val();

        if (idTrasferimento > 0) {
            if (DataRichiamo != "" && DataRichiamo != undefined) {
                c1 = true;
            }
            else {
                c1 = false;
            }
            if (DataPartenza != "" && DataPartenza != undefined) {
                c2 = true;
            }
            else {
                c2 = false;
            }
            if (c1 && c2) {
                ret = true;
            }
            else {
                ret = false;
            }
            ret = isValidDate(DataRichiamo, "dd/MM/yyyy")

            ret = isValidDate(DataRichiamo, "dd/MM/yyyy")
            if (idFasciaFKM == '0' || idFasciaFKM == '' || idFasciaFKM == undefined)
                ret = false;
        }
        return ret;
    }
    function Check() {
        $('#dialog-confirm-Richiamo').dialog({
            autoOpen: true,
            width: 400,            
            buttons: [
                {
                    text: "OK",
                    click: function () {
                        $(this).dialog("close");
                        //var rotta = "/Richiamo/ControllaDataValida";
                        //var dataDaControllare = $("#hiddenidDataRichiamo_Nuovo").val();
                        $.ajax({
                            type: "POST",
                            url: '',
                            // data: { dataDaControllare:dataDaControllare },
                            dataType: 'html',
                            beforeSend: function () {
                                //debugger;
                                //VerificaAutenticazione();
                                //$("#DialogNewDoc").dialog("destroy");
                                //$("#divEffettoLoadAutNoDoc").show("slow");

                            },
                            success: function (result) {
                                // debugger;
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                //$("#divPViewParametri").empty();
                                //$("#divPViewParametri").html(result);
                                //RicercaDocumenti();
                                $("#idDataRichiamo_Nuovo").val($("#hiddenidDataRichiamo_Nuovo").val());
                                Mostra_Modal_InserisciRichiamo();
                            },
                            complete: function () {
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                //                $("#Centro").getNiceScroll().resize();
                                //   Mostra_Modal_InserisciRichiamo();
                            },
                            error: function (jqXHR, textStatus, errorThrow) {
                                //debugger;
                                var msg = errorThrow.err;
                                AlertDialog(msg);
                            }
                        });
                    },
                    "class": "ui-button-danger"
                }
            ]
        });
    }

    function CheckModifica() {
        $('#dialog-confirm-Richiamo-Modifica').dialog({
            autoOpen: true,
            width: 400,
            buttons: [
                {
                    text: "OK",
                    click: function () {
                        $(this).dialog("close");
                        //var rotta = "/Richiamo/ControllaDataValida";
                        //var dataDaControllare = $("#hiddenidDataRichiamo_Nuovo").val();
                        $.ajax({
                            type: "POST",
                            url: '',
                            // data: { dataDaControllare:dataDaControllare },
                            dataType: 'html',
                            beforeSend: function () {
                                //debugger;
                                //VerificaAutenticazione();
                                //$("#DialogNewDoc").dialog("destroy");
                                //$("#divEffettoLoadAutNoDoc").show("slow");

                            },
                            success: function (result) {
                                // debugger;
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                //$("#divPViewParametri").empty();
                                //$("#divPViewParametri").html(result);
                                //RicercaDocumenti();
                                $("#idDataRichiamo_Modifica").val($("#hiddenidDataRichiamo_Nuovo").val());
                                Mostra_Modal_ModificaRichiamo();
                            },
                            complete: function () {
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                //                $("#Centro").getNiceScroll().resize();
                                //   Mostra_Modal_InserisciRichiamo();
                            },
                            error: function (jqXHR, textStatus, errorThrow) {
                                //debugger;
                                var msg = errorThrow.err;
                                AlertDialog(msg);
                            }
                        });
                    },
                    "class": "ui-button-danger"
                }
            ]
        });
    }


    function isValidDate(s) {
        // debugger;
        var separators = ['\\.', '\\-', '\\/'];
        var bits = s.split(new RegExp(separators.join('|'), 'g'));
        var d = new Date(bits[2], bits[1] - 1, bits[0]);
        return d.getFullYear() == bits[2] && d.getMonth() + 1 == bits[1];
    }

    function callRichiamo() {
         // debugger;
        rotta = "/Richiamo/Richiamo";

        //  var idFKm = parseInt($("#idGruppoFKmRichiamo").select2('val'));
        var idFKm = $("#hiddenCoefficenteFasciaKM_Nuovo").val();
        var dataRichiamo = $("#hiddenidDataRichiamo_Nuovo").val();
        var nuovo = idFKm;
        var idTrasferimento = parseInt('@idTrasferimento');
        var idRichiamo = parseInt('@idRichiamo');
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento, idFKm: idFKm, dataRichiamo: dataRichiamo, nuovo: nuovo },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //  debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //$("#tabElencoRichiamo").empty();
                //$("#tabElencoRichiamo").html(result);
                $("#DivRichiamoMain").empty();
                $("#DivRichiamoMain").html(result);

                //$('#listaTrasferimento').select2('destroy').empty().select2({ data: [{ id: 1, text: 'new text' }] });
                // $('#listaTrasferimento').select2().trigger('change');
                //
                //RicercaDocumenti();
                //    VerificaSeAbilitaoNonSelect2(idFKm);
            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }
</script>





