
<link href="~/Content/css/AttivitaTrasferimento.css" rel="stylesheet" />


@{
    decimal idTrasferimento = Convert.ToDecimal(ViewBag.idTrasferimento);
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Attività
            </th>
            <th>
                Richiesta
            </th>
            <th>
                Stato Richiesta
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                @Ajax.ActionLink("Richiesta Maggiorazioni Familiari", "MaggiorazioniFamiliari", "MaggiorazioniFamiliari", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaTrasf", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" }, new { @id = "chkMagFam" })
            </th>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkMagFamiliariR" name="chkMagFamiliariR" type="checkbox" onclick="return false;" />
                    <label for="chkMagFamiliariR" class="label-success"></label>
                </div>
            </td>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkMagFamiliariSR" name="chkMagFamiliariSR" type="checkbox" onclick="return false;" />
                    <label for="chkMagFamiliariSR" class="label-success"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>
                @Ajax.ActionLink("Pratiche passaporto", "Passaporti", "PratichePassaporto", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaTrasf", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" }, new { @id = "linkPratichePassaporto" })
            </th>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkPratichePassaportoR" name="chkPratichePassaportoR" type="checkbox" onclick="return false;" />
                    <label for="chkPratichePassaportoR" class="label-success"></label>
                </div>
            </td>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkPratichePassaportoSR" name="chkPratichePassaportoSR" type="checkbox" onclick="return false;" />
                    <label for="chkPratichePassaportoSR" class="label-success"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>
                @Ajax.ActionLink("Richiesta Titoli di Viaggio", "TitoliViaggio", "TitoliViaggio", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaTrasf", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" }, new { @id = "linkTitoliViaggio" })

            </th>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkTitoliViaggioR" name="chkTitoliViaggioR" type="checkbox" onclick="return false;" />
                    <label for="chkTitoliViaggioR" class="label-success"></label>
                </div>
            </td>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkTitoliViaggioSR" name="chkTitoliViaggioSR" type="checkbox" onclick="return false;" />
                    <label for="chkTitoliViaggioSR" class="label-success"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>

                @Ajax.ActionLink("Richiesta Anticipi", "Anticipi", "Anticipi", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaTrasf", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" }, new { @id = "linkAnticipoPrimaSistemazione" })
            </th>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkAnticipiR" name="chkAnticipiR" type="checkbox" onclick="return false;" />
                    <label for="chkAnticipiR" class="label-success"></label>
                </div>
            </td>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkAnticipiSR" name="chkAnticipiSR" type="checkbox" onclick="return false;" />
                    <label for="chkAnticipiSR" class="label-success"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>
                @Ajax.ActionLink("Richiesta Trasporto Effetti", "TrasportoEffetti", "TrasportoEffetti", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaTrasf", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" }, new { @id = "linkTrasportoEffetti" })
            </th>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkTrasportoEffettiR" name="chkTrasportoEffettiR" type="checkbox" onclick="return false;" />
                    <label for="chkTrasportoEffettiR" class="label-success"></label>
                </div>
            </td>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkTrasportoEffettiSR" name="chkTrasportoEffettiSR" type="checkbox" onclick="return false;" />
                    <label for="chkTrasportoEffettiSR" class="label-success"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>
                @Ajax.ActionLink("Richiesta Maggiorazione Abitazione", "MaggiorazioneAbitazione", "MaggiorazioneAbitazione", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaTrasf", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" }, new { @id = "linkMAB" })
            </th>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkMABR" name="chkMABR" type="checkbox" onclick="return false;" />
                    <label for="chkMABR" class="label-success"></label>
                </div>
            </td>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkMABSR" name="chkMABSR" type="checkbox" onclick="return false;" />
                    <label for="chkMABSR" class="label-success"></label>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="text-center" style="padding-bottom: 5px;">
    <button class="btn btn-default btn-sm"  id="btAttivaTrsf" onclick="ModalNotificaAttivaTrasf();">
        <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
        Attiva Trasferimento
    </button>

    <button class="btn btn-default btn-sm"  id="btAnnullaTrasf" onclick="ModalNotificaAnnullaTrasf();">
        <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
        Annulla Trasferimento
    </button>
</div>



<script type="text/javascript">

    function ModalNotificaAnnullaTrasf() {
        //debugger;
        MessaggioAnnullaTrasf();
        $('#ModalNotificaAnnullaTrasf').modal().show();

    }

    function ModalNotificaAttivaTrasf() {
        //debugger;
        $('#ModalNotificaAttivaTrasf').modal().show();
    }

    function AggiornaInfoTrasferimento() {
        var rotta = "/Trasferimento/InfoTrasferimento";
        var idTrasf = parseInt('@idTrasferimento');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasf },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
                //$("#ContenitoreDipendentiGepe").empty();
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#ContenitoreDatiTrasf").empty();
                $("#ContenitoreDatiTrasf").html(result);

                //RicercaDocumenti();

            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }


    GestioneAttivitaTrasferimento();
    ///Tale funzione gestisce l'abilitazione delle checkbox per la gestione delle attività di trasferimento e la sequenza di abilitazione dei link.
    function GestioneAttivitaTrasferimento() {
        //debugger;
        var rotta = "/Trasferimento/GestioneAttivitaTrasferimento";
        var idTrasf = parseInt('@idTrasferimento');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasf },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;

                if (result.err == "") {
                    var admin = result.admin;
                    var richiestaMF = result.richiestaMF;
                    var attivazioneMF = result.attivazioneMF;
                    var richiestaPP = result.richiestaPP;
                    var conclusePP = result.conclusePP;
                    var faseRichiestaPPattivata = result.faseRichiestaPPattivata;
                    var faseInvioPPattivata = result.faseInvioPPattivata;
                    var richiesteTV = result.richiesteTV;
                    var concluseTV = result.concluseTV;
                    var richiestaTE = result.richiestaTE;
                    var attivazioneTE = result.attivazioneTE;
                    var richiestaAnticipi = result.richiestaAnticipi;
                    var attivazioneAnticipi = result.attivazioneAnticipi;
                    var richiestaMAB = result.richiestaMAB;
                    var attivazioneMAB = result.attivazioneMAB;
                    var solaLettura = result.solaLettura;

                    if (richiestaMF == true) {
                        $("#chkMagFamiliariR").each(function () { this.checked = true; });
                        if (attivazioneMF == true) {
                            $("#chkMagFamiliariSR").each(function () { this.checked = true; });
                            EnableDisableLinkPassaporto(true);
                            EnableDisableLinkAnticipi(true);
                        } else {
                            $("#chkMagFamiliariSR").each(function () { this.checked = false; });
                            EnableDisableLinkPassaporto(false);
                            EnableDisableLinkAnticipi(false);
                        }
                    } else {
                        $("#chkMagFamiliariR").each(function () { this.checked = false; });
                        $("#chkMagFamiliariSR").each(function () { this.checked = false; });

                        EnableDisableLinkPassaporto(false);
                    }

                    if (richiestaPP == true) {
                        $("#chkPratichePassaportoR").each(function () { this.checked = true; });
                        if (conclusePP == true) {
                            $("#chkPratichePassaportoSR").each(function () { this.checked = true; });
                            EnableDisableLinkTitoliViaggio(true);
                        } else {
                            $("#chkPratichePassaportoSR").each(function () { this.checked = false; });
                            EnableDisableLinkTitoliViaggio(false);
                        }
                    } else {
                        $("#chkPratichePassaportoR").each(function () { this.checked = false; });
                        $("#chkPratichePassaportoSR").each(function () { this.checked = false; });
                        EnableDisableLinkTitoliViaggio(false);
                    }
                    if (faseRichiestaPPattivata && faseInvioPPattivata == false)
                    {
                        //blink('#linkPratichePassaporto');
                        $("#linkPratichePassaporto").animate({color:"#ff0000"});
                        
                    }
                    if (faseRichiestaPPattivata && faseInvioPPattivata) {
                        //blink('#linkPratichePassaporto');
                        $("#linkPratichePassaporto").animate({ color: $("#linkTrasportoEffetti").css('color') });
                    }
                    //else {
                    //    //$('#linkPratichePassaporto').stop().fadeIn();
                    //    $("#linkPratichePassaporto").animate({ color: "#000000" });
                    //}

                    //chkTitoliViaggioR
                    if (richiesteTV == true) {
                        $("#chkTitoliViaggioR").each(function () { this.checked = true; });
                        if (concluseTV == true) {
                            $("#chkTitoliViaggioSR").each(function () { this.checked = true; });
                        } else {
                            $("#chkTitoliViaggioSR").each(function () { this.checked = false; });
                        }
                    } else {
                        $("#chkTitoliViaggioR").each(function () { this.checked = false; });
                        $("#chkTitoliViaggioSR").each(function () { this.checked = false; });
                    }

                    //chkTrasportoEffettiR
                    if (richiestaTE == true) {
                        $("#chkTrasportoEffettiR").each(function () { this.checked = true; });
                        if (attivazioneTE == true) {
                            $("#chkTrasportoEffettiSR").each(function () { this.checked = true; });
                        } else {
                            $("#chkTrasportoEffettiSR").each(function () { this.checked = false; });
                        }
                    } else {
                        $("#chkTrasportoEffettiR").each(function () { this.checked = false; });
                        $("#chkTrasportoEffettiSR").each(function () { this.checked = false; });
                    }

                    //chkAnticipiR
                    if (richiestaAnticipi == true) {
                        $("#chkAnticipiR").each(function () { this.checked = true; });
                        if (attivazioneAnticipi == true) {
                            $("#chkAnticipiSR").each(function () { this.checked = true; });
                        } else {
                            $("#chkAnticipiSR").each(function () { this.checked = false; });
                        }
                    } else {
                        $("#chkAnticipiR").each(function () { this.checked = false; });
                        $("#chkAnticipiSR").each(function () { this.checked = false; });
                    }

                    //chkMABR
                    if (richiestaMAB == true) {
                        $("#chkMABR").each(function () { this.checked = true; });
                        if (attivazioneMAB == true) {
                            $("#chkMABSR").each(function () { this.checked = true; });
                        } else {
                            $("#chkMABSR").each(function () { this.checked = false; });
                        }
                    } else {
                        $("#chkMABR").each(function () { this.checked = false; });
                        $("#chkMABSR").each(function () { this.checked = false; });
                    }

                    //pulsanti trasferimento
                    // attivazione
                    if (attivazioneMF && faseInvioPPattivata && concluseTV
                            && attivazioneTE && attivazioneAnticipi
                            && attivazioneMAB && solaLettura==false)
                    {
                        $("#btAttivaTrsf").removeAttr("disabled");
                        $("#btAttivaTrsf").removeClass("disableLink");

                    } else {

                        $("#btAttivaTrsf").attr("disabled", "disabled");
                        $("#btAttivaTrsf").addClass("disableLink");
                    }

                    // annullamento
                    if (solaLettura) {
                        $("#btAnnullaTrasf").attr("disabled", "disabled");
                        $("#btAnnullaTrasf").addClass("disableLink");
                    }
                    if (admin == false) {
                        $("#btAttivaTrsf").hide();
                        $("#btAnnullaTrasf").hide();
                    } else {
                        $("#btAttivaTrsf").show();
                        $("#btAnnullaTrasf").show();
                    }

                    AggiornaInfoTrasferimento();

                } else {
                    ErroreElaborazioneAjax(result.err);
                }

            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

    function EnableDisableLinkPassaporto(abilitato) {
        //debugger;
        if (abilitato == true) {
            $("#linkPratichePassaporto").removeAttr("disabled");
            $("#linkPratichePassaporto").removeClass("disableLink");
        } else {
            //disableLink
            $("#linkPratichePassaporto").attr("disabled", "disabled");
            $("#linkPratichePassaporto").addClass("disableLink");
        }
    }

    function EnableDisableLinkTitoliViaggio(abilitato) {
        //debugger;
        if (abilitato == true) {
            $("#linkTitoliViaggio").removeAttr("disabled");
            $("#linkTitoliViaggio").removeClass("disableLink");
        } else {
            //disableLink
            $("#linkTitoliViaggio").attr("disabled", "disabled");
            $("#linkTitoliViaggio").addClass("disableLink");
        }
    }

    function EnableDisableLinkAnticipi(abilitato) {
        //debugger;
        if (abilitato == true) {
            $("#linkAnticipoPrimaSistemazione").removeAttr("disabled");
            $("#linkAnticipoPrimaSistemazione").removeClass("disableLink");
        } else {
            //disableLink
            $("#linkAnticipoPrimaSistemazione").attr("disabled", "disabled");
            $("#linkAnticipoPrimaSistemazione").addClass("disableLink");
        }
    }

    function EnableDisableLinkMAB(abilitato) {
        //debugger;
        if (abilitato == true) {
            $("#linkMAB").removeAttr("disabled");
            $("#linkMAB").removeClass("disableLink");
        } else {
            //disableLink
            $("#linkMAB").attr("disabled", "disabled");
            $("#linkMAB").addClass("disableLink");
        }
    }

    function MessaggioAnnullaTrasf() {
        //debugger;
        var rotta = "/Trasferimento/MessaggioAnnullaTrasf";
        var idTrasferimento = parseInt('@idTrasferimento');
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#viewNotificaAnnullaTrasf").empty();
                $("#viewNotificaAnnullaTrasf").html(result);
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }










    function Passaporti() {
        var rotta = "/PratichePassaporto/Passaporti";
        var idTrasferimento = parseInt('@idTrasferimento');
        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                idTrasferimento: idTrasferimento
            },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                $("#divOperazioniAttivitaTrasf").empty();
                $("#divOperazioniAttivitaTrasf").html(result);
                GestioneAttivitaTrasferimento();
            },
            complete: function () {
                
            },
            error: function (jqXHR, textStatus, errorThrow) {
                debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

</script>