@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.DBModel.NotificheModel>
@{
    ViewBag.Title = "Lista Utenze Autorizzate";
    bool admin = Convert.ToBoolean(ViewBag.Amministratore);
    var errori = ViewData.ModelState;
}
<input type="hidden" id="Amministratore" value="@admin.ToString()" />
<div style="padding-left: 15px; padding-right: 5px; padding-top: 10px;">
   
    @*<div class="text-center Button"><input type="button" value="Scrivi email" onclick="NuovaNotifica();"  class="btn btn-default"/></div>*@
    <div class="text-center" style="color:blue"><h4>Email inviate</h4></div>
    <table id="tbelencoNotifiche" class="table">
        <thead style="background-color:forestgreen;color:white">
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.NumeroDestinatari)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Oggetto)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.dataNotifica)
                </th>
                <th class="text-center">
                   Allegato
                </th>
                
            </tr>
        </thead>
        <tbody>
            @{ var rowColor = "#ffffff"; }
            @foreach (var item in Model)
            {
                <tr style="background-color:@rowColor;">
                    <td class="text-center">
                        <a href="#" onclick="ViewDestinatari(@item.idNotifica);"  title='@item.NumeroDestinatari destinatari'><img alt="Destinatari" src="~/Immagini/group.png" width="20" height="20" /></a>
                    </td>
                    <td class="text-right">
                        <a href="#" onclick="ViewCorpoMessaggio(@item.idNotifica);"><span class="text-right">@Html.DisplayFor(modelItem => item.Oggetto)</span></a>
                    </td>
                    <td class="text-center">
                        <span class="text-uppercase">@Html.DisplayFor(modelItem => item.dataNotifica)</span>
                    </td>
                   
                    @if (item.Allegato==null)
                    {
                        <td style="text-align: center;">
                            <a href="#" class="disabled"><img alt="Elimina" src="~/Immagini/IconeDocumenti/PDF-icon-Disable.png" width="17" height="17" /></a>
                        </td>
                    }
                    else
                    {                       
                        <td style="text-align: center;">
                            <a href="@Url.RouteUrl("LeggiNotifichePDF", new {id = @item.idNotifica})" target="_blank">
                                <img width="17" src="~/Immagini/IconeDocumenti/PDF-icon.png" title="Click per visualizzare il documento" />
                            </a>
                        </td>
                    }
                </tr>
                if (@rowColor.Equals("#ffffff"))
                {
                    rowColor = "#D9E6C4";
                }
                else
                {
                    rowColor = "#ffffff";
                }
            }
        </tbody>
    </table>

</div>

<div class="modal fade" id="inviaMailModalNotifiche" tabindex="-1" role="dialog" aria-labelledby="inviaDocModalLabelNotifica" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <div id="viewMailNotifica">
                    <img src="~/Immagini/Loading/ajax-loader (1).gif" />
                </div>
            </div>
            <div class="modal-footer" style="background-color:white;text-align:center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DestinatariNotifiche" tabindex="-1" role="dialog" aria-labelledby="inviaDocModalLabelNotifica" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <div id="viewDestinatrioNotifica">
                    <img src="~/Immagini/Loading/ajax-loader (1).gif" />
                </div>
            </div>
            <div class="modal-footer" style="background-color:white;text-align:center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#tbelencoNotifiche").DataTable({
            "ordering": false,
            "language": {
                "sEmptyTable": "Nessun dato presente nella tabella",
                "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
                "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
                "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Visualizza _MENU_ elementi",
                "sLoadingRecords": "Caricamento...",
                "sProcessing": "Elaborazione...",
                "sSearch": "Cerca:",
                "sZeroRecords": "La ricerca non ha portato alcun risultato.",
                "oPaginate": {
                    "sFirst": "Inizio",
                    "sPrevious": "Precedente",
                    "sNext": "Successivo",
                    "sLast": "Fine"
                },
                "oAria": {
                    "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                    "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                }
            }
        });

        $("#btModifica").click(function () {
            //debugger;
            $("#formEditTrasf").submit();
        });

        function CloseTimeModal() {
            setTimeout(CloseModalFile, 2000);
            //CloseModalFile();
        }

    
        function CloseModalFile() {
            $('#inviaUtenzeModal').modal('hide');
            //RicaricaModificaTrasferimento();
            //setTimeout(RicaricaModificaTrasferimento, 1000);
        }

        function CloseModalFile() {
            $('#inviaModificaModal').modal('hide');
            //RicaricaModificaTrasferimento();
            setTimeout(RicaricaModificaTrasferimento, 1000);
        }
        
        function CloseModalFile() {
            $('#inviaMailModalNotifiche').modal('hide');
            //RicaricaModificaTrasferimento();
            setTimeout(RicaricaModificaTrasferimento, 1000);
        }
        function CloseModalFile() {
            $('#viewDestinatrioNotifica').modal('hide');
            //RicaricaModificaTrasferimento();
            setTimeout(RicaricaModificaTrasferimento, 1000);
        }
        
        function CloseModalFile() {
            $('#DestinatariNotifiche').modal('hide');
            //RicaricaModificaTrasferimento();
            setTimeout(RicaricaModificaTrasferimento, 1000);
        }

        function DialogInfo(response) {
            $("#msgModalInfo").text(response);
            $('#myModalInfo').modal('toggle');
        }
            
        function ViewElencoEmailSecondarie(id) {
            //  debugger;
            var rotta = "/UtenzeDipendenti/ElencoEmailSecondarioDip";
            $.ajax({
                type: "POST",
                url: rotta,
                type: "POST",
                data: {"idd": id },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();
                    //$("#DialogNewDoc").dialog("destroy");
                    //$("#divEffettoLoadAutNoDoc").show("slow");
                },
                success: function (result) {
                    //debugger;
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    $("#divPanelUtenzeDip").empty();
                    $("#divPanelUtenzeDip").html(result);
                    //RicercaDocumenti();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }
            });
        }

        
        function ViewAllegato(idNotifica)
        {
            alert(idNotifica + ' View Allegato')
        }

        function NuovaNotifica() {
            //  debugger;

            var rotta = "/Notifiche/NuovaNotifica";
           
            $.ajax({
                type: "POST",
                url: rotta,
              //  data: { idTipoContributo: idTipoContributo, escludiAnnullati: chk },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();
                    //$("#DialogNewDoc").dialog("destroy");
                    //$("#divEffettoLoadAutNoDoc").show("slow");
                },
                success: function (result) {
                    //debugger;
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    $("#divPanelNotifiche").empty();
                    $("#divPanelNotifiche").html(result);

                    //RicercaDocumenti();

                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });

        }

        function ViewCorpoMessaggio(id) {
            // debugger;
            // $(".anchorModifica").click(function () {

            var rotta = "/Notifiche/VisualizzaCorpoMessaggio";
            //    var $buttonClicked = $(this);
            //   var idf = $buttonClicked.attr('id_fe');
            //  var idd = $buttonClicked.attr('id_dip');
            $.ajax({
                url: rotta,
                type: "POST",
                data: { "idNotifica": id },
                dataType: 'html',
                async: false,
                beforeSend: function () {
                    // debugger;
                    $('#inviaMailModalNotifiche').modal('show');
                    // $('#dialog-confirm-Utenze').modal('show');
                    //Blocca();
                },
                success: function (result) {
                    // debugger;
                    $("#viewMailNotifica").empty();
                    $("#viewMailNotifica").html(result);
                },
                error: function (error) {
                    //debugger;
                    //Sblocca();
                    var msg = error.responseText;
                    ErroreElaborazioneAjax(msg);
                }
            });
            // });
        }

        function ViewDestinatari(idNotifica) {
            // debugger;
            // $(".anchorModifica").click(function () {

            var rotta = "/Notifiche/VisualizzaDestinatari";
            //    var $buttonClicked = $(this);
            //   var idf = $buttonClicked.attr('id_fe');
            //  var idd = $buttonClicked.attr('id_dip');
            $.ajax({
                url: rotta,
                type: "POST",
                data: { "idNotifica": idNotifica },
                dataType: 'html',
                async: false,
                beforeSend: function () {
                    // debugger;
                    $('#DestinatariNotifiche').modal('show');
                    // $('#dialog-confirm-Utenze').modal('show');
                    //Blocca();
                },
                success: function (result) {
                    // debugger;
                    $("#viewDestinatrioNotifica").empty();
                    $("#viewDestinatrioNotifica").html(result);
                },
                error: function (error) {
                    //debugger;
                    //Sblocca();
                    var msg = error.responseText;
                    ErroreElaborazioneAjax(msg);
                }
            });
            // });
        }
</script>




