@model IEnumerable<NewISE.Areas.Parametri.Models.MaggiorazioneFigliModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idMaggiorazioneFigli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTipologiaFiglio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataInizioValidita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataFineValidita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.percentualeFigli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipologiaFiglio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annullato)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idMaggiorazioneFigli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTipologiaFiglio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataInizioValidita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataFineValidita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.percentualeFigli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipologiaFiglio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.annullato)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idMaggiorazioneFigli }) |
            @Html.ActionLink("Details", "Details", new { id=item.idMaggiorazioneFigli }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idMaggiorazioneFigli })
        </td>
    </tr>
}

</table>
