@model IEnumerable<NewISE.Models.DBModel.PercMagFigliModel>
@using NewISE.Areas.Parametri.Models.dtObj;
@using NewISE.Models.Tools;
@{
    bool escludiAnnullati = (bool)ViewBag.escludiAnnullati;
    decimal idMinimoNonAnnullato = (decimal)ViewBag.idMinimoNonAnnullato;
}

<p>
    <a id="btnInsNuovaMaggFigli" href="#" onclick="NuovaPercMaggiorazioneFiglio();">Inserisci Maggiorazione Figli</a>
</p>

<p>
    <div class="form-group">
        @Html.Label("lblTipologiaFiglio", "Seleziona Tipologia Figlio", new { @class = "control-label" })
        <div id="divCombo">
            <div class="select2-container select2-container--classic">
                @Html.DropDownList("idTipologiaFiglio", ViewBag.LivelliList as IEnumerable<SelectListItem>, new { @class = "form-control select2 select2-select", @onchange = "PrelevaPVMaggFiglio();", @onClick = "PrelevaPVMaggFiglio();" })
            </div>
        </div>
    </div>
</p>
<table id="tbMaggFigli" class="display" cellspacing="0">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Figlio.tipologiaFiglio)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataInizioValidita)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataFineValidita)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.percentualeFigli)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataAggiornamento)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.annullato)
            </th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.Figlio.tipologiaFiglio)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.dataInizioValidita)
                </td>
                        @if (item.dataFineValidita != Utility.DataFineStop())
                        {
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.dataFineValidita)
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.percentualeFigli)  %
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.dataAggiornamento)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.annullato)
                </td>
                <td style="text-align:center;">
                    @using (dtMaggFigli dtib = new dtMaggFigli())
                    {                        
                        if (dtib.PercMaggiorazioneFiglioAnnullato(item))
                        {
                            <a href="#" class="disabled"><img alt="Elimina" src="~/Immagini/EliminazioneDisable.png" width="25" /></a>
                        }
                        else
                        {
                            if (item.idPercMagFigli == idMinimoNonAnnullato)
                            {
                                <a href="#" class="disabled"><img alt="Elimina" src="~/Immagini/EliminazioneDisable.png" width="25" /></a>
                            }
                            else
                            {
                                <a href="#" onclick="EliminaMaggiorazioneFiglio(@item.idPercMagFigli);"><img alt="Elimina" src="~/Immagini/Eliminazione.png" width="25" /></a>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="dialog-confirm" title="Elimina percentuale di maggiorazione figli?" class="hide">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Si vuole procedere con l'eliminazione della percentuale maggiorazione figli?</p>
</div>

<script type="text/javascript">
    $('.display').DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        }
    });

    $("#idTipologiaFiglio").select2({
        placeholder: "Seleziona la Tipologia di Figlio ",
        allowClear: true,
        language: "it",
        width: '150'

    });

    $("#btnInsNuovaMaggFigli").button();

    function PrelevaPVMaggFiglio() {
        //debugger;
        rotta = "/Parametri/ParamMaggFigli/PercMaggiorazioneFiglioLivello";

        var idTipologiaFiglio = parseInt($("#idTipologiaFiglio").select2('val'));
        $("#hiTipoContributo").val(idTipologiaFiglio);

        var chk = false;
        if ($("#escludiAnnullati").is(":checked")) {
            chk = true;
        }
        if (isNaN(idTipologiaFiglio)) {
            $("#divPViewParametri").empty();
            return false;
        }


        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTipologiaFiglio: idTipologiaFiglio, escludiAnnullati: chk },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPViewParametri").empty();
                $("#divPViewParametri").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

    function NuovaPercMaggiorazioneFiglio() {
        //debugger;

        var rotta = "/Parametri/ParamMaggFigli/NuovaMaggiorazioneFiglio";
        var idTipologiaFiglio = parseInt($("#idTipologiaFiglio").select2('val'));

        if (isNaN(idTipologiaFiglio)) {
            //$("#divPViewParametri").empty();
            AlertDialog("Selezionare la tipologia figlio per procedere.");
            return false;
        }

        var chk = false;
        if ($("#escludiAnnullati").is(":checked")) {
            chk = true;
        }

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTipologiaFiglio: idTipologiaFiglio, escludiAnnullati: chk },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPViewParametri").empty();
                $("#divPViewParametri").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

    function EliminaMaggiorazioneFiglio(id) {
        // debugger;
         var rotta = "/Parametri/ParamMaggFigli/EliminaPercMaggiorazioneFiglio";

        var idTipologiaFiglio = parseInt($("#idTipologiaFiglio").select2('val'));


        if (isNaN(idTipologiaFiglio)) {
            $("#divPViewParametri").empty();
            return false;
        }
        var chk = false;
        if ($("#escludiAnnullati").is(":checked")) {
            chk = true;
        }
        $('#dialog-confirm').dialog({
            autoOpen: true,
            width: 400,
            buttons: [
                {
                    text: "OK",
                    click: function () {
                        $(this).dialog("close");
                        $.ajax({
                            type: "POST",
                            url: rotta,
                            data: { escludiAnnullati: chk, idTipologiaFiglio: idTipologiaFiglio, idMaggFiglio: id },
                            dataType: 'html',
                            beforeSend: function () {
                                //debugger;
                                //VerificaAutenticazione();
                                //$("#DialogNewDoc").dialog("destroy");
                                //$("#divEffettoLoadAutNoDoc").show("slow");

                            },
                            success: function (result) {
                                //debugger;
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                $("#divPViewParametri").empty();
                                $("#divPViewParametri").html(result);

                                //RicercaDocumenti();

                            },
                            complete: function () {
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                //                $("#Centro").getNiceScroll().resize();
                            },
                            error: function (jqXHR, textStatus, errorThrow) {
                                //debugger;
                                var msg = errorThrow.err;
                                AlertDialog(msg);
                            }

                        });
                    },
                    "class": "ui-button-danger"
                },
                {
                    text: "Annulla",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });

    }
</script>