@using NewISE.Models.Enumeratori

@model NewISE.Models.DBModel.AltriDatiFamConiugeModel

@{
    decimal idTrasferimento = Convert.ToDecimal(ViewData["IdTrasferimento"]);
    decimal idFasePassaportiCorrente = Convert.ToDecimal(ViewData["idFasePassaportiCorrente"]);
}



<div style="padding-left: 15px;">
    <h4>Altri Dati Familiari Coniuge</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Coniuge.nominativo)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.Coniuge.nominativo)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nazionalita)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.nazionalita)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.indirizzoResidenza)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.indirizzoResidenza)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capResidenza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capResidenza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comuneResidenza)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.comuneResidenza)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provinciaResidenza)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.provinciaResidenza)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.residente)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.residente)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ulterioreMagConiuge)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.ulterioreMagConiuge)</span>
        </dd>

    </dl>
</div>

@if (idFasePassaportiCorrente == (decimal)EnumFasePassaporti.Richiesta_Passaporti)
{
    <p style="padding-left: 15px;">
        @Ajax.ActionLink("Torna indietro", "ElencoFamiliariPassaporti_Richiesta", "VariazionePassaporto", new { idTrasferimento = idTrasferimento }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divPassaporto_var", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace })
    </p>
}
@if (idFasePassaportiCorrente == (decimal)EnumFasePassaporti.Invio_Passaporti)
{
    <p style="padding-left: 15px;">
        @Ajax.ActionLink("Torna indietro", "ElencoFamiliariPassaporti_Invio", "VariazionePassaporto", new { idTrasferimento = idTrasferimento }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divPassaporto_var", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace })
    </p>
}

@if (idFasePassaportiCorrente == (decimal)EnumFasePassaporti.Completati)
{
    <p style="padding-left: 15px;">
        @Ajax.ActionLink("Torna indietro", "PassaportoCompletato", "VariazionePassaporto", new { idTrasferimento = idTrasferimento }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divElencoPassaporto_Completato", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace })
    </p>
}

