@using NewISE.Models.DBModel
@using NewISE.Models.Enumeratori

@model NewISE.Models.ViewModel.ElencoFamiliariPassaportoModel

@{ 
    decimal idFaseCorrente = Convert.ToDecimal(ViewData["idFaseCorrente"]);
    decimal idFaseRichiesta = Convert.ToDecimal(EnumFasePassaporti.Richiesta_Passaporti);
    decimal idFaseCompletati = Convert.ToDecimal(EnumFasePassaporti.Completati);
}

@if (Model.HasDoc.esisteDoc)
{
    if (idFaseCorrente == idFaseCompletati) //fasecorrente=0 significa che sto visualizzando l'elenco completati
    {
        <a href="#" onclick="ElencoDocumentiPassaporto_var_Completati(@Model.idFamiliarePassaporto, @Convert.ToDecimal(Model.HasDoc.tipoDoc) , @Convert.ToDecimal(Model.parentela) )">
            <img class="SfondoBordoImg" height="17" src="../../Immagini/IconeDocumenti/PDF-icon.png" />
        </a>
    }
    else
    {
        <a href="#" onclick="ElencoDocumentiPassaporto_var(@Model.idFamiliarePassaporto, @Convert.ToDecimal(Model.HasDoc.tipoDoc) , @Convert.ToDecimal(Model.parentela) )">
            <img class="SfondoBordoImg" height="17" src="../../Immagini/IconeDocumenti/PDF-icon.png" />
        </a>
    }
}else {
    if (idFaseCorrente == idFaseCompletati) //fasecorrente=0 significa che sto visualizzando l'elenco completati
    {
        //questo codice è messo per sicurezza perchè è impossibile che nell'elenco dei completati non ci sia il documento
        <a href="#" onclick="ElencoDocumentiPassaporto_var_Completati(@Model.idFamiliarePassaporto, @Convert.ToDecimal(EnumTipoDoc.Documento_Identita) , @Convert.ToDecimal(Model.parentela) )">
            <img class="SfondoBordoImg" src="~/Immagini/IconeDocumenti/PDF-icon-Disable.png" height="17" title="Documenti" />
        </a>
    }
    else
    {
        <a href="#" onclick="ElencoDocumentiPassaporto_var(@Model.idFamiliarePassaporto, @Convert.ToDecimal(EnumTipoDoc.Documento_Identita) , @Convert.ToDecimal(Model.parentela) )">
            <img class="SfondoBordoImg" src="~/Immagini/IconeDocumenti/PDF-icon-Disable.png" height="17" title="Documenti" />
        </a>
    }
}

<script type="text/javascript">
    function ElencoDocumentiPassaporto_var(idFamiliarePassaporto, tipoDoc, idParentela) {
    //debugger;
    var rotta = "/VariazionePassaporto/ElencoDocumentiPassaporto";
    var idFaseCorrente = parseInt('@idFaseCorrente');
    var idFaseRichiesta = parseInt('@idFaseRichiesta');

        $.ajax({
    url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: {
        idFamiliarePassaporto: idFamiliarePassaporto,
                tipoDoc: tipoDoc,
                parentela: idParentela,
                idFaseCorrente: idFaseCorrente
            },
            dataType: 'html',
            async: false,
            beforeSend: function () {
            //debugger;
            VerificaAutenticazione();
            //Blocca();

            //$('#DocModal').modal('show');
        },
            success: function (result) {
                //debugger;
                //$("#viewPensione").empty();
                //$("#viewPensione").html(result);
                $("#divPassaporto_var").empty();
                $("#divPassaporto_var").html(result);
            if (idFaseCorrente == idFaseRichiesta) {
                GestionePulsantiNotificaAndConcludiPassaporto_Richiesta_var();
            } else {
                GestionePulsantiNotificaAndConcludiPassaporto_Invio_var();
            }
        },
            complete: function () {

        },
            error: function (error) {
            //debugger;
            //Sblocca();
            var msg = error.responseText;
            ErroreElaborazioneAjax(msg);
        }
    });

}

function ElencoDocumentiPassaporto_var_Completati(idFamiliarePassaporto, tipoDoc, idParentela) {
    //debugger;
    var rotta = "/VariazionePassaporto/ElencoDocumentiPassaporto";
    var idFaseCorrente = parseInt('@idFaseCorrente');
    var idFaseRichiesta = parseInt('@idFaseRichiesta');

        $.ajax({
    url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: {
        idFamiliarePassaporto: idFamiliarePassaporto,
                tipoDoc: tipoDoc,
                parentela: idParentela,
                idFaseCorrente: idFaseCorrente
            },
            dataType: 'html',
            async: false,
            beforeSend: function () {
            //debugger;
            VerificaAutenticazione();
            //Blocca();

            //$('#DocModal').modal('show');
        },
            success: function (result) {
                //debugger;
                //$("#viewPensione").empty();
                //$("#viewPensione").html(result);
                $("#divElencoPassaporto_Completato").empty();
                $("#divElencoPassaporto_Completato").html(result);
        },
            complete: function () {

        },
            error: function (error) {
            //debugger;
            //Sblocca();
            var msg = error.responseText;
            ErroreElaborazioneAjax(msg);
        }
    });

}
</script>