<link href="~/Content/css/AttivitaTrasferimento.css" rel="stylesheet" />


@{
    decimal idTrasferimento = Convert.ToDecimal(ViewBag.idTrasferimento);
    decimal idLivello = Convert.ToDecimal(ViewBag.idLivello);
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Indennità Periodiche
            </th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                
                @Ajax.ActionLink("Indennità di Base Estera", "IndennitaBase", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" } )
            </th>
            
        </tr>
        <tr>
            <th>
                
                @Ajax.ActionLink("Indennità di Servizio", "IndennitaServizio", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>
            
        </tr>
        <tr>
            <th>

                @Ajax.ActionLink("Maggiorazioni Coniuge", "MaggiorazioniFamiliari", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>

        </tr>
        <tr>
            <th>

                @Ajax.ActionLink("Maggiorazioni Figli", "MaggiorazioniFamiliari", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>

        </tr>
        
        <tr>
            <th>
                
                @Ajax.ActionLink("Maggiorazioni Familiari (Totale)", "MaggiorazioniFamiliari", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>
            
        </tr>
        <tr>
            <th>
                
                @Ajax.ActionLink("Indennità Personale", "IndennitaPersonale", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>
            
        </tr>
        <tr>
            <th>
                
                @Ajax.ActionLink("Maggiorazione Abitazione", "MaggiorazioneAbitazione", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>
            
        </tr>
        
    </tbody>

    <thead>
        <tr>
            <th>
                Indennità una Tantum
            </th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <th>

                @Ajax.ActionLink("Anticipo Indennità di Sistemazione Lorda", "IndennitaPrimaSistemazione", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>

        </tr>
        <tr>
            <th>

                @Ajax.ActionLink("Indennità di Sistemazione Lorda", "IndennitaPrimaSistemazione", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>

        </tr>
        <tr>
            <th>

                @Ajax.ActionLink("Indennità di Sistemazione Netta (Anticipo o Saldo)", "IndennitaPrimaSistemazione", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>

        </tr>
        <tr>
            <th>
                
                @Ajax.ActionLink("Indennità Prima Sistemazione", "IndennitaPrimaSistemazione", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>
            
        </tr>
        <tr>
            <th>
                
                @Ajax.ActionLink("Indennità di Richiamo Lorda", "IndennitadiRichiamo", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>
           
        </tr>
        <tr>
            <th>

                @Ajax.ActionLink("Indennità di Richiamo Netta", "IndennitadiRichiamo", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>

        </tr>
        <tr>
            <th>

                @Ajax.ActionLink("Contributo Omnicomprensivo Trasferimento/Rientro", "IndennitadiRichiamo", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>

        </tr>
        
        
    </tbody>
</table>
