<link href="~/Content/css/AttivitaTrasferimento.css" rel="stylesheet" />


@{
    decimal idTrasferimento = Convert.ToDecimal(ViewBag.idTrasferimento);
    decimal idLivello = Convert.ToDecimal(ViewBag.idLivello);
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Indennità Periodiche
            </th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                
                @Ajax.ActionLink("Indennità Base", "IndennitaBase", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" } )
            </th>
            
        </tr>
        <tr>
            <th>
                
                @Ajax.ActionLink("Indennità di Servizio", "IndennitaServizio", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>
            
        </tr>
        <tr>
            <th>
                
                @Ajax.ActionLink("Maggiorazioni Familiari", "MaggiorazioniFamiliari", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>
            
        </tr>
        <tr>
            <th>
                
                @Ajax.ActionLink("Indennità Personale", "IndennitaPersonale", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>
            
        </tr>
        <tr>
            <th>
                
                @Ajax.ActionLink("Maggiorazione Abitazione", "MaggiorazioneAbitazione", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>
            
        </tr>
        
    </tbody>

    <thead>
        <tr>
            <th>
                INDENNITA' UNA TANTUM
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                
                @Ajax.ActionLink("Indennità Prima Sistemazione", "IndennitaPrimaSistemazione", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>
            
        </tr>
        <tr>
            <th>
                
                @Ajax.ActionLink("Indennità di Richiamo", "IndennitadiRichiamo", "Indennita", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaIndennita", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })
            </th>
           
        </tr>
        
        
        
        
    </tbody>
</table>
