@model IEnumerable<NewISE.Models.DBModel.EvoluzioneIndennitaModel>

<table id="tbEvoluzioneIndennita" class="display" cellspacing="0">
    <thead>
        <tr>

            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataInizioValidita)
                @*@Html.DisplayNameFor(model => model.dipInfoTrasferimento.Decorrenza)*@
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataFineValidita)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IndennitaBase)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.CoefficienteSede)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.PercentualeDisagio)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IndennitaServizio)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.dataInizioValidita)
                    @*@Html.DisplayFor(modelItem => item.dipInfoTrasferimento.Decorrenza)*@
                </td>
                <td style="text-align:center;">  
                    @Html.DisplayFor(modelItem => item.dataFineValidita)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.IndennitaBase)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.CoefficienteSede)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.PercentualeDisagio)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.IndennitaServizio)
                </td>
                
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $('#tbEvoluzioneIndennita').DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "info": false,
        "lengthChange": false,
        "pageLength": 5,
        "searching": false,
        "paging": true,
        "bJQueryUI": true,
        "sDom": 'lfrtip',
        "columnDefs": [
                {
                    "targets": 'no-sort',
                    "orderable": false,

                }
        ],
        "order": [[0, "desc"]]
    });

    function DownloadReport() {
        $('#ModalReport').modal().show();

    }


    function myFunction() {
        window.print();
    }

     function invia() {
        //debugger
         var idTrasferimento = $("#hidTrasferimento").val();

         window.location.href = "/Indennita/RptIndennitaBase?idTrasferimento=" + idTrasferimento;
         target = "_blank";
     };

     var windowWidth = $(window).width();
     var windowHeight = $(window).height();

     $(function () {
         $("#dialog").dialog({
             autoOpen: false,
             show: {
                 //effect: "blind",
                 //duration: 1000
             },
             hide: {
                 //effect: "explode",
                 //duration: 1000
             },
             close: function (event, ui) {
                 $('.container').removeClass("NoOverflow");
             },
             height: windowHeight, width: windowWidth


         });

         $("#opener").on("click", function () {
             $('.container').addClass("NoOverflow");

             $("#dialog").dialog("open");
             $("#dialog").css("background-color", "#ffffff");

             var rotta = "/Indennita/RptIndennitaBase";

             var idTrasferimento = $("#hidTrasferimento").val();


             $.ajax({
                 type: "POST",
                 url: rotta,
                 data: { idTrasferimento: idTrasferimento },
                 dataType: 'html',
                 beforeSend: function () {
                     //debugger;
                     $("#dialog").empty();

                 },
                 success: function (result) {
                     //debugger;
                     $("#dialog").html(result);


                 },
                 complete: function () {
                     //$("#divEffettoLoadAutNoDoc").hide("slow");
                     //                $("#Centro").getNiceScroll().resize();
                 },
                 error: function (jqXHR, textStatus, errorThrow) {
                     //debugger;
                     var msg = errorThrow.err;
                     AlertDialog(msg);
                 }

             });

         });
     });

     function RptIndennitaBase() {
         //debugger;
         var rotta = "/Indennita/RptIndennitaBase";

         var idTrasferimento = 0;

         if (!isNaN(idTrasf)) {
             idTrasferimento = idTrasf;
         } else {
             idTrasferimento = $("#hidTrasferimento").val();
         }
         @*var idTrasferimento = parseInt('@idTrasferimento');*@

                 $.ajax({
                     type: "POST",
                     url: rotta,
                     data: { idTrasferimento: idTrasferimento },
                     dataType: 'html',
                     beforeSend: function () {
                         //debugger;
                         VerificaAutenticazione();
                     },
                     success: function (result) {
                         //debugger;

                         $("#divPViewIndennita1").empty();
                         $("#divPViewIndennita1").html(result);
                     },
                     complete: function () {
                     },
                     error: function (jqXHR, textStatus, errorThrow) {
                         //debugger;
                         var msg = errorThrow.err;
                         ErroreElaborazioneAjax(msg);
                     }

                 });

     }
</script>