@model IEnumerable<NewISE.Models.DBModel.EvoluzioneIndennitaModel>
<link href="~/Areas/Statistiche/Content/NoScroller.css" rel="stylesheet" />

@{

    decimal idTrasferimento = Convert.ToDecimal(ViewBag.idTrasferimento);

}

@Html.Hidden("hidTrasferimento")
<div id="dialog" title=""></div>

@*Anticipo Indennità di Prima Sistemazione*@
<div class="row">
    <div class="col-md-12">
        <div style="padding-bottom:10px;margin-right:20px;border-bottom:solid;border-width:1px;border-color:limegreen">
            <h4>Saldo Indennità di Prima Sistemazione</h4>



        </div>
    </div>
</div>

<div class="table-responsive-sm">
    <table cellspacing="0" class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">&nbsp;</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.dataSaldoSistemazione)</th>
                <th class="text-center">&nbsp;</th>
                <th class="text-center">&nbsp;</th>                
                <th>@Html.DisplayNameFor(model => model.IndennitaSistemazione)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>&nbsp;</td>
                    <td>@Html.DisplayFor(modelItem => item.dataSaldoSistemazione)</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>                    
                    <td>@Html.DisplayFor(modelItem => item.IndennitaSistemazione)</td>
                </tr>
                <tr class="comment"><td colspan="5">&nbsp;</td></tr>

            }
        </tbody>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Detrazione</th>
                <th>Imp. Previdenziale </th>
                <th>Aliq Previd </th>
                <th>Contr. Previd </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>&nbsp;</td>
                    <td>@Html.DisplayFor(modelItem => item.Detrazione)</td>
                    <td>@Html.DisplayFor(modelItem => item.ImpPrevid)</td>
                    <td>@Html.DisplayFor(modelItem => item.AliquotaPrevid)</td>
                    <td>@Html.DisplayFor(modelItem => item.ContrPrevid)</td>

                </tr>
                <tr class="comment"><td colspan="5">&nbsp;</td></tr>

            }
        </tbody>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Imp. Fiscale</th>
                <th>Aliq. Fisc. (Provvisoria) </th>
                <th>Ritenuta Fiscale (salvo Conguaglio) </th>
                <th>Indennità Sistemazione netta </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>&nbsp;</td>
                    <td>@Html.DisplayFor(modelItem => item.ImpFiscale)</td>
                    <td>@Html.DisplayFor(modelItem => item.AliquotaFiscale)</td>
                    <td>@Html.DisplayFor(modelItem => item.RitenutaFiscale)</td>
                    <td>@Html.DisplayFor(modelItem => item.Importo)</td>
                </tr>
                <tr class="comment"><td colspan="5">&nbsp;</td></tr>

            }
        </tbody>

    </table>
</div>

<div class="row">
    <div class="pull-right" style="margin-top: 10px; margin-bottom: 10px;margin-right:35px ">

        <button class="btn btn-default btn-sm" id="opener">
            <i aria-hidden="true" class="fa fa-2x fa-print"></i>
            Stampa
        </button>

    </div>
</div>

<br />

<script type="text/javascript">

        $('#tbAnticipoSaldoIndennitadiSistemazioneLorda').DataTable({
            "language": {
                "sEmptyTable": "Nessun dato presente nella tabella",
                "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
                "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
                "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Visualizza _MENU_ elementi",
                "sLoadingRecords": "Caricamento...",
                "sProcessing": "Elaborazione...",
                "sSearch": "Cerca:",
                "sZeroRecords": "La ricerca non ha portato alcun risultato.",
                "oPaginate": {
                    "sFirst": "Inizio",
                    "sPrevious": "Precedente",
                    "sNext": "Successivo",
                    "sLast": "Fine"
                },
                "oAria": {
                    "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                    "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                }
            },
            "info": false,
            "lengthChange": false,
            "pageLength": 5,
            "searching": false,
            "paging": true,
            "bJQueryUI": true,
            "sDom": 'lfrtip',
            "columnDefs": [
                    {
                        "targets": 'no-sort',
                        "orderable": false,

                    }
            ],
            "order": [[0, "asc"]]
        });

        $('#tbAnticipoIndennitadiSistemazioneLorda').DataTable({
            "language": {
                "sEmptyTable": "Nessun dato presente nella tabella",
                "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
                "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
                "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Visualizza _MENU_ elementi",
                "sLoadingRecords": "Caricamento...",
                "sProcessing": "Elaborazione...",
                "sSearch": "Cerca:",
                "sZeroRecords": "La ricerca non ha portato alcun risultato.",
                "oPaginate": {
                    "sFirst": "Inizio",
                    "sPrevious": "Precedente",
                    "sNext": "Successivo",
                    "sLast": "Fine"
                },
                "oAria": {
                    "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                    "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                }
            },
            "info": false,
            "lengthChange": false,
            "pageLength": 5,
            "searching": false,
            "paging": true,
            "bJQueryUI": true,
            "sDom": 'lfrtip',
            "columnDefs": [
                    {
                        "targets": 'no-sort',
                        "orderable": false,

                    }
            ],
            "order": [[0, "asc"]]
        });

        $('#tbSaldoIndennitadiSistemazioneLorda').DataTable({
            "language": {
                "sEmptyTable": "Nessun dato presente nella tabella",
                "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
                "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
                "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Visualizza _MENU_ elementi",
                "sLoadingRecords": "Caricamento...",
                "sProcessing": "Elaborazione...",
                "sSearch": "Cerca:",
                "sZeroRecords": "La ricerca non ha portato alcun risultato.",
                "oPaginate": {
                    "sFirst": "Inizio",
                    "sPrevious": "Precedente",
                    "sNext": "Successivo",
                    "sLast": "Fine"
                },
                "oAria": {
                    "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                    "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                }
            },
            "info": false,
            "lengthChange": false,
            "pageLength": 5,
            "searching": false,
            "paging": true,
            "bJQueryUI": true,
            "sDom": 'lfrtip',
            "columnDefs": [
                    {
                        "targets": 'no-sort',
                        "orderable": false,

                    }
            ],
            "order": [[0, "asc"]]
        });


        // Report tbAnticipoIndennitadiSistemazioneLorda
        var windowWidth = $(window).width();
        var windowHeight = $(window).height();

        $(function () {
            $("#dialog").dialog({
                autoOpen: false,
                show: {
                    //effect: "blind",
                    //duration: 1000
                },
                hide: {
                    //effect: "explode",
                    //duration: 1000
                },
                close: function (event, ui) {
                    $('.container').removeClass("NoOverflow");
                },
                height: windowHeight, width: windowWidth


            });

            $("#opener").on("click", function () {
                $('.container').addClass("NoOverflow");

                $("#dialog").dialog("open");
                $("#dialog").css("background-color", "#ffffff");

                var rotta = "/Indennita/RptIndennitadiSistemazioneLorda";

                var idTrasferimento = $("#hidTrasferimento").val();


                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: { idTrasferimento: idTrasferimento },
                    dataType: 'html',
                    beforeSend: function () {
                        //debugger;
                        $("#dialog").empty();

                    },
                    success: function (result) {
                        //debugger;
                        $("#dialog").html(result);


                    },
                    complete: function () {
                        //$("#divEffettoLoadAutNoDoc").hide("slow");
                        //                $("#Centro").getNiceScroll().resize();
                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }

                });

            });
        });








</script>


