@model IEnumerable<NewISE.Models.DBModel.EvoluzioneIndennitaModel>
@using NewISE.Models.Tools


@{

    decimal idTrasferimento = Convert.ToDecimal(ViewBag.idTrasferimento);

}

@Html.Hidden("hidTrasferimento")
<div id="dialog" title=""></div>

<div class="row">
    <div class="col-md-12">
        <div style="padding-bottom:10px;margin-right:20px;border-bottom:solid;border-width:1px;border-color:limegreen">
            <h4>Indennità Personale</h4>



        </div>
    </div>
</div>

<table id="tbIndennitaPersonale" class="display" cellspacing="0">
    <thead>
        <tr>

            <th class="text-center">
                @*@Html.DisplayNameFor(model => model.dipInfoTrasferimento.Decorrenza)*@
                @Html.DisplayNameFor(model => model.dataInizioValidita)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.dataFineValidita)
            </th>
            @*<th class="text-center">
                @Html.DisplayNameFor(model => model.IndennitaBase)
            </th>*@
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IndennitaServizio)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MaggiorazioneConiuge)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.MaggiorazioniFigli)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IndennitaPersonale)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td style="text-align:center;">
                    @*@Html.DisplayFor(modelItem => item.dipInfoTrasferimento.Decorrenza)*@
                    @Html.DisplayFor(modelItem => item.dataInizioValidita)
                </td>
                @if (item.dataFineValidita == Utility.DataFineStop())
                {
                    <td style="text-align:center;"></td>
                }
                else
                {
                    <td style="text-align:center;">
                        @Html.DisplayFor(modelItem => item.dataFineValidita)
                    </td>
                }
                @*<td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.IndennitaBase)
                </td>*@
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.IndennitaServizio)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.MaggiorazioneConiuge)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.MaggiorazioniFigli)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.IndennitaPersonale)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="pull-right" style="margin-top: 10px; margin-bottom: 10px;margin-right:35px ">

        @*<button class="btn btn-default btn-sm" onclick="DownloadReportIndennitaServizio();">
            <i aria-hidden="true" class="fa fa-2x fa-print"></i>
            Stampa
        </button>*@

        <button class="btn btn-default btn-sm" id="opener">
            <i aria-hidden="true" class="fa fa-2x fa-print"></i>
            Stampa
        </button>

    </div>
</div>

<div class="modal fade modal-fullscreen force-fullscreen" id="ModalReport" tabindex="-1" role="dialog" aria-labelledby="ModalReportLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:980px; align-content:center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="DownloadReportLabel">Indennita Servizio</h3>
            </div>
            <div class="modal-body">
                <div id="divViewIndennitaServizio">
                    @*Inserire il controllo per l'azione*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#tbIndennitaPersonale').DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "info": false,
        "lengthChange": false,
        "pageLength": 5,
        "searching": false,
        "paging": true,
        "bJQueryUI": true,
        "sDom": 'lfrtip',
        "columnDefs": [
                {
                    "targets": 'sort',
                    "orderable": true,

                }
        ],
        "order": [[0, "desc"]]
    });

    function DownloadReportIndennitaServizio() {
        $('#ModalReport').modal().show();

    }

    var windowWidth = $(window).width();
    var windowHeight = $(window).height();

    $(function () {
        $("#dialog").dialog({
            autoOpen: false,
            show: {
                //effect: "blind",
                //duration: 1000
            },
            hide: {
                //effect: "explode",
                //duration: 1000
            },
            close: function (event, ui) {
                $('.container').removeClass("NoOverflow");
            },
            height: windowHeight, width: windowWidth


        });

        $("#opener").on("click", function () {
            $('.container').addClass("NoOverflow");

            $("#dialog").dialog("open");
            $("#dialog").css("background-color", "#ffffff");

            var rotta = "/Indennita/RptIndennitaPersonale";

            var idTrasferimento = $("#hidTrasferimento").val();


            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;
                    $("#dialog").empty();

                },
                success: function (result) {
                    //debugger;
                    $("#dialog").html(result);


                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });

        });
    });

     function RptIndennitaServizio() {
         //debugger;
         var rotta = "/Indennita/RptIndennitaServizio";

         var idTrasferimento = 0;

         if (!isNaN(idTrasf)) {
             idTrasferimento = idTrasf;
         } else {
             idTrasferimento = $("#hidTrasferimento").val();
         }
         @*var idTrasferimento = parseInt('@idTrasferimento');*@

                 $.ajax({
                     type: "POST",
                     url: rotta,
                     data: { idTrasferimento: idTrasferimento },
                     dataType: 'html',
                     beforeSend: function () {
                         //debugger;
                         VerificaAutenticazione();
                     },
                     success: function (result) {
                         //debugger;

                         $("#divViewIndennitaServizio").empty();
                         $("#divViewIndennitaServizio").html(result);
                     },
                     complete: function () {
                     },
                     error: function (jqXHR, textStatus, errorThrow) {
                         //debugger;
                         var msg = errorThrow.err;
                         ErroreElaborazioneAjax(msg);
                     }

                 });

     }
</script>