@model IEnumerable<NewISE.Models.DBModel.IndennitaPrimoSegretModel>
@using NewISE.Areas.Parametri.Models.dtObj;

@{
    bool escludiAnnullati = (bool)ViewBag.escludiAnnullati;

}

<p>
    <a id="btnInsNuovaIndPrimoSegr" href="#" onclick="NuovaIndennitaPrimoSegretario();">Inserisci Indennita di Primo Segretario</a>
</p>

<p>
    <div class="form-group">
        @Html.Label("lblIndPrimoSegr0", "Seleziona Indennità Primo Segretario", new { @class = "control-label" })
        <div id="divCombo">
            <div class="select2-container select2-container--classic">
                @Html.DropDownList("idIndPrimoSegr", ViewBag.PrimoSegretarioList as IEnumerable<SelectListItem>, new { @class = "form-control select2 select2-select", @onchange = "PrelevaPVIndPrimoSegr();", @onClick = "PrelevaPVIndPrimoSegr();" })
            </div>
        </div>
    </div>
</p>
<table id="tbIndBase" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dataInizioValidita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataFineValidita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.indennita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataAggiornamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.annullato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dataInizioValidita)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.dataFineValidita)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.indennita)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.dataAggiornamento)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.annullato)
                </td>
                @*<td style="text-align:center;">
                    @using (dtIndPrimoSegr dtib = new dtIndPrimoSegr())
                    {
                        if (dtib.EsistonoMovimentiPrima(item))
                        {
                            <a href="#" onclick="EliminaIndennitaPrimoSegretario(@item.idIndPrimoSegr );"><img alt="Elimina" src="~/Immagini/Eliminazione.png" width="25" /></a>
                        }
                        else
                        {
                            <a href="#" class="disabled"><img alt="Elimina" src="~/Immagini/EliminazioneDisable.png" width="25" /></a>
                        }
                    }


                </td>*@
            </tr>
        }
    </tbody>
</table>
<div id="dialog-confirm" title="Elimina indennità di primo segretario?" class="hide">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Si vuole procedere con l'eliminazione dell'indennità di primo segretario?</p>
</div>

<script type="text/javascript">
    $('.display').DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        }
    });

    $("#idIndPrimoSegr").select2({
        placeholder: "Seleziona indennità primo segretario",
        allowClear: true,
        language: "it",
        width: '150'

    });

    $("#btnInsNuovaIndPrimoSegr").button();

    function PrelevaPVIndPrimoSegr() {
        //debugger;
        rotta = "/Parametri/ParamPrimoIndSegr/IndennitaPrimoSegretarioLivello";

        var idIndPrimoSegr = parseInt($("#idIndPrimoSegr").select2('val'));
        var chk = true;

        if (isNaN(idIndPrimoSegr)) {
            $("#divPViewParametri").empty();
            return false;
        }

        if ('@escludiAnnullati' == 'true') {
            chk = false;
        }

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idIndPrimoSegr: idIndPrimoSegr, escludiAnnullati: chk },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPViewParametri").empty();
                $("#divPViewParametri").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

    function NuovaIndennitaPrimoSegretario() {
        //debugger;

        var rotta = "/Parametri/ParamPrimoIndSegr/NuovaIndennitaPrimoSegretario";
        var idIndPrimoSegr = parseInt($("#idIndPrimoSegr").select2('val'));
        var chk = false;

        if (isNaN(idIndPrimoSegr)) {
            //$("#divPViewParametri").empty();
            AlertDialog("Selezionare una indennita per procedere.");
            return false;
        }

        if ('@escludiAnnullati' == 'true') {
            chk = false;
        }

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idIndPrimoSegr: idIndPrimoSegr, escludiAnnullati: chk },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPViewParametri").empty();
                $("#divPViewParametri").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

    function EliminaIndPrimoSegretario(id) {
        //debugger;
        var rotta = "/Parametri/ParamPrimoIndSegr/EliminaIndennitaPrimoSegretario";

        var idIndPrimoSegr = parseInt($("#idIndPrimoSegr").select2('val'));
        var chk = true;

        if (isNaN(idIndPrimoSegr)) {
            $("#divPViewParametri").empty();
            return false;
        }

        @*if ('@escludiAnnullati' == 'true') {
            chk = false;
        }*@

        $('#dialog-confirm').dialog({
            autoOpen: true,
            width: 400,
            buttons: [
                {
                    text: "OK",
                    click: function () {
                        $(this).dialog("close");
                        $.ajax({
                            type: "POST",
                            url: rotta,
                            data: { escludiAnnullati: chk, idIndPrimoSegr: idIndPrimoSegr, idIndPrimoSegr: id },
                            dataType: 'html',
                            beforeSend: function () {
                                //debugger;
                                //VerificaAutenticazione();
                                //$("#DialogNewDoc").dialog("destroy");
                                //$("#divEffettoLoadAutNoDoc").show("slow");

                            },
                            success: function (result) {
                                //debugger;
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                $("#divPViewParametri").empty();
                                $("#divPViewParametri").html(result);

                                //RicercaDocumenti();

                            },
                            complete: function () {
                                //$("#divEffettoLoadAutNoDoc").hide("slow");
                                //                $("#Centro").getNiceScroll().resize();
                            },
                            error: function (jqXHR, textStatus, errorThrow) {
                                //debugger;
                                var msg = errorThrow.err;
                                AlertDialog(msg);
                            }

                        });
                    },
                    "class": "ui-button-danger"
                },
                {
                    text: "Annulla",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });

    }
</script>