@model NewISE.Models.DBModel.AltriDatiFamConiugeModel

@{
    decimal idAttivazioneMagFam = Convert.ToDecimal(ViewData["idAttivazioneMagFam"]);
    //decimal idMaggiorazioneConiuge = Convert.ToDecimal(ViewData["idMaggiorazioneConiuge"]);

    //decimal idConiuge = Convert.ToDecimal(ViewData["idConiuge"]);

    bool solaLettura = Convert.ToBoolean(ViewData["solaLettura"]);

}



<div>
    <h4>Altri Dati Familiari</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Coniuge.nominativo)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.Coniuge.nominativo)</span>
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.nazionalita)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.nazionalita)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.indirizzoResidenza)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.indirizzoResidenza)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capResidenza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capResidenza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comuneResidenza)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.comuneResidenza)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provinciaResidenza)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.provinciaResidenza)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.residente)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.residente)</span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ulterioreMagConiuge)
        </dt>

        <dd>
            <span class="text-uppercase">@Html.DisplayFor(model => model.ulterioreMagConiuge)</span>
        </dd>

    </dl>
</div>
<p style="padding-left: 15px;">

    @if (solaLettura)
    {
        <button class="btn btn-default disabled">Modifica</button>
    }
    else
    {
        @Ajax.ActionLink("Modifica", "ModificaAltriDatiFamiliariConiuge", "AltriDatiFamiliari", new { idAltriDatiFam = Model.idAltriDatiFam, idAttivazioneMagFam = idAttivazioneMagFam }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tabConiuge", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success" })
    }
    | @Ajax.ActionLink("Torna indietro", "ElencoConiuge", "MaggiorazioniFamiliari", new { idAttivazioneMagFam = idAttivazioneMagFam }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tabConiuge", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace })

</p>
