@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.DBModel.ViaggioCongedoModel>

@{
    decimal idViaggioCongedo = Convert.ToDecimal(ViewData["idViaggioCongedo"]);
    //decimal idAttivazioneTitoliViaggio = Convert.ToDecimal(ViewData["idAttivazioneTitoliViaggio"]);
    //bool richiestaEseguita = Convert.ToBoolean(ViewData["richiestaEseguita"]);
    //EnumStatoTraferimento statoTrasferimento = (EnumStatoTraferimento)Convert.ToDecimal(ViewData["statoTrasferimento"]);
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    bool admin = Convert.ToBoolean(ViewBag.Amministratore);
}


<p>   
    <hr />
    <div class="row">
        <div class="col-xs-5" style="margin-top:5px;left:300px">
            <table id="tabUploadPreventiviViaggio">
                @Html.Action("ElencoUploadPreventiviViaggiCongedo", "ViaggiCongedo", new { idViaggioCongedo = idViaggioCongedo, idTrasferimento=idTrasferimento })
            </table>
        </div>
    </div>
    <div style="padding-top: 10px;">
        <table id="tabElencoPreventiviViaggio" class="table-striped" cellspacing="0">
            <thead>
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.NomeFile)
                    </th>
                    <th class="text-center">
                       Visualizza
                    </th>
                    <th class="text-center">
                      Operazioni
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <span class="text-uppercase">@Html.DisplayFor(modelItem => item.NomeFile)</span>
                        </td>
                        <td style="text-align: center;">
                            <a href="@Url.RouteUrl("LeggiViaggiCongedoPDF", new { id = @item.idDocumento })" target="_blank">
                                <img width="17" src="~/Immagini/IconeDocumenti/PDF-icon.png" title="Click per visualizzare il documento" />
                            </a>
                        </td>
                        @if(admin)
                         {   
                            <td class="text-center">
                                <input type="radio" name='abc' value='@item.idAttivazioneVC'>
                            </td>
                          }
                            else
                            {
                                <td  class="text-center">
                                    <input disabled type="radio" name='abc' value='@item.idAttivazioneVC'>
                                </td>
                            }
                    </tr> 
                }
            </tbody>
        </table>
    </div>

   

    <div class="row">
        <div class="col-md-5" style="margin-top:10px; left:150px">
            <table id="tabUploadDocumentiViaggiCongedo">
                @Html.Action("ElencoUploadDocumentiViaggiCongedo", "ViaggiCongedo", new { idViaggioCongedo = idViaggioCongedo })
            </table>
        </div>
        <div class="pull-right" style="margin-top: 10px; margin-bottom: 10px;margin-right:35px ">
            <button class="btn btn-default btn-sm disabled" disabled id="btNotificaRichiestaMagFam" onclick="ModalNotificaRichiesta();">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Notifica richiesta
            </button>

            <button class="btn btn-default btn-sm disabled" disabled id="btAttivaMagFam" onclick="ModalAttivaRichiesta(); ">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Attiva preventivo
            </button>

            <button class="btn btn-default btn-sm disabled" disabled id="btAnnullaMagFam" onclick="ModalAnnullaRichiesta();">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Annulla richiesta
            </button>
        </div>
    </div>

    <script type="text/javascript">

        $("#tabElencoPreventiviViaggio").DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        //"info": false,
        "lengthChange": false,
        "pageLength": 5,
        //"searching": false,
        //"paging": false,
        //"bJQueryUI": true,
        //"sDom": 'lfrtip',
        //"order": [[4, "desc"]]
    });


   

  

    </script>


