@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.DBModel.ViaggioCongedoModel>
@using NewISE.Models.DBModel.Enum;
@{
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    bool admin = Convert.ToBoolean(ViewBag.Amministratore);
    //    decimal id_Viaggio_Congedo = Convert.ToDecimal(ViewData["id_Viaggio_Congedo"]);
    decimal id_Attiv_Viaggio_Congedo = Convert.ToDecimal(ViewData["id_Attiv_Viaggio_Congedo"]);
    bool NotificaInviata = Convert.ToBoolean(ViewData["NotificaInviata"]);
    bool AttivazioneInviata = Convert.ToBoolean(ViewData["AttivazioneInviata"]);
    decimal idFaseInCorso = (decimal)ViewData["idFaseInCorso"];
    bool nuovVC = Convert.ToBoolean(ViewData["NuovoViaggiCongedo"]);

}
<div style="padding-top: 10px;left:120px">
    <table id="tabElencoPreventiviViaggio" class="table">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.NomeFile)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Estensione)
                </th>
                <th class="text-center no-sort">
                    Visualizza
                </th>
                <th class="text-center no-sort">
                    Operazioni
                </th>
                <th class="text-center no-sort">
                    Elimina
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        <span class="text-uppercase">@Html.DisplayFor(modelItem => item.NomeFile)</span>
                    </td>
                    <td class="text-center">
                        <span class="text-uppercase">@Html.DisplayFor(modelItem => item.Estensione)</span>
                    </td>
                    <td style="text-align: center;">
                        <a href="@Url.RouteUrl("LeggiViaggiCongedoPDF", new { id = @item.idDocumento })" target="_blank">
                            <img width="17" src="~/Immagini/IconeDocumenti/PDF-icon.png" title="Click per visualizzare il documento" />
                        </a>
                    </td>
                    @if (admin)
                    {
                        if (idFaseInCorso == Convert.ToDecimal(EnumFaseViaggioCongedo.Documenti_di_Viaggio))
                        {
                            if (AttivazioneInviata)
                            {
                                <td class="text-center">
                                    <input disabled checked="@item.DocSelezionato" type="radio" id="attivare" name='attivare' value='@item.idDocumento'>
                                </td>
                            }
                            else
                            {
                                <td class="text-center">
                                    <input type="radio" onclick="AttivarePreventivo();" id="attivare" name='attivare' value='@item.idDocumento'>
                                </td>
                            }
                        }
                        else
                        {
                            if (AttivazioneInviata)
                            {
                                <td class="text-center">
                                    <input disabled checked="@item.DocSelezionato" type="radio" onclick="AttivarePreventivo()" id="attivare" name='attivare' value='@item.idDocumento'>
                                </td>
                            }
                            else if (NotificaInviata)
                            {
                                <td class="text-center">
                                    <input type="radio" onclick="AttivarePreventivo();" id="attivare" name='attivare' value='@item.idDocumento'>
                                </td>
                            }
                            else
                            {
                                <td class="text-center">
                                    <input disabled type="radio" id="attivare" name='attivare' value='@item.idDocumento'>
                                </td>
                            }
                        }
                    }
                    else
                    {
                        <td class="text-center">
                            <input disabled type="radio" name='attivare' value='@item.idDocumento'>
                        </td>
                    }
                    @if (NotificaInviata)
                    {
                        <td class="text-center">
                            <span class="disabled">
                                <a href="#" class="disabled" onclick="EliminaDocPreventivi(@item.idDocumento)" id="linkEliminaPreventivi">
                                    <img class="SfondoBordoImg" width="17" src="../../Immagini/delete_grey.png" title="Elimina Preventivo" />
                                </a>
                            </span>
                        </td>
                    }
                    else
                    {
                        <td class="text-center">
                            <span>
                                <a href="#" onclick="EliminaDocPreventivi(@item.idDocumento)" id="linkEliminaPreventivi">
                                    <img class="SfondoBordoImg" width="17" src="../../Immagini/delete.png" title="Elimina Preventivo" />
                                </a>
                            </span>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>



<script type="text/javascript">


    $("#NewDocPreventiviModal").on("hidden.bs.modal", function () {
        //debugger;
        TabElencoPreventivi();
        GestionePulsantiPVC();
        ControllaTastoNotifica();
    });


    $("#tabElencoPreventiviViaggio").DataTable({
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "info": false,
        "lengthChange": false,
        "pageLength": 5,
        "searching": false,
        "paging": false,
        "bJQueryUI": true,
        "sDom": 'lfrtip',
        "scrollY": 150,
        "scrollCollapse": true,
        "columnDefs": [
                {
                    "targets": 'no-sort',
                    "orderable": false,

                }
        ],
    });




    function AttivarePreventivo() {
        //  debugger;
        var abilitato_ = $('input:radio[name="attivare"]:checked').val();
        var idTrasferimento=@idTrasferimento;

        $("#btAttivaPreventivi").prop('disabled', false);
        $("#btAttivaPreventivi").removeClass('disabled');
    }

    function EliminaDocPreventivi(idDoc){
        //  debugger;
        $('#HI_idDocumentoPreventivo').val(idDoc);
        $('#ModalEliminaPreventiviDocumenti').modal().show();
    }

</script>