@model NewISE.Models.ViewModel.AnticipiViewModel

@{
    decimal idAttivitaAnticipi = Convert.ToDecimal(ViewData["idAttivitaAnticipi"]);
    decimal NumAttivazioni = Convert.ToDecimal(ViewData["NumAttivazioni"]);
    bool soloLettura = Convert.ToBoolean(ViewData["soloLettura"]);
    decimal ValsoloLettura = Convert.ToDecimal(ViewData["soloLettura"]);
    string txtReadOnly = "";
    if (soloLettura)
    {
        txtReadOnly = "readonly";
    }
}

<script src="~/Scripts/autoNumeric/autoNumeric-min.js"></script>

@Html.Hidden("hiPercentualeRichiesta")
@Html.Hidden("hiPercentualeAnticipoRichiesto")

<div style="padding-right: 10px;">
    <h4>Richiesta Anticipi</h4>
    <hr />
    <div class="table col-xs-12">
        <div class="row">
            <div class="col-xs-4">
            </div>

            <div class="col-xs-2 text-center" style="font-weight:bold">
                @Html.DisplayNameFor(model => model.ImportoPrevisto)
            </div>
            <div class="col-xs-2 text-center" style="font-weight:bold">
                @Html.DisplayNameFor(model => model.PercentualeAnticipoRichiesto)
            </div>
            <div class="col-xs-2 text-center" style="font-weight:bold">
                @Html.DisplayNameFor(model => model.ImportoPercepito)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-right" style="padding-right:15px;font-weight:bold">
                Indennità di Prima Sistemazione:
            </div>
            <div class="col-xs-2">
                <input id="ImportoPrevisto" value="@Model.ImportoPrevisto" class="form-control " readonly style="text-align: right" />
            </div>
            <div class="col-xs-2">
                <input maxlength="3" onkeyup="CalcolaAnticipo();" id="PercentualeAnticipoRichiesto" value="@Model.PercentualeAnticipoRichiesto" class="form-control " @txtReadOnly style="text-align: right" />
            </div>
            <div class="col-xs-2">
                <input id="ImportoPercepito" value="@Model.ImportoPercepito" class="form-control " readonly style="text-align: right" />
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $("#PercentualeAnticipoRichiesto").focus(function() {
        $(this).select();
    });

    //Globalize.culture("it-IT");

    $("#PercentualeAnticipoRichiesto").autoNumeric('init',
	{
	    aSep: '.',
	    aDec: ',',
	    aSign: ''
	});

    $("#ImportoPrevisto").autoNumeric('init',
   {
       aSep: '.',
       aDec: ',',
       aSign: ''
   });
    //new AutoNumeric("#PercentualeAnticipoRichiesto", { currencySymbol : '€' });

    //const autoNumericOptionsEuro = {
    //    digitGroupSeparator        : '.',
    //    decimalCharacter           : ',',
    //    decimalCharacterAlternative: '.',
    //    currencySymbol             : '\u202f€',
    //    currencySymbolPlacement    : AutoNumeric.options.currencySymbolPlacement.suffix,
    //    roundingMethod             : 'U',
    //};
    //new AutoNumeric("#PercentualeAnticipoRichiesto", autoNumericOptionsEuro);

    

    $('#hiPercentualeRichiesta').val(@Model.PercentualeAnticipoRichiesto);

    //CalcolaAnticipo();

    $(document).ready(function () {
        $('[id^=idPercentualeAnticipoRichiesto]').keypress(validateNumber);
    });

    function validateNumber(event) {
        var key = window.event ? event.keyCode : event.which;
        if (event.keyCode === 8) {
            return true;
        } else if (key < 48 || key > 57) {
            return false;
        } else {
            return true;
        }
    };



    function CalcolaAnticipo() {
        //debugger;


        var appo = parseInt($("#PercentualeAnticipoRichiesto").val());
        var percentualeRichiesta = parseFloat(appo).toFixed(2);

        var ImportoPrevisto = parseFloat($("#ImportoPrevisto").val());
        //var ImportoPrevisto = parseFloat(appo).toFixed(2);

        var calcolo = Number((ImportoPrevisto * (percentualeRichiesta / 100))).toFixed(2);
        $("#ImportoPercepito").val(calcolo);

        //var appo1 = parseFloat($("ImportoPercepito").val());
        //$("#ImportoPercepito").val(appo1);

        var percentualeRichiesta_old = parseFloat($("#hiPercentualeRichiesta").val()).toFixed(2);

        if (!isNaN(percentualeRichiesta) && @ValsoloLettura==0 && percentualeRichiesta_old != percentualeRichiesta) {
            $("#btNotificaRichiestaAnticipi").removeAttr("disabled");
            $("#btNotificaRichiestaAnticipi").removeClass("disabled");
        } else
        {
            $("#btNotificaRichiestaAnticipi").attr("disabled", "disabled");
            $("#btNotificaRichiestaAnticipi").addClass("disabled");
        }


       


    }
</script>
