@model IEnumerable<NewISE.Areas.Parametri.Models.PercMaggAbitazModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idPercMabAbitaz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUfficio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Livello)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.percentuale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataInizioValidita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataFineValidita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annullato)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idPercMabAbitaz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUfficio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Livello)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.percentuale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataInizioValidita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataFineValidita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.annullato)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPercMabAbitaz }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPercMabAbitaz }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPercMabAbitaz })
        </td>
    </tr>
}

</table>
