@model IEnumerable<NewISE.Areas.Statistiche.Models.Stp_Spese__di_avvicendamento>

<div class="form-horizontal">
    <div class="form-group">
        <hr />

        <div class="col-md-2">
            @*@Html.Editor("Dal", new { htmlAttributes = new { @class = "form-control", @value = DateTime.Now.ToString("dd/MM/yyyy"), @placeholder = DateTime.Now.ToString("dd/MM/yyyy") } })
            @Html.ValidationMessage("Formato Data non corretto", "", new { @class = "text-danger" })*@
            @Html.TextBox("Data da inserire", null, new { @class = "form-control datepicker", @id = "datepicker", @placeholder = "Seleziona una data", @value = DateTime.Now.ToString("dd/MM/yyyy") })
        </div>

        <div class="col-md-2">
            @*@Html.Editor("Dal", new { htmlAttributes = new { @class = "form-control", placeholder = "dd/mm/yyyy" } })
            @Html.ValidationMessage("Formato Data non corretto", "", new { @class = "text-danger" })*@
            @Html.TextBox("Data da inserire", null, new { @class = "form-control datepicker", @id = "datepicker1", @placeholder = "Seleziona una data", @value = DateTime.Now.ToString("dd/MM/yyyy") })
        </div>
       

    </div>
    <br />
</div>

<div class="form-group">
    <div class="col-md-3">
        <a href="#" onclick="PrelevaSpeseAvvicendamento()">Visualizza il Consuntivo Spese di Avvicendamento </a>
    </div>
    <div class="col-md-3">
        <a href="#" target="_blank" onclick="invia()">Stampa il Consuntivo Spese di Avvicendamento </a>
    </div>
</div>
<br /><br />

<table id="tb_Spese_Avvicendamento" class="display" cellspacing="0">
    <thead>
        <tr>  
            <th>
                @Html.DisplayNameFor(model => model.MATRICOLA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMINATIVO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CODICE_SEDE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIZIONE_SEDE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SPESA)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.INDENITA_IN_VALUTA)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>          
                <td>
                    @Html.DisplayFor(modelItem => item.MATRICOLA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMINATIVO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CODICE_SEDE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIZIONE_SEDE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SPESA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.INDENITA_IN_VALUTA)
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $('#tb_Spese_Avvicendamento').DataTable({
            "order": [],
            "scrollY": 220,
            "scrollX": true,
            "language": {
                "sEmptyTable": "Nessun dato presente nella tabella",
                "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
                "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
                "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Visualizza _MENU_ elementi",
                "sLoadingRecords": "Caricamento...",
                "sProcessing": "Elaborazione...",
                "sSearch": "Cerca:",
                "sZeroRecords": "La ricerca non ha portato alcun risultato.",
                "oPaginate": {
                    "sFirst": "Inizio",
                    "sPrevious": "Precedente",
                    "sNext": "Successivo",
                    "sLast": "Fine"
                },
                "oAria": {
                    "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                    "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                }

            }
        });

       function invia() {
            //debugger

            var data = $("#datepicker").datepicker().val()
            var data1 = $("#datepicker1").datepicker().val()

            window.location.href = "/Statistiche/ArchivioVecchioISE/RptSpeseAvvicendamento?V_DATA=" + data + "&V_DATA1=" + data1 + ""

        };
   

        // Calendario con possibilità di cambiare mese e anno
        $(document).ready(function () {
            $(".datepicker").datepicker({

                changeMonth: true,
                changeYear: true,
                //yearRange: '2001:2010',
                //dateFormat: 'dd-mm-yy',
                //defaultDate: '01-01-2001'
                //yearRange: "-15:+0",
                //defaultDate: '01/01/01'
            });
        });

        // Calendario con possibilità di cambiare mese e anno
        $(document).ready(function () {
            $(".datepicker1").datepicker({

                changeMonth: true,
                changeYear: true,
                //yearRange: '1920:2010',
                //dateFormat: 'dd-mm-yy',
                //defaultDate: '01-01-2001'
                //yearRange: "-15:+0",
                //defaultDate: '01/01/01'
            });
        });

        function PrelevaSpeseAvvicendamento() {
            //debugger;

            rotta = "/Statistiche/ArchivioVecchioISE/SpeseAvvicendamento";

            //var codicequalifica = $("#COD_QUALIFICA").select2('val');
            var data = $("#datepicker").val();
            var data1 = $("#datepicker1").val();

            var chk = true;

            //$("#codicedipendente").val = idMatricola;

            //if (isNaN(codicequalifica)) {
            //    $("#divPViewParametri").empty();
            //    return false;
            //}

            //if (isNaN(null)) {
            //    alert("null is not a number");
            //} else {
            //    alert("i think null is a number");
            //}

            $.ajax({
                type: "POST",
                url: rotta,
                data: {
                    //codicequalifica: codicequalifica,
                    V_DATA: data,
                    V_DATA1: data1
                },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;
                    $("#divPViewParametri").empty();
                    //VerificaAutenticazione();
                    //$("#DialogNewDoc").dialog("destroy");
                    //$("#divEffettoLoadAutNoDoc").show("slow");
                },
                success: function (result) {
                    //debugger;
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //$("#divPViewParametri").empty();
                    $("#divPViewParametri").html(result);

                    //RicercaDocumenti();

                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });

        }

</script>






